<div class="blog_post_bl">
    {% unless skip_title %}
        <div class="section_header text-start mw-100 ms-0 ps-0">
            <h2 class="title-xl">{{ blogs[blog_handle].title }}</h2>
        </div>
    {% endunless %}
    <div class="blogSliderLED_outer">
        <div class="swiper twa__swiper blogSliderLED dot_pagination"
            id="twa__swiper-blogSlider-{{ blog_handle }}" data-section-id="blogSlider-{{ blog_handle }}"
            data-autoplay="false" data-loop="false" data-centerslide="false"
            data-mobile="1" data-tablet="2" data-desktop="3" data-spacing="0"
            data-arrowleft="blogSlider-{{ blog_handle }}-swiper-prev"
            data-arrowright="blogSlider-{{ blog_handle }}-swiper-next">
            <div class="swiper-wrapper">
                {% for article in blogs[blog_handle].articles %}
                    <div class="swiper-slide">
                        <div class="blog_wrap">
                            <div class="blog_img">
                                <a href="{{ article.url }}" aria-label="{{ article.title | truncatewords: 8 | escape }}">
                                    {% if article.image != blank %}
                                    <picture>
                                        <source media="(min-width:1920px)" srcset="{{ article.image | img_url: 'master' }}">
                                        <source media="(min-width:1600px)" srcset="{{ article.image | img_url: '1600x' }}">
                                        <source media="(min-width:1100px)" srcset="{{ article.image | img_url: '1100x' }}">
                                        <img class="img-fluid" src="{{ article.image | img_url: '720x' }}" alt="{{ block.settings.image.alt | escape }}" width="167" height="100">
                                    </picture>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="blog_content">
                                <h6 class="blog_info">#{{ blogs[blog_handle].title }}</h6>
                                <h5 class="blog_title">{{ article.title | truncatewords: 8 }}</h5>
                            </div>
                            <div class="blog_btn_wrapper">
                                <a class="btn btn-primary blog_btn" href="{{ article.url }}" aria-label="{{ article.title | truncatewords: 8 | escape }}">Read More</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>

<style>
    .subscriptions_section ul li:not(:last-child) {
        padding-bottom: 10px !important;
    }

    @media screen and (max-width: 768px) {
        .subscriptions_section ul li:not(:last-child) {
            margin-bottom: 5px !important;
        }
        img {
            width: 100%;
        }
    }
</style>