<div class="filter_sort_wrap d-block d-md-none">
    <button class="btn btn-primary filter_sort_btn" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Filter & Sort <span
            class="ms-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="8" viewBox="0 0 16 8"
                fill="none">
                <path opacity="0.8" d="M15 1L8 7L1 1" stroke="black" stroke-width="1.5"
                    stroke-linecap="round" />
    </svg></span></button>

    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom"
        aria-labelledby="offcanvasBottomLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel"></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body small">
            <div class="collections_tab">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                            aria-selected="true">Filter By</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-profile" type="button" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Sort By</button>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                    aria-labelledby="pills-home-tab">
                    <div class="collection collection-container collection_filter_by">
                        <div class="col-filter product-filters product-filters-mob">
                            <div class="accordion" id="filterPanel">
                                {% for filter in collection.filters %}
                                    {% case filter.type %}
                                        {% when 'boolean', 'list' %}
                                            <div class="accordion-item">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#panelsStayOpen-{{ forloop.index }}" aria-expanded="true"
                                                    aria-controls="panelsStayOpen-{{ forloop.index }}">
                                                    <span class="fil-title">{{- filter.label | escape }}</span>
                                                </button>
                                                <div id="panelsStayOpen-{{ forloop.index }}" class="accordion-collapse collapse"
                                                    aria-labelledby="filterPanel__{{ forloop.index }}" data-bs-parent="#filterPanel">
                                                    <div class="accordion-body">
                                                        <ul class=" list-unstyled no-js-hidden" role="list">
                                                            {%- for value in filter.values -%}
                                                                <li class="list-menu__item facets__item">
                                                                    <label for="{{ filter.param_name | escape }}-{{ forloop.index }}"
                                                                        class="facet-checkbox">
                                                                        <input
                                                                            type="checkbox"
                                                                            name="{{ value.param_name }}"
                                                                            value="{{ value.value }}"
                                                                            id="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}"
                                                                            {% if value.active %}
                                                                            checked
                                                                            {% endif %}
                                                                            {% if value.count == 0 and value.active == false %}
                                                                            disabled
                                                                            {% endif %}
                                                                        >
                                                                        <span aria-hidden="true">{{ value.label | escape }}</span>
                                                                    </label>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                    {% endcase %}
                                {% endfor %}
                                <div class="clear_filter">
                                    <a href="#" class="clear_filter_text">
                                        Clear filters
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% render 'collection-sort-by-mobile' %}
            </div>
        </div>
    </div>
</div>