{% liquid
  #######
  # general settings
  #######
  assign general_settings = page.metafields.custom.general_information_purchase_process.value

  #######
  # metaFields / metaObjects
  #######

  # product1 / mix
  assign products1 = page.metafields.custom.landing_product_one.value
  assign products1_products = page.metafields.custom.landing_product_one.value.list_products.value
  assign products1_type = products1.select_type.value

  # each mix product
  ## for to split and general info
  for data in products1_products
    if forloop.index == 1
      assign products1_product_1_month = data
    elsif forloop.index == 2
      assign products1_product_2_month = data
    elsif forloop.index == 3
      assign products1_product_3_month = data
    endif
  endfor
  ## split info only for products
  assign first_products1_product = products1_product_1_month.data.value
  assign second_products1_product = products1_product_2_month.data.value
  assign third_products1_product = products1_product_3_month.data.value
  #######
  # end products1 / mix

  # product2 / silver
  assign products2 = page.metafields.custom.landing_product_2.value
  assign products2_products = page.metafields.custom.landing_product_2.value.list_products.value
  assign products2_type = products2.select_type.value

  for data in products2_products
    if forloop.index == 1
      assign products2_product_1_month = data
    elsif forloop.index == 2
      assign products2_product_2_month = data
    elsif forloop.index == 3
      assign products2_product_3_month = data
    endif
  endfor

  assign first_products2_product = products2_product_1_month.data.value
  assign second_products2_product = products2_product_2_month.data.value
  assign third_products2_product = products2_product_3_month.data.value

  # end products2 / products2

  # products3 / rejuvenating
  assign products3 = page.metafields.custom.landing_product_3.value
  assign products3_type = products3.select_type.value
  assign products3_products = page.metafields.custom.landing_product_3.value.list_products.value

  for data in products3_products
    if forloop.index == 1
      assign products3_product_1_month = data
    elsif forloop.index == 2
      assign products3_product_2_month = data
    elsif forloop.index == 3
      assign products3_product_3_month = data
    endif
  endfor

  assign first_products3_product = products3_product_1_month.data.value
  assign second_products3_product = products3_product_2_month.data.value
  assign third_products3_product = products3_product_3_month.data.value

  #######
%}

<script>
  // console.log("general_settings", {{ general_settings | json }});
  // console.log('products2', {{products2 |  json}})
  // console.log('products2_products', {{products2_products |  json}})
  // console.log('products2_type', {{products2_type |  json}})
  // console.log('first_products2_product', {{first_products2_product |  json}})
  // console.log("mix", {{ mix | json }});
  // console.log("mix_products", {{ mix_products | json }});
  // console.log("mix_type", {{ mix_type | json }});
  // console.log("first_mix_product", {{ first_mix_product | json }});
  // console.log("second_mix_product", {{ second_mix_product | json }});
  // console.log("third_mix_product", {{ third_mix_product | json }});
</script>

<section id="new-landing-purchase" class="new-landing-purchase">
  <div>
    <div>
      <h3>{{ general_settings.title }}</h3>
      <p>{{ general_settings.subtitle }}</p>
    </div>
  </div>
  <div>
    <span>bread crumbs</span>
  </div>
  {% comment %} main panel container {% endcomment %}
  <div id="main-panel-lading">
    {% comment %} panel 1 {% endcomment %}
    <div id="landing-step-one" class="landing-panel">
      <div>
        <h3>{{ general_settings.title_component }}</h3>
      </div>
      {% comment %} products1 / mix {% endcomment %}
      {% render 'pdm-landing-purchase-step1-inputs',
        productOne: third_products1_product,
        productOneInfo: products1_product_3_month,
        productTwo: second_products1_product,
        productTwoInfo: products1_product_2_month,
        productThree: first_products1_product,
        productThreeInfo: products1_product_1_month,
        name: 'products1'
      %}
      {% comment %} products2 / silver {% endcomment %}
      {% render 'pdm-landing-purchase-step1-inputs',
        productOne: third_products2_product,
        productOneInfo: products2_product_3_month,
        productTwo: second_products2_product,
        productTwoInfo: products2_product_2_month,
        productThree: first_products2_product,
        productThreeInfo: products2_product_1_month,
        name: 'products2'
      %}

      {% comment %} products3 / gold {% endcomment %}
      {% render 'pdm-landing-purchase-step1-inputs',
        productOne: third_products3_product,
        productOneInfo: products3_product_3_month,
        productTwo: second_products3_product,
        productTwoInfo: products3_product_2_month,
        productThree: first_products3_product,
        productThreeInfo: products3_product_1_month,
        name: 'products3'
      %}
    </div>
    {% comment %} panel 2 {% endcomment %}
    <div id="landing-step-two" class="landing-panel">
      <div>
        <h3>{{ general_settings.step_2_title }}</h3>
      </div>
      <div id="step2-select" class="">
        <input type="radio" id="serum-1" name="step2" value="{{ products3_type.type }}">
        <label for="serum-1">
          {% render 'pdm-landing-purchase-serum', data: products3_type %}
        </label>
        <input type="radio" id="serum-2" name="step2" value="{{ products2_type.type }}">
        <label for="serum-2">
          {% render 'pdm-landing-purchase-serum', data: products2_type %}
        </label>
        <input type="radio" id="serum-3" name="step2" value="{{ products1_type.type }}" checked>
        <label for="serum-3">
          {% render 'pdm-landing-purchase-serum', data: products1_type %}
        </label>
      </div>
    </div>
    {% comment %} panel 3 {% endcomment %}
    <div id="landing-step-three" class="landing-panel">
      <div>
        <h3>{{ general_settings.step_3_title }}</h3>
      </div>
      <div>
        <input type="radio" id="opt7" name="step3" value="">
        <label for="opt7">
          {% render 'pdm-landing-step3-card', data: general_settings, cardCase: 0 %}
        </label>
        <input type="radio" id="opt8" name="step3" value="">
        <label for="opt8">
          {% render 'pdm-landing-step3-card', data: general_settings, cardCase: 1 %}
        </label>
      </div>
    </div>
    {% comment %} panel 4 {% endcomment %}
    <div id="landing-step-fourth" class="landing-panel">
      <div>
        <h3>{{ general_settings.step_4_title }}</h3>
      </div>
      <div style="display: flex; flex-direction:row">
        <input type="radio" id="opt9" name="step4" value="">
        <label for="opt9">
          {% render 'pdm-landing-step4-card', data: general_settings, cardCase: 0 %}
        </label>
        <input type="radio" id="opt9" name="step4" value="">
        <label for="opt9">
          {% render 'pdm-landing-step4-card', data: general_settings, cardCase: 1 %}
        </label>
      </div>
    </div>
  </div>
  {% comment %} buttons {% endcomment %}
  <div>
    <button
      id="landing-test"
    >
      test
    </button>
    <button
      id="landing-back"
    >
      back
    </button>
    <button
      id="landing-next"
    >
      next
    </button>
  </div>
</section>
