{% liquid
  #######
  # general settings
  #######
  assign general_settings = page.metafields.custom.general_information_purchase_process.value

  #######
  # metaFields / metaObjects
  #######

  # rejuvenating
  assign rejuvenating = page.metafields.custom.landing_product_3.value
  assign rejuvenating_type = rejuvenating.select_type.value
  assign gold_products = page.metafields.custom.landing_product_3.value.list_products.value

  for data in gold_products
    if forloop.index == 1
      assign gold_product_1_month = data
    elsif forloop.index == 2
      assign gold_product_2_month = data
    elsif forloop.index == 3
      assign gold_product_3_month = data
    endif
  endfor

  assign first_gold_product = gold_product_1_month.data.value
  assign second_gold_product = gold_product_2_month.data.value
  assign third_gold_product = gold_product_3_month.data.value

  # hydra soothing
  assign hydraSoothing = page.metafields.custom.landing_product_2.value
  assign silver_products = page.metafields.custom.landing_product_2.value.list_products.value
  assign hydraSoothing_type = hydraSoothing.select_type.value

  for data in silver_products
    if forloop.index == 1
      assign silver_product_1_month = data
    elsif forloop.index == 2
      assign silver_product_2_month = data
    elsif forloop.index == 3
      assign silver_product_3_month = data
    endif
  endfor

  assign first_silver_product = silver_product_1_month.data.value
  assign second_silver_product = silver_product_2_month.data.value
  assign third_silver_product = silver_product_3_month.data.value

  #end hydrasoothing / silver
  
  # mix
  assign mix = page.metafields.custom.landing_product_one.value
  assign mix_products = page.metafields.custom.landing_product_one.value.list_products.value
  assign mix_type = mix.select_type.value


  # each mix product
  ## for to split and general info
  for data in mix_products
    if forloop.index == 1
      assign mix_product_1_month = data
    elsif forloop.index == 2
      assign mix_product_2_month = data
    elsif forloop.index == 3
      assign mix_product_3_month = data
    endif
  endfor
  ## split info only for products
  assign first_mix_product = mix_product_1_month.data.value
  assign second_mix_product = mix_product_2_month.data.value
  assign third_mix_product = mix_product_3_month.data.value
  ####### 
  #end mix
  #######
%}

<script>
  console.log('hydraSoothing', {{hydraSoothing |  json}})
  console.log('silver_products', {{silver_products |  json}})
  console.log('hydraSoothing_type', {{hydraSoothing_type |  json}})
  console.log('first_silver_product', {{first_silver_product |  json}})
  // console.log("general_settings", {{ general_settings | json }});
  // console.log("mix", {{ mix | json }});
  // console.log("mix_products", {{ mix_products | json }});
  // console.log("mix_type", {{ mix_type | json }});
  // console.log("first_mix_product", {{ first_mix_product | json }});
  // console.log("second_mix_product", {{ second_mix_product | json }});
  // console.log("third_mix_product", {{ third_mix_product | json }});
</script>

<section id="new-landing-purchase" class="new-landing-purchase">
  <div>
    <div>
      <h3>{{ general_settings.title }}</h3>
      <p>{{ general_settings.subtitle }}</p>
    </div>
  </div>
  <div>
    <span>bread crumbs</span>
  </div>
  {% comment %} main panel container {% endcomment %}
  <div id="main-panel-lading">
    {% comment %} panel 1 {% endcomment %}
    <div id="landing-step-one" class="landing-panel">
      <div>
        <h3>{{ general_settings.title_component }}</h3>
      </div>
      {% comment %} mix {% endcomment %}
      {% render 'pdm-landing-purchase-step1-inputs' 
        productOne:  third_mix_product,
        productOneInfo: mix_product_3_month,
        productOneValue: "1",
        productTwo: second_mix_product,
        productTwoInfo: mix_product_2_month,
        productTwoValue: "2",
        productThree: first_mix_product,
        productThreeInfo: mix_product_1_month,
        productThreeValue: "3"
        name: "mix"
      %}
      {% comment %} silver {% endcomment %}
      {% render 'pdm-landing-purchase-step1-inputs' 
        productOne:  third_silver_product,
        productOneInfo: silver_product_3_month,
        productOneValue: "4",
        productTwo: second_silver_product,
        productTwoInfo: silver_product_2_month,
        productTwoValue: "5",
        productThree: first_silver_product,
        productThreeInfo: silver_product_1_month
        productThreeValue: "6"
        name: "silver"
      %}
      
      {% comment %} gold {% endcomment %}
      {% render 'pdm-landing-purchase-step1-inputs' 
        productOne:  third_gold_product,
        productOneInfo: gold_product_3_month,
        productOneValue: "6",
        productTwo: second_gold_product,
        productTwoInfo: gold_product_2_month,
        productTwoValue: "7",
        productThree: first_gold_product,
        productThreeInfo: gold_product_1_month
        productThreeValue: "8"
        name: "gold"

      %}
    </div>
    {% comment %} panel 2 {% endcomment %}
    <div id="landing-step-two" class="landing-panel">
      <div>
        <h3>{{ general_settings.step_2_title }}</h3>
      </div>
      <div id="step2-select" class="">
        <input type="radio" id="serum-1" name="step2" value="{{ rejuvenating_type.type }}">
        <label for="serum-1">
          {% render 'pdm-landing-purchase-serum', data: rejuvenating_type %}
        </label>
        <input type="radio" id="serum-2" name="step2" value="{{ hydraSoothing_type.type }}">
        <label for="serum-2">
          {% render 'pdm-landing-purchase-serum', data: hydraSoothing_type %}
        </label>
        <input type="radio" id="serum-3" name="step2" value="{{ mix_type.type }}" checked>
        <label for="serum-3">
          {% render 'pdm-landing-purchase-serum', data: mix_type %}
        </label>
      </div>
    </div>
    {% comment %} panel 3 {% endcomment %}
    <div id="landing-step-three" class="landing-panel">
      <div>
        <h3>{{ general_settings.step_3_title }}</h3>
      </div>
      <div>
        <input type="radio" id="opt7" name="step3" value="">
        <label for="opt7">
          {% render 'pdm-landing-step3-card', data: general_settings, cardCase: 0 %}
        </label>
        <input type="radio" id="opt8" name="step3" value="">
        <label for="opt8">
          {% render 'pdm-landing-step3-card', data: general_settings, cardCase: 1 %}
        </label>
      </div>
    </div>
    {% comment %} panel 4 {% endcomment %}
    <div id="landing-step-fourth" class="landing-panel">
      <div>
        <h3>{{ general_settings.step_4_title }}</h3>
      </div>
      <div style="display: flex; flex-direction:row">
        <input type="radio" id="opt9" name="step4" value="">
        <label for="opt9">
          {% render 'pdm-landing-step4-card', data: general_settings, cardCase: 0 %}
        </label>
        <input type="radio" id="opt9" name="step4" value="">
        <label for="opt9">
          {% render 'pdm-landing-step4-card', data: general_settings, cardCase: 1 %}
        </label>
      </div>
    </div>
  </div>
  {% comment %} buttons {% endcomment %}
  <div>
    <button
      id="landing-back"
    >
      back
    </button>
    <button
      id="landing-next"
    >
      next
    </button>
  </div>
</section>
