<script>
  // console.log('1')
  // console.log("product", {{ mixProductInfo | json }});
</script>
{% liquid
  assign general_info = null
  case type
    when 'mix'
      assign general_info = mixProductInfo
    when 'single'
      assign general_info = singleProductInfo
  endcase

  assign product = mixProduct
  assign product_save = product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price | round: 0  
%}

<script>
  // console.log('2')
  // console.log("product", {{ product | json }});
</script>
<div class="purchase-card-container">
  {% if general_info.people_choise != blank %}
    {{ general_info.people_choise }}
  {% endif %}
  {% comment %} image {% endcomment %}
  <div class="card-img-container">
    {{ product.featured_media | image_url: width: 400 | image_tag: alt: product.title }}
  </div>
  <div>
    {% if product_save != null %}
      <div>
        <p> SAVE {{ product_save }}%</p>
      </div>
    {% endif %}
    <p>{{ general_info.title_product }} {{ product.compare_at_price |  money_without_trailing_zeros }} {{ product.price | money_without_trailing_zeros }}</p>
  </div>

  <div>
    {% comment %} value props {% endcomment %}
    {% if general_info.doctor_recommendation != blank %}
      <div>
        <p>{{ general_info.doctor_recommendation }}</p>
      </div>
    {% endif %}
    <div>
      {{ general_info.value_props |  metafield_tag }}
    </div>
    {% comment %} dropdown {% endcomment %}
    <div>
      <div>
        <p>{{ general_info.title_included }}</p>
      </div>
      <div>
        {{ general_info.value_props_included |  metafield_tag }}
      </div>
    </div>
  </div>
</div>
