{% liquid
  assign nameProp = parentContainer
  assign parentName =  nameProp
%}

<div class="step1-purchase-card-container">
  {% if productInfo.people_choise != blank %}
    <div class="step1-card-choise-container">
      <p class="step1-card-choise-desk_text">
        {{ productInfo.people_choise }}
      </p>
      <p class="step1-card-choise-mobile_text">
        {{ productInfo.people_choise_mobile | replace: '(star)', starIcon  }}
      </p>
    </div>
  {% endif %}
  {% comment %} image {% endcomment %}
  <div class="card-img-container">
    {{ productInfo.image | image_url: width: 400 | image_tag: alt: productData.title }}
  </div>
  <div class="step1-card-price-container">
    {% unless productInfo.discount_product == 0 %}
      <div class="step1-card-price-discount">
        <p>SAVE {{ productInfo.discount_product }}%</p>
      </div>
    {% endunless %}
    {% comment %} {% if product_save != null %}
      <div class="step1-card-price-discount">
        <p>SAVE {{ product_save }}%</p>
      </div>
    {% endif %} {% endcomment %}
    <div class="step1-card-price">
      <div class="step1-card-price-information">
        <span class="step1-card-price__title-mobile">{{ productInfo.title_product_mobile }}</span>
        <span class="step1-card-price__title">{{ productInfo.title_product }}</span>
        <div class="step1-card-price-wrapper">
          <span class="step1-card-price-wrapper__real">
            {{- productData.compare_at_price | money_without_trailing_zeros }}
          </span>
          <span class="step1-card-price-wrapper__discount">{{ productData.price | money_without_trailing_zeros }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="step1-card-value-props">
    {% comment %} value props {% endcomment %}
    <div class="step1-card-value-props-wrapper">
      {% if productInfo.doctor_recommendation != blank %}
        <div class="step1-value-doctor">
          {% render 'pdm_landing-purchase-icons', icon: 'check-doctor' %}
          <p>{{ productInfo.doctor_recommendation }}</p>
        </div>
      {% endif %}
      <div class="step1-value-static-props">
        {{ productInfo.value_props | metafield_tag | replace: '(check)', checkIcon | replace: '(cross)', crossIcon }}
      </div>
    </div>
    {% comment %} dropdown {% endcomment %}
    <div class="step1-value-props-dropdown">
      <button class="step1-value-dropdown-title" id="{{ parentName }}">
        <div class="step1-value-dropdown-title-wrapper">
          <span class="step1-value-dropdown-title-wrapper__title">{{ productInfo.title_included }}</span>
          <span class="step1-value-dropdown-title-wrapper__text">{{ productInfo.text_quantity_included }}</span>
        </div>
        <div id="svg-btn-landing-card-{{ uniqueId }}" class="landing-rotate-svg-button">
          {% render 'pdm_landing-purchase-icons', icon: 'collapse-arrow' %}
        </div>
      </button>
      <div class="step1-value-dropdown-information ">
        {{ productInfo.value_props_included | metafield_tag }}
      </div>
    </div>
  </div>
</div>

