<div class="landing-two-title-container">
  <h3>{{ generalSettings.step_2_title }}</h3>
</div>
<div id="step2-select" class="landing-two-inputs-container">
  <input
    type="radio"
    id="serum-1"
    name="step2"
    value="{{ products3_type.type }}"
    data-step4-product="products6"
    data-title="{{ products3_type.title }}"
  >
  <label for="serum-1">
    {% render 'pdm_landing-purchase-step2-card', data: products3_type %}
  </label>
  <input
    type="radio"
    id="serum-2"
    name="step2"
    value="{{ products2_type.type }}"
    data-step4-product="products5"
    data-title="{{ products2_type.title }}"
  >
  <label for="serum-2">
    {% render 'pdm_landing-purchase-step2-card', data: products2_type %}
  </label>
  <input
    type="radio"
    id="serum-3"
    name="step2"
    value="{{ products1_type.type }}"
    checked
    data-step4-product="products4"
    data-title="{{ products1_type.title }}"
  >
  <label for="serum-3">
    {% render 'pdm_landing-purchase-step2-card', data: products1_type %}
  </label>
</div>
