<div
  id="inputs-{{ name }}"
  class="inputs-{{ name }} {% if name == 'products4' %} show-inputs {% endif %}"
>
  <input
    type="radio"
    name="{{ name }}"
    id="{{ name }}-fourth"
    data-identifier="1"
    data-position="1"
    checked
    data-product-id="{{ productRefill.id }}"
    value='{
      "position":1, 
      "id":{{ productRefill.selected_or_first_available_variant.id }}, 
      "sellingPlanId":{{ productRefill.selling_plan_groups[0].selling_plans[0].id }},
      "discountPrice":{{ productRefill.price | money_without_currency }},
      "price":{{ productRefill.compare_at_price | money_without_currency }}, 
      "discountPriceQuota":{{ productRefill.price |  divided_by: 4 | money_without_currency }},
      "titleBundle":"{{ productRefill.title }}",
      "input":"{{ name }}"
    }'
  >
    <label for="{{name}}-fourth">
      {% render 'pdm_landing-purchase-step4-card' 
        productInfo: productRefillInfo,
        productData: productRefill,
        cardTypeInfo: 'meta'
        checkIcon: checkIcon,
        starIcon: starIcon,
        uniqueId: uniqueId,
        parentContainer: parentContainer 
      %}
    </label>

    {% comment %} general card {% endcomment %}
  <input
    type="radio"
    data-identifier="2"
    data-position="2"
    name="{{ name }}"
    id="{{ name }}-five"
    value='{
      "position":2,
      "value":2,
      "input":"{{ name }}"
    }'
  >
    <label for="{{ name }}-five">
      {% render 'pdm_landing-purchase-step4-card' 
        generalSettings: generalSettings,
        cardTypeInfo: 'general',
        crossIcon: crossIcon
      %}
    </label>
</div>