{% comment %} 
  Render Purchase Step 4 Card with title, value props and dropdown.
  Accepts: 
  - productInfo: {Object} - The product data to be rendered (Metafield). 
  - productData: {Object} - The product data to be rendered (Metafield). 
  - productData2: {Object} - The product data to be rendered (Metafield). 
  - cardTypeInfo: {String} - The type of card to be rendered. It can be 'meta' or 'general'. 
  - checkIcon: {String} - The check icon. 
  - starIcon: {String} - The star icon. 
  - generalSettings: {Object} - The general settings of the section. 
  - crossIcon: {String} - The cross icon. 
  Usage: 
  {% render 'pdm_landing-purchase-step4-card' 
    productInfo: product.metafields.custom.purchase_step_4.value, 
    productData: product.metafields.custom.purchase_step_4_product_1.value, 
    productData2: product.metafields.custom.purchase_step_4_product_2.value, 
    cardTypeInfo: 'meta' 
    checkIcon: checkIcon, 
    starIcon: starIcon, 
  %} 
{% endcomment %}

{% assign product2_discount = productData2.price | times: 0.80 %}

<div class="step4-purchase-card-container">
  {% if productInfo.popular_text != blank %}
    <div class="step4-card-choise-container">
      <p>
        {{ productInfo.popular_text | replace: '(star)', starIcon }}
      </p>
    </div>
  {% endif %}
  <div class="step4-card-title-container">
    {% if cardTypeInfo == 'meta' %}
      <h3>
        {{ productInfo.title }}
      </h3>
    {% else %}
      <h3>
        {{ generalSettings.step_4_card_title }}
      </h3>
    {% endif %}
  </div>
  <div class="step4-card-information-container">
    {% comment %} doctor {% endcomment %}
    {% if cardTypeInfo == 'meta' %}
      <div class="step4-card-doctor-container">
        {{ productInfo.doctor_image | image_url: width: 600 | image_tag: alt: 'doctor' }}
        <p>
          {{ productInfo.doctor_description }}
        </p>
      </div>
    {% endif %}
    <div class="step4-card-value-props-container">
      {% comment %} title {% endcomment %}
      {% if cardTypeInfo == 'meta' %}
        <div class="step4-card-value-props__title">
          <h3>
            {{ productInfo.sub_title }}
          </h3>
        </div>
        {% comment %} value props {% endcomment %}
        <div class="step4-card-value-props__information">
          <ul>
            <li>
              {{- checkIcon -}}
              <span class="step4-card-value-props__information-price">{{ productData2.price |  money_without_trailing_zeros  }}</span>
              <span class="step4-card-value-props__information-discount"> {{ product2_discount | money_without_trailing_zeros }}</span>
              <span>
                {{ productInfo.subscription_delivery }}
              </span>
            </li>
          </ul>
          {{ productInfo.value_props | metafield_tag | replace: '(check)', checkIcon }}
        </div>
      {% else %}
        <div class="step4-card-value-props__title">
          {{ generalSettings.step_4_card_subtitle }}
        </div>
        <div class="step4-card-value-props__information">
          {{ generalSettings.step_4_card_value_props_1 | metafield_tag | replace: '(cross)', crossIcon }}
        </div>
      {% endif %}
    </div>
    {% comment %} dropwon {% endcomment %}
    {% if cardTypeInfo == 'meta' %}
      <div class="step4-value-props-dropdown">
        <button class="step4-value-dropdown-title" >
          <h3>{{ productInfo.dropdown_title }}</h3>
          <div class="landing-rotate-svg-button">
            {% render 'pdm_landing-purchase-icons', icon: 'collapse-arrow' %}
          </div>
        </button>
        <div class="step4-value-dropdown-content">
          {{ productInfo.dropdown_value_props | metafield_tag }}
        </div>
      </div>
    {% endif %}
  </div>
</div>
