{% comment %} 

  Render Purchase Step 3 Inputs

  Note: This snippet is used to render the inputs of the third step of the purchase process.
  Need:

  Accepts:
  - nameOne: {String} - The first input name.
  - nameTwo: {String} - The second input name.
  - generalSettings: {Object} - The general settings of the section. 

  Usage:
  {% render 'pdm_landing-purchase-step3-inputs',
    nameOne: 'step3-price-one',
    nameTwo: 'step3-price-two'
    generalSettings: page.metafields.custom.general_information_purchase_process.value
  %}
{% endcomment %}


<div class="landing-three-title-container">
  <h3>{{ generalSettings.step_3_title }}</h3>
</div>
<div id="inputs-landing-step3" class="landing-three-inputs-container">
  <input type="radio" id="{{ nameOne }}" name="step3" value="{{ generalSettings.step_3_card_titles.value[0] }}" checked>
  <label for="{{ nameOne }}">
    {% render 'pdm_landing-purchase-step3-card', data: generalSettings, cardCase: 0 %}
  </label>
  <input type="radio" id="{{ nameTwo }}" name="step3" value="{{ generalSettings.step_3_card_titles.value[1] }}">
  <label for="{{ nameTwo }}">
    {% render 'pdm_landing-purchase-step3-card', data: generalSettings, cardCase: 1 %}
  </label>
</div>
