<div class="step4-purchase-card-container">
  <div>
    {{ productInfo.popular_text | replace: '(star)', starIcon }}
  </div>
  <div>
    {% if cardTypeInfo == 'meta' %}
      {{ productInfo.title }}
    {% else %}
      {{ generalSettings.step_4_card_title }}
    {% endif %}
  </div>
  <div>
    {% comment %} doctor {% endcomment %}
    {% if cardTypeInfo == 'meta' %}
      <div>
        {{ productInfo.doctor_image | image_url: width: 44 | image_tag: alt: 'doctor' }}
        <p>
          {{ productInfo.doctor_description }}
        </p>
      </div>
    {% endif %}
    <div>
      {% comment %} title {% endcomment %}
      {% if cardTypeInfo == 'meta' %}
        <div>
          {{ productInfo.sub_title }}
        </div>
        {% comment %} value props {% endcomment %}
        <div>
          {{ productInfo.value_props | metafield_tag | replace: '(check)', checkIcon }}
        </div>
      {% else %}
        <div>
          {{ generalSettings.step_4_card_subtitle }}
        </div>
        <div>
          {{ generalSettings.step_4_card_value_props_1 | metafield_tag | replace: '(cross)', crossIcon}}
        </div>
      {% endif %}
    </div>
    {% comment %} dropwon {% endcomment %}
    {% if cardTypeInfo == 'meta' %}
      <div class="step4-value-props-dropdown">
        <div
          class="step4-value-dropdown-title"
          data-bs-toggle="collapse"
          data-bs-target="#{{ uniqueId }}"
          aria-expanded="false"
          aria-controls="{{ uniqueId }}"        
        >
          <div>
              <span>{{ productInfo.dropdown_title }}</span>
              <button class="" type="button"> {% render 'pdm_landing-purchase-icons', icon: 'collapse-arrow' %}</button>
          </div>
        </div>
        <div
          class="step4-value-dropdown-content collapse"
          id="{{ uniqueId }}"
          aria-labelledby="headingFourth"
          data-bs-parent=".{{ parentContainer }}"
        >
          {{ productInfo.dropdown_value_props | metafield_tag }}
        </div>
      </div>
    {% endif %}
  </div>
</div>
