{% if variant_id %}
    <div id='green-product-sticky-btn' class="button_sticky_wrapper" data-product-id="{{ product.id }}">
        <a href="{{ routes.cart_add_url }}?id={{ variant_id }}&quantity=1" data-ajax-cart-request-button class="button_sticky {{ classname }} event_btn">
            {% if current_price != original_price %}
                <i id="sale-price" class="igPrice">{{ current_price | money_without_trailing_zeros }}</i><span id="regular_price" class="igComparePrice">{{ original_price | money_without_trailing_zeros }}</span>
            {% else %}
                <i id="sale-price" class="igPrice">{{ current_price | money_without_trailing_zeros }}</i>
            {% endif %}
            - ADD TO BAG
        </a>
    </div>
{% endif %}

<style>
    .button_sticky_wrapper i {
        font-style: normal;
    }

    @media only screen and (max-width: 768px) {
        .button_sticky_wrapper {
            width: 88% !important;
        }
    }

    @media only screen and (min-width: 769px) and (max-width: 1100px) {
        .button_sticky_wrapper {
            width: 85% !important;
        }
    }

    @media only screen and (min-width: 1101px) and (max-width: 1400px) {
        .button_sticky_wrapper {
            width: 82% !important;
        }
    }

    @media only screen and (min-width: 1401px) and (max-width: 1700px) {
        .button_sticky_wrapper {
            width: 73% !important;
        }
    }

    @media only screen and (min-width: 1701px) and (max-width: 1800px) {
        .button_sticky_wrapper {
            width: 66% !important;
        }
    }

    @media only screen and (min-width: 1801px) and (max-width: 1900px) {
        .button_sticky_wrapper {
            width: 59% !important;
        }
    }

    @media only screen and (min-width: 1901px) {
        .button_sticky_wrapper {
            width: 50% !important;
        }
    }
</style>