<link rel="stylesheet" href="{{ 'womens_day.css' | asset_url }}">

<div class="announcement_bar womens_day">
    <span style="margin-right:5px"><img src="{{ 'womens_day.svg' | asset_url }}" alt=""> </span>
    <p>{{ block.settings.heading }}</p> <a href="{{ block.settings.button_url }}" class="pink_coloured">{{ block.settings.button_label }}</a>
</div>