{% comment %} <link rel="stylesheet" href="{{ 'womens_day.css' | asset_url }}">

<div class="announcement_bar womens_day">
    <span style="margin-right:5px"><img src="{{ 'womens_day.svg' | asset_url }}" alt=""> </span>
    <p>{{ block.settings.heading }}</p> <a href="{{ block.settings.button_url }}" class="pink_coloured">{{ block.settings.button_label }}</a>
</div> {% endcomment %}

<link rel="stylesheet" href="{{ 'easter_offer.css' | asset_url }}">

<div id="_easter_offer">
    <div class="announcement_bar">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="31" viewBox="0 0 44 31" fill="none" class="me-2">
            <path
                d="M9.95029 30.8525C5.04158 24.9393 -3.12697 10.6908 3.46852 1.00221C7.92249 0.869546 16.6371 6.65387 15.8638 30.8525"
                stroke="#C7E7DC" stroke-width="2" />
            <path
                d="M20.9737 30.8529C20.2345 24.1816 20.5643 10.0316 27.7966 6.80208C29.5972 5.8355 33.9035 5.06223 36.7237 9.70182C40.2488 15.5013 42.2389 17.7188 42.8643 18.4011C43.3646 18.9469 42.3147 19.8414 41.7271 20.2205"
                stroke="#C7E7DC" stroke-width="2" />
            <path
                d="M41.737 20.2195C38.3445 21.5272 30.8999 22.2891 28.2617 14.8749C27.9395 14.1357 26.9767 12.4414 25.7031 11.5771"
                stroke="#C7E7DC" stroke-width="2" />
            <path d="M33.7699 20.9033C32.8033 23.2536 30.3241 28.5455 28.1406 30.911" stroke="#C7E7DC" stroke-width="2" />
        </svg>
        <p>
            {{ block.settings.heading }}
            <a href="{{ block.settings.button_url }}" class="green_coloured d-none d-md-inline-block">{{ block.settings.button_label | replace: '56% OFF', '<strong>56% OFF</strong>' }}</a>
            <a href="{{ block.settings.button_url }}" class="green_coloured d-md-none">{{ block.settings.button_mobile_label | replace: '56% OFF', '<strong>56% OFF</strong>' }}</a>
        </p>
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="31" viewBox="0 0 44 31" fill="none"
            class="ms-md-1 d-none d-md-block">
            <path
                d="M9.95029 30.8525C5.04158 24.9393 -3.12697 10.6908 3.46852 1.00221C7.92249 0.869546 16.6371 6.65387 15.8638 30.8525"
                stroke="#C7E7DC" stroke-width="2" />
            <path
                d="M20.9737 30.8529C20.2345 24.1816 20.5643 10.0316 27.7966 6.80208C29.5972 5.8355 33.9035 5.06223 36.7237 9.70182C40.2488 15.5013 42.2389 17.7188 42.8643 18.4011C43.3646 18.9469 42.3147 19.8414 41.7271 20.2205"
                stroke="#C7E7DC" stroke-width="2" />
            <path
                d="M41.737 20.2195C38.3445 21.5272 30.8999 22.2891 28.2617 14.8749C27.9395 14.1357 26.9767 12.4414 25.7031 11.5771"
                stroke="#C7E7DC" stroke-width="2" />
            <path d="M33.7699 20.9033C32.8033 23.2536 30.3241 28.5455 28.1406 30.911" stroke="#C7E7DC" stroke-width="2" />
        </svg>
    </div>
</div>