{% assign currency = shop.currency | money_without_trailing_zeros |  remove: '0' %}

{% if section_id == blank %}
    <p>Please provide section_id property to use this snippet</p>
{% else %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            selectProduct('{{ section_id }}_');
        });
    </script>

    <!-- -- choose serum section start -- -->
    <div class="available_bar">
        <p>AGOTADO 10 VECES - DISPONIBLE HASTA AGOTAR EXISTENCIAS</p>
    </div>

    <div class="section productSubscription choose_serum" id="productSubscription">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="qure__treatments">
                        <div class="section__header text-start order-2 order-md-1">
                            <h2 class="heading">Elige tus opciones de tratamiento</h2>
                            <div class="des">
                                <p>Ten la seguridad de que todos los pedidos son compras únicas. <strong>No se te cobrará de nuevo en los meses siguientes y no hay cargos ocultos.</strong></p>
                                <br />
                                <p>Cuando estés listo para reordenar tu tratamiento, puedes comprar cabezales de agujas y el suero de tu elección.</p>
                            </div>
                        </div>
                        <div class="tmtFtrs_image order-1 order-md-2 mw-mob-100">
                            <img src="{{ 'MI6x-mixed.webp' | asset_url }}" class="img-fluid" alt="" id="choosen_image" />
                        </div>
                        <div class="tmtFtrs d-none d-md-flex justify-content-between mb-4 mt-5">
                            <div class="tmtFtrs_block text-center"> <!-- Ftr Block -->
                                <div class="tmtFtr_icon">
                                    <img src="{{ 'money-back.svg' | asset_url }}" alt="">
                                </div>
                                <div class="tmtFtr_des">
                                    Garantía de Devolución de Dinero
                                </div>
                            </div> <!-- Ftr Block end-->
                            <div class="tmtFtrs_block text-center"> <!-- Ftr Block -->
                                <div class="tmtFtr_icon">
                                    <img src="{{ 'shipping.svg' | asset_url }}" alt="">
                                </div>
                                <div class="tmtFtr_des">
                                    Envío Internacional Gratuito en Pedidos Superiores a 100{{ currency }}
                                </div>
                            </div> <!-- Ftr Block end-->
                            <div class="tmtFtrs_block text-center"> <!-- Ftr Block -->
                                <div class="tmtFtr_icon">
                                    <img src="{{ 'derma-ftr.svg' | asset_url }}" alt="">
                                </div>
                                <div class="tmtFtr_des">
                                    Revisado por Dermatólogos
                                </div>
                            </div> <!-- Ftr Block end-->
                        </div>
                        <div class="qst_box text-center d-none d-md-block">
                            <img src="{{ 'question_mark.svg' | asset_url }}" alt="" class="me-2">¿Tienes preguntas sobre la
                            Microinfusión? <a href="#">¡Chatea con nosotros!</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="supply-detail">
                        <div class="supply_steps">
                            <div class="step_counter active"><span>1</span></div>
                            <div class="step_block">
                                <div class="step_header">
                                    <h3><span>Paso 1/3</span> Elige el Suero:</h3>
                                </div>
                                <div class="step_content step_serum">
                                    <div class="serumBlock {{ section_id }}_productTypeObject">
                                        <input type="radio" class="" name="serum" id="rejuvenating-hydra" />
                                        <label class="serum_prd bg-yellowGrey" for="rejuvenating-hydra">
                                            <div class="serum_img product_type" data-product-type="1" data-month1-image="{{ 'MI2x-mixed.webp' | asset_url }}"
                                                data-month2-image="{{ 'MI4x-mixed.webp' | asset_url }}"
                                                data-month3-image="{{ 'MI6x-mixed.webp' | asset_url }}">
                                                <img src="{{ 'mc_3.webp' | asset_url }}" alt="" class="img-fluid" />
                                            </div>
                                            <h4 class="serum_ttl">Rejuvenecedor + Hydra-Calmante </h4>
                                        </label>
                                    </div>
                                    <div class="serumBlock {{ section_id }}_productTypeObject">
                                        <input type="radio" class="" name="serum" id="rejuvenating" />
                                        <label class="serum_prd bg-yellow" for="rejuvenating">
                                            <div class="serum_img active product_type" data-product-type="2" data-month1-image="{{ 'MI2x-rejuv.webp' | asset_url }}"
                                                data-month2-image="{{ 'MI4x-rejuv.webp' | asset_url }}"
                                                data-month3-image="{{ 'MI6x-rejuv.webp' | asset_url }}">
                                                <img src="{{ 'mc_2.webp' | asset_url }}" alt="" class="img-fluid" />
                                            </div>
                                            <h4 class="serum_ttl">Rejuvenecedor</h4>
                                        </label>
                                    </div>
                                    <div class="serumBlock {{ section_id }}_productTypeObject">
                                        <input type="radio" class="" name="serum" id="hydra-soothing" checked />
                                        <label class="serum_prd bg-grey" for="hydra-soothing">
                                            <div class="serum_img product_type" data-product-type="3" data-month1-image="{{ 'MI2x-hydra.webp' | asset_url }}"
                                                data-month2-image="{{ 'MI4x-hydra.webp' | asset_url }}"
                                                data-month3-image="{{ 'MI6x-hydra.webp' | asset_url }}">
                                                <img src="{{ 'mc_1.webp' | asset_url }}" alt="" class="img-fluid" />
                                            </div>
                                            <h4 class="serum_ttl">Hydra-Calmante </h4>
                                        </label>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="supply_steps">
                            <div class="step_counter"><span>2</span></div>
                            <div class="step_block">
                                <div class="step_header">
                                    <h3><span>Paso 2/3</span> Elige el Paquete:</h3>
                                </div>
                                <div class="step_content">
                                    <div class="step_conten_blocks">
                                        
                                        {% assign product = all_products['micro-infusion-3-month-bundle-3x-b-g-serum-3x-e-g-f-serum'] %}
                                        {% assign divided_price = product.price | divided_by: 4 %}

                                        {% assign product_price = product.price | money_without_trailing_zeros %}
                                        {% assign product_compare_at_price = product.compare_at_price | money_without_trailing_zeros %}

                                        {% if product_compare_at_price == blank %}
                                            {% assign product_compare_at_price = 26200 | money_without_trailing_zeros %}
                                        {% endif %}
                                        
                                        <a class="planBlock active {{ section_id }}_productPeriodObject" href="month_3" data-tab="month_3"
                                            data-per="Y AHORRA HASTA UN 43%" data-pay="{{ currency }}{{ divided_price | money_without_currency }}" data-image="{{ 'MI2x-mixed-1.jpg' | asset_url }}">
                                            <div class="plan_choosed">
                                                <span>Más de 5.000 personas eligieron este suministro</span>
                                            </div>
                                            <input type="radio" name="monthlyPlan" id="3_month" checked data-product-period="3">
                                            <label class="monthly_plans" for="3_month" payment-price="{{ divided_price | money_without_trailing_zeros }}">
                                                <div class="plan_des">
                                                    <div class="plan_hdr">
                                                        <h3>3 Tratamientos</h3>
                                                        <span class="saved_price">AHORRA 43%</span>
                                                    </div>
                                                    <div class="plan_des">6 Suministros de Micro-Infusión</div>
                                                </div>
                                                <div class="price">
                                                    <div class="plan_prc regular_price">{{ product_compare_at_price }}</div>
                                                    <div class="plan_prc sale_price">{{ product_price }}</div>
                                                </div>
                                            </label>
                                        </a>
                                        
                                        {% assign product = all_products['micro-infusion-2-month-bundle-2x-b-g-serum-2x-e-g-f-serum'] %}
                                        {% assign divided_price = product.price | divided_by: 4 %}

                                        {% assign product_price = product.price | money_without_trailing_zeros %}
                                        {% assign product_compare_at_price = product.compare_at_price | money_without_trailing_zeros %}

                                        {% if product_compare_at_price == blank %}
                                            {% assign product_compare_at_price = 17200 | money_without_trailing_zeros %}
                                        {% endif %}
                                        
                                        <a class="planBlock {{ section_id }}_productPeriodObject new_block active" href="month_2" data-tab="month_2"
                                            data-per="Y AHORRA HASTA UN 25%" data-pay="{{ currency }}{{ divided_price | money_without_currency }}" data-image="{{ 'MI4x-mixed.jpg' | asset_url }}">
                                            <input type="radio" name="monthlyPlan" id="2_month" data-product-period="2">
                                            <label class="monthly_plans" for="2_month" payment-price="{{ divided_price | money_without_trailing_zeros }}">
                                                <div class="plan_des">
                                                    <div class="plan_hdr">
                                                        <h3>2 Tratamientos</h3>
                                                        <span class="saved_price">AHORRA 25%</span>
                                                    </div>
                                                    <div class="plan_des">4 Suministros de Micro-Infusión</div>
                                                </div>
                                                <div class="price">
                                                    <div class="plan_prc regular_price">{{ product_compare_at_price }}</div>
                                                    <div class="plan_prc sale_price">{{ product_price }}</div>
                                                </div>
                                            </label>
                                        </a>

                                        {% assign product = all_products['micro-infusion-1-month-bundle-1x-b-g-serum-1x-e-g-f-serum'] %}
                                        {% assign divided_price = product.price | divided_by: 4 %}

                                        {% assign product_price = product.price | money_without_trailing_zeros %}
                                        {% assign product_compare_at_price = product.compare_at_price | money_without_trailing_zeros %}
                                        
                                        <a class="planBlock {{ section_id }}_productPeriodObject new_block" href="month_1" data-tab="month_1"
                                            data-per="- {{ currency }}99" data-pay="{{ currency }}{{ divided_price | money_without_currency }}" data-image="{{ 'treatment.png' | asset_url }}">
                                            <input type="radio" name="monthlyPlan" id="1_month" data-product-period="1">
                                            <label class="monthly_plans" for="1_month" payment-price="{{ divided_price | money_without_trailing_zeros }}">
                                                <div class="plan_des">
                                                    <div class="plan_hdr">
                                                        <h3>1 Tratamiento</h3>
                                                    </div>
                                                    <div class="plan_des">2 Suministros de Micro-Infusión</div>
                                                </div>
                                                <div class="price">
                                                    <div class="plan_prc sale_price">{{ product_price }}</div>
                                                </div>
                                            </label>
                                        </a>
                                    </div>
                                    <div class="tab_content" id="month_3">
                                        <div class="plan_bundle_detail">
                                            <h6 class="cs_item__accordion">Qué incluye el paquete de suministro de 3
                                                meses<span><img src="{{ 'arrow-up.png' | asset_url }}" alt=""></span></h6>
                                            <div class="u_item__hidden-div" style="display: none;">
                                                <p><span><img src="{{ 'tick.png' | asset_url }}" alt=""></span>
                                                    Dispositivo de Micro-Infusión</p>
                                                <p><span><img src="{{ 'tick.png' | asset_url }}" alt=""></span>5 Cabezales de
                                                    Microagujas de Grado Clínico</p>
                                                <p><span><img src="{{ 'tick.png' | asset_url }}" alt=""></span>6 sueros de 4ml
                                                    formulados clínicamente a elección para tratar tus problemas
                                                    específicos de la piel (valorado en 120 {{ currency }})</p>
                                                <p><span><img src="{{ 'tick.png' | asset_url }}" alt=""></span>Envío
                                                    internacional (valorado en 25 {{ currency }})</p>
                                                <p><span><img src="{{ 'tick.png' | asset_url }}" alt=""></span>Acceso a
                                                    atención
                                                    al cliente 24/7</p>
                                                <p><span><img src="{{ 'tick.png' | asset_url }}" alt=""></span>Prueba con
                                                    garantía de devolución de 90 días</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab_content" id="month_2">
                                        <div class="plan_bundle_detail">
                                            <h6 class="cs_item__accordion">Qué incluye el paquete de suministro de 2
                                                meses<span><img src="{{ 'arrow-up.png' | asset_url }}" alt=""></span></h6>
                                            <div class="u_item__hidden-div" style="display: none;">
                                                <p><span><img src="{{ 'tick.png' | asset_url }}" alt=""></span>
                                                    Dispositivo de Micro-Infusión (valorado en 80{{ currency }})</p>
                                                <p><span><img src="{{ 'tick.png' | asset_url }}" alt=""></span>3 cabezales de
                                                    microagujas de grado clínico (valorados en 30{{ currency }})</p>
                                                <p><span><img src="{{ 'tick.png' | asset_url }}" alt=""></span>4 sueros de 4ml
                                                    formulados clínicamente a elección para tratar tus problemas
                                                    específicos de la piel (valorados en 80{{ currency }})</p>
                                                <p><span><img src="{{ 'tick.png' | asset_url }}" alt=""></span>Envío
                                                    internacional (valorado en 25 {{ currency }})</p>
                                                <p><span><img src="{{ 'tick.png' | asset_url }}" alt=""></span>Acceso a
                                                    atención
                                                    al cliente 24/7</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab_content" id="month_1">
                                        <div class="plan_bundle_detail">
                                            <h6 class="cs_item__accordion">Qué incluye el paquete de suministro de 1
                                                mes<span><img src="{{ 'arrow-up.png' | asset_url }}" alt=""></span></h6>
                                            <div class="u_item__hidden-div" style="display: none;">
                                                <p><span><img src="{{ 'tick.png' | asset_url }}" alt=""></span>
                                                    Dispositivo de Micro-Infusión (valorado en 80{{ currency }})</p>
                                                <p><span><img src="{{ 'tick.png' | asset_url }}" alt=""></span>1 cabezal de
                                                    microagujas de grado clínico (valorado en 10{{ currency }})</p>
                                                <p><span><img src="{{ 'tick.png' | asset_url }}" alt=""></span>2 sueros de 4ml
                                                    formulados clínicamente a elección para tratar tus problemas
                                                    específicas de la piel (valorados en 40{{ currency }})</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="supply_steps">
                            <div class="step_counter"><span>3</span></div>
                            <div class="step_block">
                                <div class="step_header">
                                    <h3><span>Paso 3/3</span> Elige una Opción de Pago:</h3>
                                </div>
                                <div class="step_content">
                                    <div class="pmtBlock">
                                        <input type="radio" name="pmtPlan" id="pay_in_full" checked>
                                        <label class="pmt_plans" for="pay_in_full">
                                            <div class="pmt_des">
                                                <div class="pmt_hdr">
                                                    <h3>Paga en su totalidad</h3>
                                                </div>
                                                <div class="pmt_des">Pago único con</div>
                                                <div class="pmt_options"><img src="{{ 'payment-bl-1-de.webp' | asset_url }}" alt=""
                                                        class="img-fluid" /></div>
                                            </div>
                                            <div class="price total_price">
                                                <div class="pmt_prc regular_price">{{ currency }}262</div>
                                                <div class="pmt_prc sale_price">{{ currency }}149</div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="pmtBlock">
                                        <input type="radio" name="pmtPlan" id="pay_today">
                                        <label class="pmt_plans" for="pay_today">
                                            <div class="pmt_des">
                                                <div class="pmt_hdr">
                                                    <h3>Pago a plazos</h3>
                                                </div>
                                                <div class="pmt_des">Pagos mensuales sin intereses con</div>
                                                <div class="pmt_options"><img src="{{ 'klarna.svg' | asset_url }}" alt=""><img src="{{ 'sezzle.svg' | asset_url }}" alt="" class="ms-2"></div>
                                            </div>
                                            <div class="price">
                                                <div class="pmt_prc pay_today">{{ currency }}37,25</div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% assign product = all_products['micro-infusion-3-month-refill-6x-hydra-soothing-serum'] %}
                        
                        <div class="step_content my-3">
                            <a class="btn btn-lg btn-primary buy_btn mt-3 {{ section_id }}_productButtonObject event_btn" href="{{ routes.cart_add_url }}?id=43216377217263&quantity=1" data-ajax-cart-request-button>
                                COMPRA AHORA <span class="btn_value"><strong>Y AHORRA HASTA UN 43%</strong></span>
                                <img src="{{ 'arrow_right.svg' | asset_url }}" alt="" class="btn_icon">
                            </a>
                        </div>
                        <div class="c_s_shipping d-block d-md-none">
                            <div class="c_s_wrapper">
                                <div class="c_s_bx">
                                    <img src="{{ 'money-back.svg' | asset_url }}" alt="">
                                    <p>Garantía de <br>Devolución de Dinero</p>
                                </div>
                                <div class="c_s_bx">
                                    <img src="{{ 'shipping.svg' | asset_url }}" alt="">
                                    <p>Envío internacional<br> Gratuito en Pedidos Superiores a 100{{ currency }}</p>
                                </div>
                                <div class="c_s_bx">
                                    <img src="{{ 'derma-ftr.svg' | asset_url }}" alt="">
                                    <p>Revisado por <br>Dermatólogos</p>
                                </div>
                            </div>
                            <div class="c_s_ques text-center">
                                <p class="ask-ques">
                                    <img src="{{ 'question_mark.svg' | asset_url }}" alt="">
                                    ¿Tienes preguntas sobre la Microinfusión?
                                    <a href="#">¡Chatea con nosotros!</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -- choose serum section end -- -->
{% endif %}