<style>
.subscribe_save_wrapper .subscribe_save_bx {
    grid-template-columns: 67% 33%;
}
</style>

{% if section_id == blank %}
    <p>Please provide section_id property to use this snippet</p>
{% else %}

    {% assign product = all_products['micro-infusion-3-month-refill-3x-b-g-serum-3x-e-g-f-serum'] %}

    {% case product.handle %}
        {% when 'micro-infusion-3-month-refill-3x-b-g-serum-3x-e-g-f-serum' %}
            {% assign product_index = 1 %}
            {% assign selling_plan = 5012914415 %}
        {% when 'micro-infusion-3-month-refill-6x-rejuvenating-serum' %}
            {% assign product_index = 2 %}
            {% assign selling_plan = 5012914415 %}
        {% when 'micro-infusion-3-month-refill-6x-hydra-soothing-serum' %}
            {% assign product_index = 3 %}
            {% assign selling_plan = 5012914415 %}
    {% endcase %}

    {% assign product_price = product.price %}
    {% assign product_price_discount = product.price | times: 0.80 %}
    {% assign product_price_divided = product.price | divided_by: 4 %}
    {% assign product_variant_id = product.variants.first.id %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            selectProductRefill('{{ section_id }}');
        });
    </script>


    <div class="serum_bl pt-0">
        <p>Choose your serums:</p>
        <div class="supply-detail supply-detail-2">
            <div class="supply_steps">

                <div class="step_block">

                    <div class="step_content step_serum">
                        <div class="serumBlock yellow_bg">
                            <input type="radio" name="serum-{{ section_id }}" id="mBanner_rejuvenating-hydra" value="43821069435119" data-product-id="8015049621743" data-selling-plan="5012914415"{%- if product_index == 2 -%} checked{%- endif -%}>
                            <label class="serum_prd" for="mBanner_rejuvenating-hydra">
                                <div class="serum_img">
                                    <img src="{{ 'mc_2.webp' | asset_url }}" alt="" class="img-fluid">
                                </div>
                                <h4 class="serum_ttl">Rejuvenating
                                    <span>for dark spots</span>
                                </h4>
                            </label>
                        </div>
                        <div class="serumBlock grey_bg">
                            <input type="radio" name="serum-{{ section_id }}" id="mBanner_rejuvenating" value="43821035290863" data-product-id="8015039496431" data-selling-plan="5012914415"{%- if product_index == 3 -%} checked{%- endif -%}>
                            <label class="serum_prd" for="mBanner_rejuvenating">
                                <div class="serum_img">
                                    <img src="{{ 'mc_1.webp' | asset_url }}" alt="" class="img-fluid">
                                </div>
                                <h4 class="serum_ttl">Hydra-Soothing
                                    <span>wrinkles</span>
                                </h4>
                            </label>
                        </div>
                        <div class="serumBlock lnr_grdnt_bg">
                            <input type="radio" name="serum-{{ section_id }}" id="mBanner_hydra-soothing" value="43821031031023" data-product-id="8015038873839" data-selling-plan="5012914415"{%- if product_index == 1 -%} checked{%- endif -%}>
                            <label class="serum_prd" for="mBanner_hydra-soothing">
                                <div class="serum_img">
                                    <img src="{{ 'mc_3.webp' | asset_url }}" alt="" class="img-fluid">
                                </div>
                                <p class="serum_ttl">Rejuvenating + Hydra-Soothing</p>
                            </label>
                        </div>
                    </div>
                    <p>Choose your purchase option:</p>
                    <div class="subscribe_save_wrapper with_subscription mt-2">
                        <div class="subscribeTopInfo">
                            <p>Over 5,000 people chose subscription</p>
                        </div>
                        <div class="subscriptionType active" data-subscription="subscription">
                            <div class="subscribe_save_bx">
                                <div class="subscribeInfo">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        <h6>Subscribe & save 20% </h6>
                                        <p>Get a Micro-Infusion 6 treatment refill delivered
                                            every 90 days for just {{ product_price_discount | money_without_trailing_zeros }}. Skip or cancel at any
                                            time. <a
                                                href="https://www.qureskincare.com/pages/subscriptions"
                                                target="_blank">See details</a></p>
                                    </label>
                                </div>
                                <div class="subscribePrice">
                                    <p><span>{{ product_price | money_without_trailing_zeros }}</span>{{ product_price_discount | money_without_trailing_zeros }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="subscriptionType" data-subscription="no-subscription">
                            <div class="noSubscription">
                                <div class="noSubscriptionText">
                                    One time purchase
                                </div>
                                <div class="noSubscriptionPrice">
                                    {{ product_price | money_without_trailing_zeros }}
                                </div>
                            </div>
                            {% render 'pdm_orderby' %}
                            <a class="btn btn-lg btn-primary without_subscription buy_btn buy-button-{{ section_id }} event_btn" href="{{ routes.cart_add_url }}?id={{ product_variant_id  }}&quantity=1" data-ajax-cart-request-button>Buy Now
                            </a>

                            {% capture sticky-button-classname %}buy-button-{{ section_id }} without_subscription{% endcapture %}

                            {% render 'product-sticky-button' with 
                                variant_id: product.variants.first.id, 
                                current_price: product_price, 
                                original_price: product_price, 
                                classname: sticky-button-classname
                            %}

                            <div class="payment_method without_subscription">
                                <p>OR pay 4 monthly payments of {{ product_price_divided | money_without_trailing_zeros }} with</p>
                                <div class="pmt_img ps-2">
                                    <img src="{{ 'klarna.svg' | asset_url }}" alt="">
                                    <img src="{{ 'sezzle.svg' | asset_url }}" alt=""><img
                                        src="{{ 'afterpay.svg' | asset_url }}" alt="">
                                </div>
                            </div>
                        </div>
                        {% render 'pdm_orderby' %}
                        <form method="post" action="/cart/add" accept-charset="UTF-8" class="shopify-product-form buy-form-{{ section_id }} form-test-id" enctype="multipart/form-data" data-form-id="{{ product.id }}">
                            <input type="hidden" name="form_type" value="product">
                            <input type="hidden" name="utf8" value="✓">
                            <input type="hidden" name="selling_plan" value="{{ selling_plan }}">
                            <input type="hidden" name="id" value="{{ product_variant_id }}">
                                
                            <button type="submit" class="btn btn-lg btn-primary with_subscription buy_btn event_btn" name="Submit" value="Submit">
                                Subscribe Now
                            </button>

                            {% capture sticky-button-form-classname %}buy-form-{{ section_id }}{% endcapture %}
                            {% capture sticky-button-classname %}buy-button-{{ section_id }} with_subscription{% endcapture %}

                            {% render 'product-sticky-button-form' with 
                                current_price: product_price_discount, 
                                original_price: product_price, 
                                form_classname: sticky-button-form-classname
                                button_classname: sticky-button-classname
                            %}

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shipping shipping_bg bg-transparent">
        <div class="s_bx">
            <img src="{{ 'dermatologist.svg' | asset_url }}" alt="">
            <p>Dermatologist Reviewed</p>
        </div>
        <div class="s_bx">
            <img src="{{ 'shipping.svg' | asset_url }}" alt="">
            <p class="d-none d-md-block">Free Shipping Over $100</p>
            <p class="d-block d-md-none">Free World-Wide Shipping Over $100</p>
        </div>
    </div>
{% endif %}