<!DOCTYPE html>
<html lang="{{ shop.locale }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=5.0">
    <link rel="canonical" href="{{ canonical_url }}">
		<meta name="p:domain_verify" content="67d2a1408f84408a05deffe883a0a523"/>
		<meta name="google-site-verification" content="eJrHRDM9bifPc8Nf-ycIg275f3KrlSoWEHd5VM5M9LQ" />

    {% capture seo_title %}
      {{ page_title }}
      {% if current_tags %}
        {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {% endif %}
      {% if current_page != 1 %}
        &ndash; {{ 'general.meta.page' | t: page: current_page }}
      {% endif %}
      {% unless page_title contains shop.name %}
       &ndash; {{ shop.name }}
      {% endunless %}
    {% endcapture %}

    <title>{{ seo_title }}</title>

    {%- if page_description -%}
			<meta name="description" content="{{ page_description | escape }}">
		{%- else -%}
			<meta name="description" content="{{ seo_title | escape }}">
    {%- endif -%}

    {% if settings.favicon != blank %}
        <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {% endif %}

    <!--== CSS ==-->
    <link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'product.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'announcement-bar.css' | asset_url }}">

    <style>
        .header-wrapperBlock.header-sticky {
            position: fixed !important;
        }
        .errors {
            color:red;
            text-align: center;
            padding: 10px;
        }
        .stamped-fa-star-half-o:before, .stamped-fa-star:before {
            color: #008763 !important;
        }
        .productBlockGrid .collection-review span.stamped-badge {
            margin-left: 0px !important;
        }
        .bf-bundle__rating .stamped-badge-caption {
            padding-left: 5px;
        }
        .trusted_cl .t_c_info+.t_c_info {
            max-width: 405px !important;
        }
        .refill_s_tab_content .swiper.dot_pagination .swiper-pagination {
            position: absolute;
            bottom: 5px !important;
            padding-top: 0px;
        }
    </style>

    {{ content_for_header }}
    {% include 'config-layout' %}

    {% comment %} Intelligems Script  {% endcomment %}
    <script>
        window.Shopify = window.Shopify || {theme: {id: {{ theme.id }}, role: '{{ theme.role }}' } };
        window._template = {
                directory: "{{ template.directory }}",
                name: "{{ template.name }}",
                suffix: "{{ template.suffix }}"
        }
    </script> 
    <script src="https://cdn.intelligems.io/e5166ddbef7f.js"></script>
    {% comment %} Intelligems Script - End {% endcomment %}

    <!-- styles endrock -->
    {{ 'endrock.css' | asset_url | stylesheet_tag }}
    <!-- end styles endrock -->
</head>

<body>
    {% render 'config-header' %}

    <main {% if main_class != blank %}class="{{ main_class }}"{% endif %}>
        {{ content_for_layout }}
    </main>

    {% section 'newsletter' %}
    {% include 'config-footer' %}
    {% section 'slidecart' %}
    {% include 'slidelogin' %}

    <script>
        let template = '{{ template }}';
        
        if (document.querySelector('a[href="#faq_section"]')) {
            document.querySelector('a[href="#result_section"]').addEventListener('click', function(e) {
                e.preventDefault();
                if (!document.getElementById('result_section')) {
                    window.location = '/#result_section';
                }
            });
        }

        if (document.querySelector('a[href="#faq_section"]')) {
            document.querySelector('a[href="#faq_section"]').addEventListener('click', function(e) {
                e.preventDefault();
                if (!document.getElementById('faq_section')) {
                    window.location = '/pages/faqs';
                }
            });            
        }

    </script>

    <!--======================= Scripts ============================-->
    <script src="{{ 'jquery.min.js' | asset_url }}"></script>
    <script src="{{ 'vendor.js' | asset_url }}"></script>
    <script src="{{ 'theme.js' | asset_url }}"></script>
    <script src="{{ 'qurify-filter-lp.js' | asset_url }}"></script>
    <script src="{{ 'slideLogin.js' | asset_url }}"></script>
    <script src="{{ '__app_trackObject.js' | asset_url }}"></script>
    <script src="{{ '__app_serums-months-form.js' | asset_url }}"></script>
    <script src="{{ '__app_serums-refill-form.js' | asset_url }}"></script>
    <script defer src="{{ 'endrock.js' | asset_url }}"></script>

    {% render 'slidecart-insert' %}

    <script async type="text/javascript" src="https://cdn1.stamped.io/files/widget.min.js"></script>

    <script>
        {% if collection %}
            console.log('https://admin.shopify.com/store/qure-skincare/collections/{{ collection.id }}')
            console.log('handle: {{ collection.handle }}')
            console.log('template name: {{ template }}')
        {% endif %}
        
        {% if product %}
            console.log('https://admin.shopify.com/store/qure-skincare/products/{{ product.id }}')
            console.log('handle: {{ product.handle }}')
            console.log('template name: {{ template }}')
        {% endif %}
        
        {% if page %}
            console.log('https://admin.shopify.com/store/qure-skincare/pages/{{ page.id }}')
            console.log('handle: {{ page.handle }}')
            console.log('template name: {{ template }}')
        {% endif %}
        
        {% if blog %}
            console.log('https://admin.shopify.com/store/qure-skincare/blogs/{{ blog.id }}')
            console.log('handle: {{ blog.handle }}')
            console.log('template name: {{ template }}')
        {% endif %}
        
        {% if article %}
            console.log('https://admin.shopify.com/store/qure-skincare/articles/{{ article.id }}')
            console.log('handle: {{ article.handle }}')
            console.log('template name: {{ template }}')
        {% endif %}
    </script>

</body>

</html>