<div class="qure_form">
    <div class="container">
        <div class="sign_in_wrapper mw-423">
            <div class="section_header ps-0 mw-100">
                <h2 class="title-lg">{{ 'customer.reset_password.title' | t }}</h2>
            </div>
            {% form 'reset_customer_password' %}

                {%- if form.errors -%}
                    {{ form.errors | default_errors }}
                {%- endif -%}

                <div class="qure_input">
                    <input 
                        type="password"
                        name="customer[password]"
                        id="ResetPassword"
                        class="qure_input_field {% if form.errors contains 'password' %}input-error{% endif %}"
                        placeholder="{{ 'customer.reset_password.password' | t }}"
                    >  
                    <label for="g_email" class="qure_input_label"></label>
                </div>

                <div class="qure_input">
                    <input 
                        type="password"
                        name="customer[password_confirmation]"
                        id="PasswordConfirmation"
                        class="qure_input_field {% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
                        placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
                    >
                    <label for="g_email" class="qure_input_label"></label>
                </div>

                <div class="qure_form_btn my-4 d-block">
                    <button class="btn btn-lg btn-primary">
                        {{ 'customer.reset_password.submit' | t }}
                    </button>
                </div>
            {%- endform -%}
        </div>
    </div>
</div>