{% if cart.item_count == 0 %}
    <div class="shoppingCart section">
        <div class="container">
            <div class="section_header text-md-center">
                <h2 class="title-lg">SHOPPING CART</h2>
                <p>Your cart is currently empty.</p>
                <p>Continue browsing <a href="{{ routes.root_url }}">here</a></p>
            </div>
        </div>
    </div>
{% else %}
    <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
        <div class="shoppingCart section">
            <div class="container">
                <div class="section_header text-md-center">
                    <h2 class="title-lg">SHOPPING CART</h2>
                </div>
                <div class="sc_table">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-2">
                            <div class="c_pdt sc_header">PRODUCT</div>
                        </div>
                        <div class="col-2 d-none d-md-block">
                            <div class="c_desc sc_header">DESCRIPTION</div>
                        </div>

                        <div class="col-2">
                            <div class="c_qty sc_header">QUANTITY</div>
                        </div>
                        <div class="col-2">
                            <div class="c_price sc_header">PRICE</div>
                        </div>
                        <div class="col-2">
                            <div class="c_del sc_header">REMOVE</div>
                        </div>

                    </div>

                    {%- for item in cart.items -%}
                        <div class="row align-items-center justify-content-between" id="CartItem-{{ item.index | plus: 1 }}">
                            <div class="col-2 col-md-2">
                                <div class="c_pdt">
                                    {% if item.image %}
                                        <a href="{{ item.url }}" class="c_pdt">
                                            <img class="img-fluid" src="{{ item.image | image_url: width: 300 }}" alt="{{ item.image.alt | escape }}">
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-md-2 order-1 order-md-0">
                                <div class="c_desc">
                                    <a href="{{ item.url }}">{{ item.product.title | escape }}</a>
                                </div>
                            </div>
                            <div class="col-2 col-md-2">
                                <div class="c_amt">
                                    {{ item.quantity }}
                                </div>
                            </div>
                            <div class="col-2 col-md-2">
                                <div class="c_price">
                                    {%- if item.original_price != item.final_price -%}
                                        {{ item.final_price |  money_without_trailing_zeros }}
                                    {%- else -%}
                                        {{ item.original_price | money_without_trailing_zeros }}
                                    {%- endif -%}
                                </div>
                            </div>
                            <div class="col-2 col-md-2">
                                <div class="c_del">
                                    <a href="{{ item.url_to_remove }}"> <img src="{{ 'cross.png' | asset_url }}" alt="" class="img-fluid"></a>
                                </div>
                            </div>
            
                        </div>
                    {%- endfor -%}

                    <div class="row justify-content-end gap-3">
                        <div class="col-auto col-md-2">
                            <div class="total_pdts_info"><strong>Total</strong></div>
                        </div>
                        <div class="col-auto col-md-2">
                            <div class="total_pdts">
                                <strong>
                                    {{ cart.total_price | money_without_trailing_zeros }}
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart_button_wrap">
                    <button type="submit" name="checkout" class="cart_btn">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="20" x="0" y="0"
                                viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"
                                class="me-2">
                                <g>
                                    <path
                                        d="M15.25 7.25V7c0-.86-.34-1.69-.95-2.3s-1.44-.95-2.3-.95-1.69.34-2.3.95-.95 1.44-.95 2.3v.25zm-8 4.75V8.75h-.41c-.65 0-1.19.5-1.25 1.15l-.66 8c-.06.72.51 1.35 1.24 1.35h11.66c.73 0 1.3-.63 1.24-1.35l-.66-8a1.26 1.26 0 0 0-1.25-1.15h-.41V12c0 .41-.34.75-.75.75s-.75-.34-.75-.75V8.75h-6.5V12c0 .41-.34.75-.75.75s-.75-.34-.75-.75zm0-5c0-1.26.5-2.47 1.39-3.36A4.753 4.753 0 0 1 16.75 7v.25h.41c1.43 0 2.62 1.1 2.74 2.52l.67 8c.13 1.6-1.13 2.98-2.74 2.98H6.17c-1.61 0-2.87-1.38-2.74-2.98l.67-8a2.753 2.753 0 0 1 2.74-2.52h.41z"
                                        fill="#ffffff" opacity="1" data-original="#000000" class=""></path>
                                </g>
                            </svg>
                        </span>CheckOut Securely Now
                    </button>
                </div>
                <div class="shop_button_wrap">
                    {{ content_for_additional_checkout_buttons }}
                </div>
            </div>
        </div>
    </form>
{% endif %}