<!-- -- featured promotion end -- -->
<div class="container cus-bradcamp">
    <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
        <a href="/" title="Home">Home</a>
        <span aria-hidden="true">›</span>
        <span>{{ collection.title }}</span>
    </nav>
    {% render 'collection-sort-by-desktop' %}
    {% render 'collection-filter-mobile' %}
</div>

<div class="collection collection-container container">

    {% render 'collection-filter-desktop' %}
    
    <div class="col-product product-grid-container">
        {% comment %} First Info Card {% endcomment %}
        {% assign first_block = section.blocks | where: 'type', 'info-card' | first %}
        {% if first_block != nil %}
            <div class="productBlockGrid info-card">
                {% if first_block.settings.info_card_link != nil %}
                <a href="{{ first_block.settings.info_card_link }}">
                {% endif %}
                <img 
                    class="info-card__desktop-image"
                    src="{{ first_block.settings.info_card_image | image_url: width: 600 }}" 
                    alt="{{ first_block.settings.info_card_image.alt }}"
                    width="auto"
                    height="auto"
                    loading="eager"
                >
                <img 
                    class="info-card__mobile-image"
                    src="{{ first_block.settings.info_card_image_mobile | image_url: width: 300 }}" 
                    alt="{{ first_block.settings.info_card_image_mobile.alt }}"
                    width="200"
                    height="auto"
                    loading="eager"
                >

                {% if first_block.settings.info_card_link != nil %}  
                </a>
                {% endif %}
            </div>
        {% endif %}
        {% assign info_card_position = section.settings.info_card_position %}
        {% assign counter = 0 %}
        
        {% for product in collection.products %}
            {% assign position = counter | modulo: info_card_position %}


            {% assign counter = counter | plus: 1 %}
            {% if position == 0 and counter >= info_card_position %}
                {% assign other_blocks = section.blocks | where: 'type', 'info-card' %}
                {% assign info_card_index = counter | divided_by: info_card_position | modulo: other_blocks.size %}

                {% for block in other_blocks %}
                  {% if forloop.index0 == info_card_index %}
                    <div class="productBlockGrid info-card">
                      {% if block.settings.info_card_link != nil %}
                        <a href="{{ block.settings.info_card_link }}">
                      {% endif %}
                      <img 
                        class="info-card__desktop-image"
                        src="{{ block.settings.info_card_image | image_url: width: 600 }}" 
                        alt="{{ block.settings.info_card_image.alt }}"
                        width="auto"
                        height="auto"
                        loading="eager"
                      >
                      <img 
                        class="info-card__mobile-image"
                        src="{{ block.settings.info_card_image_mobile | image_url: width: 300 }}" 
                        alt="{{ block.settings.info_card_image_mobile.alt }}"
                        width="200"
                        height="auto"
                        loading="eager"
                      >
                      {% if block.settings.info_card_link != nil %}  
                        </a>
                      {% endif %}
                    </div>
                  {% endif %}
                {% endfor %}
                
              {% endif %}
            <div class="productBlockGrid">
                <div class="cus-tag">
                    {% assign amount = 0 %}
                    {% for variant in product.variants %}
                      {% assign saving = variant.compare_at_price | minus: variant.price %}
                      {% assign amount = saving | at_least: amount %}
                    {% endfor %}
                    {% if amount != 0 %}
                        <span class="cus-save">Save {{ amount | money_without_trailing_zeros }}</span>
                    {% endif %}
                    {% for tag in product.tags %}
                        {% if tag contains 'Best Seller' %}
                            <span class="cus-seller">BestSeller</span>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="product-grid__image">
                    <a href="{{ routes.root_url }}products/{{ product.handle }}" class="productLink">
                        <img src="{{ product.featured_image | img_url: '720x' }}" alt="collection img" />
                    </a>
                </div>
                <div class="product-grid__review collection-review">
                    {{ product.metafields.stamped.badge }}
                </div>
                <div class="product-grid__title">{{ product.title }}</div>
                <div class="collection-description">{{ product.description | strip_html | truncate: 130 }}</div>
                <div class="product-grid__price abtest">
                    <span class="product-grid__sale-price" data-processed-abconvert-price="true">{{ product.price |  money_without_trailing_zeros }}</span>
                    <s class="product-grid__compare-price" data-processed-abconvert-price="true">{{ product.compare_at_price |  money_without_trailing_zeros }}</s>
                </div>
                <div class="product-grid__atc-form-wrapper collection-form">
                    <button type="button" class="button button_primary" data-ajax-cart-request-button="/cart/add?id={{ product.variants.first.id }}&quantity=1" data-ajax-cart-request-button><span>Buy Now</span></button>
                    <a href="{{ routes.root_url }}products/{{ product.handle }}" class="collec-more">Learn More</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
            console.log('click');
            // Add click event listener to checkbox
            checkbox.addEventListener('click', updateURL);

            // Add click event listener to closest parent li of the checkbox
            const parentLi = checkbox.closest('li');
            if (parentLi) {
                parentLi.addEventListener('click', function(event) {
                    // Prevent triggering the event twice if the checkbox itself was clicked
                    if (event.target !== checkbox) {
                        checkbox.checked = !checkbox.checked;
                        updateURL.call(checkbox);
                    }
                });
            }
        });

        function updateURL() {
            const paramName = this.name;
            const paramValue = this.checked ? this.value : '';
            const newUrl = new URL(window.location.href);

            if (paramValue) {
                newUrl.searchParams.set(paramName, paramValue);
            } else {
                newUrl.searchParams.delete(paramName);
            }

            window.location.href = newUrl.toString();
        }

        // Add existing sort parameters to current URL
        document.querySelector('.sort-by').addEventListener('change', function(e) {
            var value = e.currentTarget.value;
            Shopify.queryParams.sort_by = value;
            location.search = new URLSearchParams(Shopify.queryParams).toString();
        });

        setInterval(
            function () {
                var classNameRaman = document.getElementById("offcanvasBottom").classList;
                console.log(classNameRaman)
                if (classNameRaman.contains('show')) {
                    $('html').addClass('filterActive');
                }
                else {
                    $('html').removeClass('filterActive');
                }
        })

        document.querySelectorAll('.clear_filter_text').forEach(link => {
            link.addEventListener('click', function(e) {
                e.preventDefault();
                const url = new URL(window.location);
                const baseUrl = url.origin + url.pathname;
                window.location.href = baseUrl;
            });
        });

    });

    Shopify.queryParams = {};
    if(location.search.length) {
        for(var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
        aKeyValue = aCouples[i].split('=');
        if (aKeyValue.length > 1) {
            Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
        }
        }
    }

</script>


{% schema %}
    {
        "name": "t:sections.collection-results.name",
        "class": "section-collection-results",
        "settings": [
            {
            "type": "header",
            "content": "INFO CARDS"
            },
            {
            "type": "number",
            "id": "info_card_position",
            "default": 3,
            "label": "Info card position"
            }
        ],
        "blocks": [
            {
                "type": "info-card",
                "name": "Info card",
                "settings": [
                    {
                    "type": "url",
                    "id": "info_card_link",
                    "label": "Link"
                    },
                    {
                    "type": "image_picker",
                    "id": "info_card_image",
                    "label": "Image Desktop"
                    },
                    {
                    "type": "image_picker",
                    "id": "info_card_image_mobile",
                    "label": "Image Mobile"
                    }
                ]
            }
        ]
    }
{% endschema %}