<!-- Video blocks -->
<div class="section videosQure bg-lightGrey">
    <div class="container">
        <div class="section_header text-center mb-2 ms-0 ms-md-auto">
            {% if section.settings.heading != blank %}
                <h2 class="title-lg paddingB d-none d-md-block">
                    {{ section.settings.heading | replace:  '\n', '<br />'  }}
                </h2>
                <h2 class="title-lg paddingB d-block d-md-none">
                    {{ section.settings.heading | replace:  '\n', ''}}
                </h2>
            {% endif %}
            {{ section.settings.text }}
        </div>
        <div class="videoInfo">
            <div class="swiper twa__swiper qureSlider dot_pagination" id="twa__swiper-qureSlider"
                data-section-id="qureSlider" data-autoplay="false" data-loop="false" data-centerslide="false"
                data-mobile="1.6" data-tablet="4" data-desktop="4" data-spacing="40"
                data-arrowleft="qureSlider-swiper-prev" data-arrowright="qureSlider-swiper-next">
                <div class="swiper-wrapper">
                    {%- for block in section.blocks -%}
                        <div class="swiper-slide">
                            <div class="videosQure_exernal">
                                <div class="wistia_responsive_padding" style="position:relative;">
                                    <div class="wistia_responsive_wrapper"
                                        style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                        <div class="wistia_embed wistia_async_{{ block.settings.wistia_id }} seo=false videoFoam=true"
                                            style="height:100%;position:relative;width:100%">
                                            <div class="wistia_swatch"
                                                style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                <img src="https://fast.wistia.com/embed/medias/{{ block.settings.wistia_id }}/swatch"
                                                    style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                    alt="" aria-hidden="true"
                                                    onload="this.parentNode.style.opacity=1;" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>
<!-- Video blocks end-->


{% schema %}
    {
        "name": "Videos",
        "class": "section-videos",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "t:common.heading.label"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text.label"
            }
        ],
        "blocks": [
            {
                "type": "wistia",
                "name": "t:common.wistia.label",
                "settings": [
                    {
                        "type": "text",
                        "id": "wistia_id",
                        "label": "t:common.wistia.id.label"
                    }
                ]
		    }
        ]
    }
{% endschema %}