<!-- -- my faucet start -- -->
<div class="myFaucet section bg-yellow">
    <div class="container">
        <div class="section_header text-md-center">
            {% if section.settings.heading != blank %}
                <h2 class="title-lg paddingB">{{ section.settings.heading }}</h2>
            {% endif %}

            {% if section.settings.text != blank %}
                {{ section.settings.text }}
            {% endif %}
        </div>
        <div class="myFaucet_grid d-flex">
            {%- for block in section.blocks limit: 4 -%}
                <div class="myFaucet_item">
                    {% if block.settings.image != blank %}
                        <img class="img-fluid" src="{{ block.settings.image | img_url: '250x' }}" alt="{{ block.settings.image.alt | escape }}">
                    {% endif %}
                </div>
            {%- endfor -%}
        </div>
        <div class="myFaucet_grid d-flex mt-3">
            {%- for block in section.blocks offset:4 limit: 4 -%}
                <div class="myFaucet_item">
                    {% if block.settings.image != blank %}
                        <img class="img-fluid" src="{{ block.settings.image | img_url: '250x' }}" alt="{{ block.settings.image.alt | escape }}">
                    {% endif %}
                </div>
            {%- endfor -%}
        </div>
    </div>
</div>
<!-- -- my faucet end -- -->


{% schema %}
    {
        "name": "My faucet",
        "class": "section-myfaucet",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "t:common.heading.label"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text.label"
            }
        ],
        "blocks": [
            {
                "type": "image",
                "name": "t:common.image.label",
                "limit": 8,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "t:common.image.label"
                    }
                ]
		    }
        ]
    }
{% endschema %}