<div class="best-seller-container">
  <div class="best-seller-wrapper swiper">
    <div class="title-btns-container">
      <h2 class="best-seller-wrapper__title">{{ section.settings.title | escape }}
      </h2>

      <div class="best-seller-wrapper__categories">
        <div class="btn active cat1 signs-of-aging" data-category="cat1"><span class="label">{{ section.settings.category1_label }}</span></div>
        <div class="btn cat2 acne" data-category="cat2"><span class="label">{{ section.settings.category2_label }}</span></div>
        <div class="btn cat3 dark-spots" data-category="cat3"><span class="label">{{ section.settings.category3_label }}</span></div>
      </div>
    </div>

    <div class="best-seller-wrapper__products-container swiper-wrapper">
      {%- for block in section.blocks -%}
          <a class="swiper-slide product-link {% if block.settings.category == "cat1" %}active{%else%}best-seller-hidden{%endif%} category-{{ block.settings.category }}" 
            href="{{ block.settings.product_link }}" data-category="{{ block.settings.category }}">
            <div class="product-wrapper">
              <div class="images-container">
                {{ block.settings.main_image | image_url: width: 500  | image_tag: alt: block.settings.main_image.alt, class: 'main-image' }}
                {{ block.settings.hover_image | image_url: width: 500 | image_tag: alt: block.settings.hover_image.alt, class: 'hover-image best-seller-hidden' }}
              </div>
              <div class="content-container">
                <div class="product-title">{{ block.settings.card_title }}</div>
                <div class="Stars" style="--rating: {{ block.settings.rating }};"><span class="rating-value">{{ block.settings.rating | times: 1.0 }}</span></div>
                <div class="product-description">{{ block.settings.description }}</div>
                <div class="cta-button"><span class="label">{{ section.settings.label_cta_button }}</span></div>
              </div>
            </div>
          </a>
      {% endfor %}
    </div>
    <div class="swiper-element swiper-pagination"></div>
    <div class="swiper-element swiper-button-prev"></div>
    <div class="swiper-element swiper-button-next"></div>

    <div class="best-seller-wrapper__footer">
      <a href="{{ section.settings.cta_section_link }}" class="btn">
        <span class="label">{{ section.settings.label_cta_section }}</span>
      </a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "EndRock Best Seller",
    "tag": "section",
    "class": "best-seller-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Main Title",
        "default": "Best Sellers"
      },
      {
        "type":"text",
        "id":"category1_label",
        "label":"Category 1 Label",
        "default":"Signs of Aging"
      },
      {
        "type":"text",
        "id":"category2_label",
        "label":"Category 2 Label",
        "default":"Acne"
      },
      {
        "type":"text",
        "id":"category3_label",
        "label":"Category 3 Label",
        "default":"Dark Spots"
      },
      {
        "type":"text",
        "id":"label_cta_button",
        "label":"Label CTA of each card",
        "default":"Buy Now"
      },
      {
        "type":"text",
        "id":"label_cta_section",
        "label":"Label CTA Section",
        "default":"Shop Best Sellers"
      },
      {
        "type": "url",
        "id": "cta_section_link",
        "label": "CTA Section link"
      }
    ],
    "blocks": [
      {
        "name": "product",
        "type": "product",
        "settings": [
          {
            "type": "image_picker",
            "id": "main_image",
            "label": "Main Image"
          },
          {
            "type": "image_picker",
            "id": "hover_image",
            "label": "Hover Image"
          },
          {
            "type":"text",
            "id":"card_title",
            "label":"Card Title"
          },
          {
            "type":"richtext",
            "id":"description",
            "label":"Description"
          },
          {
            "type": "select",
            "id": "category",
            "label": "Category",
            "options": [
              {
                "value": "cat1",
                "label": "Category 1"
              },
              {
                "value": "cat2",
                "label": "Category 2"
              },
              {
                "value": "cat3",
                "label": "Category 3"
              }
            ]
          },
          {
            "type": "url",
            "id": "product_link",
            "label": "Product Link"
          },
          {
            "type":"text",
            "id":"product_handle",
            "label":"Product Handle"
          },
          {
            "type":"number",
            "id":"rating",
            "label":"Rating"
          }
        ]
      }
   ],
    "presets": [
      {
        "name": "EndRock Best Seller",
        "blocks": [
          {
            "type":"product"
          }
        ]
      }
    ]
  }
{% endschema %}
