<div class="footer">
    <div class="container-fluid">
        <div class="f_main">
            <div class="row">
                <div class="col-md-12 col-lg-9">
                    <div class="row">
                        <div class="d-none d-lg-block col-lg-3">
                            <div class="f_logo">
                                <a href="{{ routes.root_url }}" title="Qure"><img src="{{ 'footer_logo.svg' | asset_url }}" alt=""></a>
                            </div>
                        </div>
                        {% for block in section.blocks %}
                            {%- case block.type -%}
                                {% when 'menu' %}
                                    {% render 'footer-menu' with menu: block.settings.menu %}
                            {%- endcase -%}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-12 col-lg-3">
                    <div class="f_app_wrapper pt-4 pt-lg-0">
                        {% for block in section.blocks %}
                            {%- case block.type -%}
                                {% when 'content' %}
                                    <div class="f_apps">
                                        <h5>{{ block.settings.heading }}</h5>
                                        <p>{{ block.settings.text }}</p>
                                    </div>
                            {%- endcase -%}
                        {% endfor %}

                        <div class="f_app_links">
                            {% for block in section.blocks %}
                                {%- case block.type -%}
                                    {% when 'link' %}
                                        {% if block.settings.image %}
                                            <div style="padding-bottom: 10px">
                                                <a href="{{ block.settings.link_url }}" target="_blank" rel="nofollow"><img src="{{ block.settings.image | img_url: '200x' }}" alt="link"></a>
                                            </div>
                                        {% endif %}
                                {%- endcase -%}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="f_copyright">
            <div class="f_c_upper">
                {% if section.settings.heading != blank %}
                    <p>
                        {{ section.settings.heading }}
                    </p>
                {% endif %}

                {% if section.settings.menu %}
                    <ul>
                        {% for link in linklists[section.settings.menu].links %}
                            <li>
                                <a href="{{ link.url }}" aria-label="{{ link.title | escape }}">{{ link.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% if section.settings.text != blank %}
                <div class="f_c_bottom">
                    <p>
                        {{ section.settings.text }} 
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
</div>


{% schema %}
{
    "name": "t:sections.footer.name",
    "class": "section-footer",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label" : "t:common.heading.label",
            "default": "© 2024 Qure. All rights reserved."
        },
		{
			"type": "link_list",
			"id": "menu",
			"label": "t:common.menu.label"
		},
        {
            "type": "textarea",
            "id": "text",
            "label" : "t:common.text.label"
        }
    ],
    "blocks": [
		{
			"type": "menu",
			"name": "t:sections.footer.blocks.menu.name",
            "limit": 1,
			"settings": [
                {
                    "type": "link_list",
                    "id": "menu",
                    "label": "t:common.menu.label"
                }
			]
		},
        {
            "type": "content",
            "name": "t:sections.footer.blocks.content.name",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label" : "t:common.heading.label"
                },
                {
                    "type": "textarea",
                    "id": "text",
                    "label" : "t:common.text.label"
                }
            ]
        },
        {
            "type": "link",
            "name": "t:sections.footer.blocks.link.name",
            "limit": 3,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:common.image.label"
                },
                {
                    "type": "url",
                    "id": "link_url",
                    "label": "t:common.link.url.name"
                }
            ]
        }
    ]
}
{% endschema %}