<div class="orderby-receiveby ">
  <div class="orderby-receiveby__today">
    {% render 'pdm_icon-package' %}
    <span class="orderby-receiveby__today-text">{{ section.settings.today_text }}</span>
    {% render 'pdm_icon-arrow-right' %}
  </div>
    <div class="orderby-receiveby__dates">
    {% render 'pdm_icon-truck' %}
    <span class="orderby-receiveby__shipping-text">
    </span>
  </div>
</div>
  
<script>
  window.nationalText = '{{ section.settings.national_text }}';
  window.internationalText = '{{ section.settings.international_text }}';
  window.stateDeliveryRange = [
    {% for block in section.blocks %}
      {
        stateAcronym: '{{ block.settings.state_acronym | downcase }}',
        deliveryRange: '{{ block.settings.delivery_range }}'
      },
    {% endfor %}
  ];
</script>

{% schema %}
{
  "name": "Power Digital - Order By",
  "settings": [
    {
      "type": "text",
      "id": "today_text",
      "label": "Today Text",
      "default": "Order today"
    },
    {
      "type": "text",
      "id": "international_text",
      "label": "International Text",
      "default": "Ships within 2 days"
    },
    {
      "type": "text",
      "id": "national_text",
      "label": "National Text",
      "default": " Get in [] business days",
      "info": "Use [] to replace the number of days"
    }
  ],
  "blocks": [
    {
      "type": "State",
      "name": "Delivery range state",
      "settings": [
        {
          "type": "text",
          "id": "state_acronym",
          "label": "State Acronym"
        },
        {
          "type": "text",
          "id": "delivery_range",
          "label": "Delivery Range for Order by"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Endrock - Order By",
      "category": "Endrock",
      "blocks": [
        {
            "type": "State",
            "settings": {
              "state_acronym": "OR",
              "delivery_range": "6-8"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "NV",
              "delivery_range": "6-7"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "AL",
              "delivery_range": "5-7"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "AK",
              "delivery_range": "5-7"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "CO",
              "delivery_range": "5-7"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "ID",
              "delivery_range": "5-7"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "IA",
              "delivery_range": "5-7"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "KS",
              "delivery_range": "5-7"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "MN",
              "delivery_range": "5-7"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "MO",
              "delivery_range": "5-7"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "MT",
              "delivery_range": "5-7"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "NH",
              "delivery_range": "5-7"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "ND",
              "delivery_range": "5-7"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "RI",
              "delivery_range": "5-7"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "SD",
              "delivery_range": "5-7"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "UT",
              "delivery_range": "5-7"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "WA",
              "delivery_range": "5-7"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "WI",
              "delivery_range": "5-7"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "WY",
              "delivery_range": "5-7"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "HI",
              "delivery_range": "5-6"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "AZ",
              "delivery_range": "4-6"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "AR",
              "delivery_range": "4-6"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "CA",
              "delivery_range": "4-6"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "CT",
              "delivery_range": "4-6"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "GA",
              "delivery_range": "4-6"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "IL",
              "delivery_range": "4-6"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "IN",
              "delivery_range": "4-6"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "KY",
              "delivery_range": "4-6"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "LA",
              "delivery_range": "4-6"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "ME",
              "delivery_range": "4-6"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "MD",
              "delivery_range": "4-6"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "MA",
              "delivery_range": "4-6"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "MI",
              "delivery_range": "4-6"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "MS",
              "delivery_range": "4-6"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "NE",
              "delivery_range": "4-6"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "NM",
              "delivery_range": "4-6"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "NY",
              "delivery_range": "4-6"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "NC",
              "delivery_range": "4-6"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "OK",
              "delivery_range": "4-6"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "PA",
              "delivery_range": "4-6"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "SC",
              "delivery_range": "4-6"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "TN",
              "delivery_range": "4-6"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "TX",
              "delivery_range": "4-6"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "VT",
              "delivery_range": "4-6"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "WV",
              "delivery_range": "4-6"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "DE",
              "delivery_range": "3-5"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "NJ",
              "delivery_range": "3-5"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "OH",
              "delivery_range": "3-5"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "VA",
              "delivery_range": "3-5"
            }
          },
          {
            "type": "State",
            "settings": {
              "state_acronym": "FL",
              "delivery_range": "2-4"
            }
          }
      ]
    }
  ]
}
{% endschema %}