{%- assign rating_count = 0 -%}
{%- assign button_count = 0 -%}
{%- assign list_count = 0 -%}
{%- assign liquid_count = 0 -%}
{%- assign video_count = 0 -%}
{%- assign icons_count = 0 -%}


{%- for block in section.blocks -%}
	{%- case block.type -%}
        {%- when 'rating' -%}
            {%- assign rating_count = rating_count | plus: 1 -%}    
        {%- when 'button' -%}
            {%- assign button_count = button_count | plus: 1 -%}    
        {%- when 'list' -%}
            {%- assign list_count = list_count | plus: 1 -%}
        {%- when 'video' -%}
            {%- assign video_count = video_count | plus: 1 -%}
        {%- when 'icons' -%}
            {%- assign icons_count = icons_count | plus: 1 -%}
        {%- when 'liquid' -%}
            {%- assign liquid_count = liquid_count | plus: 1 -%}
    {%- endcase -%}
{%- endfor -%}


{% if section.settings.product != blank %}
    {% assign product = section.settings.product %}
{% endif %}

{%liquid
    assign new_design = false
    if section.settings.selected_design == 'new'
        assign new_design = true
    elsif section.settings.selected_design == 'old'
        assign new_design = false
    endif
%}

<!-- -- main banner start -- -->
<div class="refill_bl pt-0 tabSlider" id="page">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-2 order-md-1">
                <div class="refill_info pt-0 pt-md-3">
                    <div class="section_header text-start ms-0">
                        {% if section.settings.heading != blank %}
                            <h1 class="title-xl d-none d-md-block">{{ section.settings.heading | replace: '\n', '<br />' }}</h1>
                        {% endif %}
                        {% if section.settings.heading_mobile != blank %}
                            <h2 class="title-xl d-md-none">{{ section.settings.heading_mobile | replace: '\n', '<br />' }}</h2>
                        {% elsif section.settings.heading != blank %}
                            <h2 class="title-xl d-md-none">{{ section.settings.heading | replace: '\n', '<br />' }}</h2>
                        {% endif %}
                    </div>
                    {% if rating_count %}
                        {%- for block in section.blocks -%}
                            {% if block.type == 'rating' %}
                                <div class="refill_review">
                                    <div class="star_gp">
                                        {% if block.settings.image != blank %}
                                            <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt | escape }}">
                                        {% endif %}
                                    </div>
                                    <p class="text-sm fw-normal" style="text-decoration: none;">{{ block.settings.text }}</p>
                                </div>
                            {% endif %}
                        {%- endfor -%}
                    {% endif %}
                    {% unless page.handle == 'microinfusion' or page.handle == 'qure-microinfusion-offer' or page.handle == 'qure-microinfusion-offer-de' or page.handle == 'qure-micro-infusion-landing-page-affiliate'%}
                        <div class="product-price price-test">
                            {% render 'no-price-atc' subscribe_count: 1, section: section, landing:true %}
                        </div>
                    {% endunless %}
                    {% if button_count %}
                        {%- for block in section.blocks -%}
                            {% if block.type == 'button' %}
                                {% if block.settings.button_label != blank %}
                                    <a class="mt-4 mb-2 mt-md-5 mt-md-3 btn btn-lg btn-primary" href="{{ block.settings.button_url }}" aria-label="{{ block.settings.button_label | escape }}">
                                        {{ block.settings.button_label }}
                                    </a>
                                {% endif %}
                            {% endif %}
                        {%- endfor -%}   
                    {% endif %}

                    <div class="ss_list mw-423 py-4">
                        {% if list_count > 0 %}
                            <div class="list">
                            {%- for block in section.blocks -%}
                                {% if block.type == 'list' %}
                                    {% if block.settings.text %}
                                        {{ block.settings.text }}
                                    {% endif %}
                                {% endif %}
                            {%- endfor -%} 
                            </div>
                        {% endif %}
                        {% if section.settings.product != blank %}
                            <a class="btn btn-lg btn-primary buy_btn event_btn price-test-original" href="{{ routes.cart_add_url }}?id={{ product.variants.first.id }}&quantity=1" data-ajax-cart-request-button>{% if section.settings.reserve == true %}Reserve now{% else %}Buy Now{% endif %} -
                            <span class="igPrice" data-product-id="{{ product.id }}"> {{ product.price | money_without_trailing_zeros }}</span><img src="{{ 'arrow_right.svg' | asset_url }}" alt="">
                            </a>
                            <a class="btn btn-lg btn-primary buy_btn event_btn price-test" href="{{ routes.cart_add_url }}?id={{ product.variants.first.id }}&quantity=1" data-ajax-cart-request-button>{% if section.settings.reserve == true %}Reserve now{% else %}Buy Now{% endif %}
                            </a>

                            {% if product.compare_at_price != blank %}
                                {% render 'product-sticky-button' with
                                    variant_id: product.variants.first.id, 
                                    current_price: product.price, 
                                    original_price: product.compare_at_price, 
                                %}                    
                            {% else %}
                                {% render 'product-sticky-button' with
                                    variant_id: product.variants.first.id, 
                                    current_price: product.price, 
                                    original_price: product.price, 
                                %}
                            {% endif %}

                            <div class="payment_method">
                                <p class="d-none d-md-block">OR pay 4 monthly payments of <span class="igInstallmentPrice" data-product-id="{{ product.id }}">{{ product.price | divided_by: 4 | money_without_trailing_zeros }}</span> with</p>
                                <p class="d-block d-md-none">OR 4 monthly payments of {{ product.price | divided_by: 4 | money_without_trailing_zeros }} with</p>
                                <div class="pmt_img ps-2">
                                    <img src="{{ 'klarna.svg' | asset_url }}" alt="">
                                    <img src="{{ 'sezzle.svg' | asset_url }}" alt="">
                                    <img src="{{ 'afterpay.svg' | asset_url }}" alt="">
                                </div>
                            </div> 

                            {% if icons_count > 0 %}
                                {%- for block in section.blocks -%}
                                    {% if block.type == 'icons' %}
                                        <div class="shipping shipping_bg bg-transparent">
                                            <div class="s_bx">
                                                <img src="{{ block.settings.image | img_url: '250x' }}" alt="{{ block.settings.image.alt | escape }}" height="32">
                                                <p>{{ block.settings.text }}</p>
                                            </div>
                                            <div class="s_bx">
                                                <img src="{{ block.settings.image_second | img_url: '250x' }}" alt="{{ block.settings.image.alt | escape }}" height="32">
                                                <p>{{ block.settings.text_second }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                {%- endfor -%} 
                            {% endif %}
                        {% endif %}
                    </div>

                    {% if video_count %}

                        {%- for block in section.blocks -%}
                            {% if block.type == 'video' %}

                                {% assign video_source_url = '' %}
                                {% if block.settings.video != blank %}
                                    {% if block.settings.video.sources[1].url != blank %}
                                        {% assign video_source_url = block.settings.video.sources[1].url %}
                                    {% else %}
                                        {% assign video_source_url = block.settings.video.sources[0].url %}
                                    {% endif %} 
                                {% endif %}
                                
                                <div class="see_work swiper-slide video_popup mw-452">
                                    {% if block.settings.image_mobile == blank %}
                                        <img src="{{ block.settings.image | img_url: '500x' }}" alt="{{ block.settings.image.alt | escape }}">
                                    {% else %}
                                        {% if block.settings.image != blank %}
                                            <img class="img-fluid d-none d-md-block" src="{{ block.settings.image | img_url: '500x' }}" alt="{{ block.settings.image.alt | escape }}">
                                        {% endif %}
                                        {% if block.settings.image_mobile != blank %}
                                            <img class="img-fluid d-block d-md-none" src="{{ block.settings.image_mobile | img_url: '500x' }}" alt="{{ block.settings.image.alt | escape }}">
                                        {% endif %}
                                    {% endif %}
                                    <div class="play_btn">
                                        <a class="popup-youtube" href="{{ video_source_url }}" rel="nofollow">
                                            <span><img src="{{ 'trusted_play_md.svg' | asset_url }}" alt="" class="">
                                                <h6>{{ block.settings.video_label }}</h6>
                                            </span>
                                        </a>
                                    </div> 
                                </div> 
                            {% endif %}
                        {%- endfor -%}

                    {% endif %}

                    {% if liquid_count %}
                        {%- for block in section.blocks -%}
                            {% if block.type == 'liquid' %}
                                {{ block.settings.code }}
                            {% endif %}
                        {%- endfor -%}
                    {% endif %}
                </div>
            </div>
            {% render 'pdm_cross-sell', cross-sell-products: page.metafields.custom.cross_sell.value, visibility: "mobile" %}
            <div class="col-md-6  order-1 order-md-2">
                {% if new_design == false %}
                    <div class="refill_slider mw-mob-100">
                    <div class="refill_s_tab_content">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                aria-labelledby="pills-home-tab">
                                <div 
                                    class="swiper twa__swiper productSlider dot_pagination"
                                    id="twa__swiper-productSlider" 
                                    data-section-id="productSlider"
                                    data-autoplay="false" 
                                    data-loop="false" 
                                    data-centerslide="false"
                                    data-mobile="1.1" 
                                    data-tablet="1" 
                                    data-desktop="1" 
                                    data-spacing="10"
                                    data-arrowleft="productSlider-swiper-prev"
                                    data-arrowright="productSlider-swiper-next">
                                    <div class="swiper-wrapper">
                                        {% if product != blank %}

                                            {% if section.settings.product_images_offset > 0 %}
                                              {% assign offset = section.settings.product_images_offset %}
                                            {% else %}
                                              {% assign offset = 0 %}
                                            {% endif %}

                                            {% for media in product.media limit:section.settings.product_images_limit offset: offset %}
                                                {% if media.media_type == 'video' %}
    
                                                    {% if media.sources[1].url != blank %}
                                                        {% assign video_source_url = media.sources[1].url %}
                                                    {% else %}
                                                        {% assign video_source_url = media.sources[0].url %}
                                                    {% endif %}
    
                                                    <div class="swiper-slide video_popup">
                                                        <a class="popup-youtube d-block"
                                                            href="{{ video_source_url }}">
                                                            <picture id="image-id">
                                                                <source media="(min-width:1920px)" srcset="{{ media | img_url: 'master' }}">
                                                                <source media="(min-width:1600px)" srcset="{{ media | img_url: '1600x' }}">
                                                                <source media="(min-width:1100px)" srcset="{{ media | img_url: '1100x' }}">
                                                                <source media="(min-width:720px)" srcset="{{ media | img_url: '720x' }}">
                                                                <source media="(min-width:540px)" srcset="{{ media | img_url: '540x' }}">
                                                                <img class="img-fluid" src="{{ media | img_url: '540x' }}" width="100" height="100" alt="">
                                                            </picture>
                                                        </a>
                                                    </div>   
                                                {% else %}
                                                    <div class="swiper-slide">
                                                        <a class="banner-popup-link" id="popup-link">
                                                            <picture id="image-id">
                                                                <source media="(min-width:1920px)" srcset="{{ media | img_url: 'master' }}">
                                                                <source media="(min-width:1600px)" srcset="{{ media | img_url: '1600x' }}">
                                                                <source media="(min-width:1100px)" srcset="{{ media | img_url: '1100x' }}">
                                                                <source media="(min-width:720px)" srcset="{{ media | img_url: '720x' }}">
                                                                <source media="(min-width:540px)" srcset="{{ media | img_url: '540x' }}">
                                                                <img class="img-fluid tab_img" src="{{ media | img_url: '540x' }}" width="100" height="100" alt="">
                                                            </picture>
                                                        </a>
                                                    </div> 
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {%- assign product_images = 0 -%}
                                            {%- for block in section.blocks -%}
                                                {% if block.type == 'media' %}
                                                    {% if product_images < section.settings.product_images_limit  %}
                                                        {%- assign product_images = product_images | plus: 1 -%}
                                                            {% if block.settings.video != blank %}

                                                                {% if block.settings.video.sources[1].url != blank %}
                                                                    {% assign video_source_url = block.settings.video.sources[1].url %}
                                                                {% else %}
                                                                    {% assign video_source_url = block.settings.video.sources[0].url %}
                                                                {% endif %}

                                                                <div class="swiper-slide video_popup">
                                                                    <a class="popup-youtube" href="{{ video_source_url }}">
                                                                        <picture id="image-id">
                                                                            <source media="(min-width:1920px)" srcset="{{ block.settings.image | img_url: 'master' }}">
                                                                            <source media="(min-width:1600px)" srcset="{{ block.settings.image | img_url: '1600x' }}">
                                                                            <source media="(min-width:1100px)" srcset="{{ block.settings.image | img_url: '1100x' }}">
                                                                            <source media="(min-width:720px)" srcset="{{ block.settings.image | img_url: '720x' }}">
                                                                            <source media="(min-width:540px)" srcset="{{ block.settings.image | img_url: '540x' }}">
                                                                            <img class="img-fluid" src="{{ block.settings.image | img_url: '540x' }}" width="100" height="100" alt="">
                                                                        </picture>
                                                                    </a>
                                                                </div>
                                                            {% elsif block.settings.wistia_id != blank %}
                                                                <div class="swiper-slide video_popup">
                                                                    <div class="banner_img position-relative">
                                                                        <img class="img-fluid tab_img d-none d-md-block" src="{{ block.settings.image | img_url: '900x' }}" alt="">
                                                                        <img class="img-fluid d-block d-md-none" src="{{ block.settings.image | img_url: '540x' }}" alt="">
                                                                        <a class="popup-youtube1 position-absolute top-0 bottom-0 start-0 end-0">
                                                                            <div class="wistia_responsive_padding"
                                                                                style="position:relative;">
                                                                                <div class="wistia_responsive_wrapper"
                                                                                    style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                                                    <span
                                                                                        class="wistia_embed wistia_async_{{ block.settings.wistia_id }} popover=true videoFoam=true"
                                                                                        style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div> 
                                                                <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>  
                                                            {% else %}
                                                                <div class="swiper-slide">
                                                                    <a class="banner-popup-link" id="popup-link">
                                                                        <picture id="image-id">
                                                                            <source media="(min-width:1920px)" srcset="{{ block.settings.image | img_url: 'master' }}">
                                                                            <source media="(min-width:1600px)" srcset="{{ block.settings.image | img_url: '1600x' }}">
                                                                            <source media="(min-width:1100px)" srcset="{{ block.settings.image | img_url: '1100x' }}">
                                                                            <source media="(min-width:720px)" srcset="{{ block.settings.image | img_url: '720x' }}">
                                                                            <source media="(min-width:540px)" srcset="{{ block.settings.image | img_url: '540x' }}">
                                                                            <img class="img-fluid tab_img" src="{{ block.settings.image | img_url: '540x' }}" width="100" height="100" alt="">
                                                                        </picture>
                                                                    </a>   
                                                                </div>   
                                                            {% endif %}
                                                    {% endif %}

                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                            {% if section.settings.before_after_images_limit > 0 %}
                                <div 
                                    class="tab-pane fade" 
                                    id="pills-profile" 
                                    role="tabpanel"
                                    aria-labelledby="pills-profile-tab">
                                    <div class="swiper twa__swiper realResultSlider dot_pagination"
                                        id="twa__swiper-realResultSlider" data-section-id="realResultSlider"
                                        data-autoplay="false" data-loop="false" data-centerslide="false"
                                        data-mobile="1.1" data-tablet="1" data-desktop="1" data-spacing="10"
                                        data-arrowleft="realResultSlider-swiper-prev"
                                        data-arrowright="realResultSlider-swiper-next">
                                        <div class="swiper-wrapper">
                                            {% if product != blank %}
                                                
                                                {% if section.settings.product_images_offset > 0 %}
                                                  {% assign offset = section.settings.product_images_offset | plus: section.settings.product_images_limit %}
                                                {% else %}
                                                  {% assign offset = 0 %}
                                                {% endif %}

                                                {% for media in product.media limit:section.settings.before_after_images_limit offset: offset %}
                                                    <div class="swiper-slide">
                                                        <a class="banner-popup-link" id="popup-link">
                                                            <picture id="image-id">
                                                                <source media="(min-width:1920px)" srcset="{{ media | img_url: 'master' }}">
                                                                <source media="(min-width:1600px)" srcset="{{ media | img_url: '1600x' }}">
                                                                <source media="(min-width:1100px)" srcset="{{ media | img_url: '1100x' }}">
                                                                <source media="(min-width:720px)" srcset="{{ media | img_url: '720x' }}">
                                                                <source media="(min-width:540px)" srcset="{{ media | img_url: '540x' }}">
                                                                <img class="img-fluid tab_img" src="{{ media | img_url: '540x' }}" width="100" height="100" alt="{{ block.settings.image.alt | escape }}">
                                                            </picture>
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                {%- assign before_after_images = 0 -%}
                                                {%- for block in section.blocks -%}
                                                    {% if block.type == 'media' %}
                                                        {% if before_after_images >= section.settings.product_images_limit %}
                                                            <div class="swiper-slide">
                                                                <a class="banner-popup-link" id="popup-link">
                                                                    <picture id="image-id">
                                                                        <source media="(min-width:1920px)" srcset="{{ block.settings.image | img_url: 'master' }}">
                                                                        <source media="(min-width:1600px)" srcset="{{ block.settings.image | img_url: '1600x' }}">
                                                                        <source media="(min-width:1100px)" srcset="{{ block.settings.image | img_url: '1100x' }}">
                                                                        <source media="(min-width:720px)" srcset="{{ block.settings.image | img_url: '720x' }}">
                                                                        <source media="(min-width:540px)" srcset="{{ block.settings.image | img_url: '540x' }}">
                                                                        <img class="img-fluid tab_img" src="{{ block.settings.image | img_url: '540x' }}" width="100" height="100" alt="{{ block.settings.image.alt | escape }}">
                                                                    </picture>
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                        {%- assign before_after_images = before_after_images | plus: 1 -%}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div> 
                            {% endif %}
                        </div>
                    </div>
                    {% if section.settings.before_after_images_limit > 0 %}
                        <div class="refill_s_tab">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-home" type="button" role="tab"
                                        aria-controls="pills-home" aria-selected="true">{{ section.settings.product_button_label }}</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link d-md-block" id="pills-profile-tab"
                                        data-bs-toggle="pill" data-bs-target="#pills-profile" type="button"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">{{ section.settings.before_after_button_label }}</button>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
                {% endif %}  
                {% comment %} end component original {% endcomment %}
                {% if new_design == true %}
                    {% render 'pdm_before_after', data: section.blocks, dataSection: section.settings %}
                {% endif %}
                {% render 'pdm_cross-sell', cross-sell-products: page.metafields.custom.cross_sell.value, visibility: "desktop" %}
            </div>
        </div>
    </div>
</div>
<!-- -- main banner end -- -->

{% schema %}
    {
        "name": "t:sections.product-landing.name",
        "class": "section-product-landing",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "t:common.heading.label"
            },
            {
                "type": "text",
                "id": "heading_mobile",
                "label": "t:common.heading.mobile.label"
            },
            {
                "type": "product",
                "id": "product",
                "label": "t:common.product.label"
            },
            {
                "type": "range",
                "id": "product_images_offset",
                "min": 0,
                "max": 6,
                "step": 1,
                "unit": "t:sections.product-landing.settings.product_images_offset.unit",
                "label": "t:sections.product-landing.settings.product_images_offset.label",
                "default": 0
            },
            {
                "type": "range",
                "id": "product_images_limit",
                "min": 0,
                "max": 10,
                "step": 1,
                "unit": "t:sections.product-landing.settings.product_images_limit.unit",
                "label": "t:sections.product-landing.settings.product_images_limit.label",
                "default": 0
            },
            {
                "type": "text",
                "id": "product_button_label",
                "default": "Product",
                "label": "t:common.button.label",
                "info": "t:common.button.info"
            },
            {
                "type": "range",
                "id": "before_after_images_limit",
                "min": 0,
                "max": 10,
                "step": 1,
                "unit": "t:sections.product-landing.settings.before_after_images_limit.unit",
                "label": "t:sections.product-landing.settings.before_after_images_limit.label",
                "default": 0
            },
            {
                "type": "text",
                "id": "before_after_button_label",
                "default": "Before & After",
                "label": "t:common.button.label",
                "info": "t:common.button.info"
            },
            {
                "type": "checkbox",
                "id": "reserve",
                "label": "t:common.reserve.label",
                "default": false
            },
            {
                "type": "header",
                "content": "Select Design",
                "info": "Select the design for the images section, default is old design"
            },
            {
                "type": "select",
                "id": "selected_design",
                "label": "Design",
                "default": "old",
                "options": [
                    {
                        "value": "old",
                        "label": "Old"
                    },
                    {
                        "value": "new",
                        "label": "New"
                    }
                ]
            },
            {
                "type": "header",
                "content": "New design buttons",
                "info": "Change the text of the buttons for the new design"
            },
            {
                "type": "text",
                "id": "text_label_real_result_1",
                "label": "label text real result button 1",
                "default": "Product"
            },
            {
                "type": "text",
                "id": "text_label_real_result_2",
                "label": "label text real result button 2",
                "default": "Real Results"
            },
            {
                "type": "text",
                "id": "text_label_real_result_3",
                "label": "label text real result button 3",
                "default": "Dermatologist"
            }
        ],
        "blocks": [
            {
                "type": "rating",
                "name": "t:common.rating.label",
                "limit": 1,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "t:common.image.label"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "t:common.text.label"
                    }
                ]
		        },
            {
                "type": "liquid",
                "name": "t:sections.liquid.name",
                "limit": 1,
                "settings": [
                    {
                        "type": "liquid",
                        "id": "code",
                        "label": "t:common.code.label"
                    }
                ]
		    },
            {
                "type": "list",
                "name": "t:common.list.label",
                "limit": 1,
                "settings": [
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "t:common.text.label"
                    }
                ]
		    },
            {
                "type": "media",
                "name": "t:common.media.label",
                "limit": 10,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "t:common.image.label"
                    },
                    {
                        "type": "video",
                        "id": "video",
                        "label": "t:common.video.label"
                    },
                    {
                        "type": "text",
                        "id": "wistia_id",
                        "label": "t:common.wistia.id.label"
                    }
                ]
		    },
            {
                "type": "button",
                "name": "t:common.button.name",
                "limit": 1,
                "settings": [
                    {
                        "type": "text",
                        "id": "button_label",
                        "default": "Button label",
                        "label": "t:common.button.label",
                        "info": "t:common.button.info"
                    },
                    {
                        "type": "url",
                        "id": "button_url",
                        "label": "t:common.button.url.label"
                    }
                ]
		    },
            {
                "type": "video",
                "name": "t:common.video.label",
                "limit": 1,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "t:common.image.label"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_mobile",
                        "label": "t:common.image_mobile.label"
                    },
                    {
                        "type": "video",
                        "id": "video",
                        "label": "t:common.video.label"
                    },
                    {
                        "type": "text",
                        "id": "video_label",
                        "label": "t:common.video.cta.label",
                        "default": "Click To Watch"
                    }
                ]
		    },
            {
                "type": "icons",
                "name": "t:common.icons.label",
                "limit": 1,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "t:common.image.label"
                    },
                    {
                        "type": "text",
                        "id": "text",
                        "label": "t:common.text.label"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_second",
                        "label": "t:common.image.label"
                    },
                    {
                        "type": "text",
                        "id": "text_second",
                        "label": "t:common.text.label"
                    }
                ]
		    },
            {
                "type": "State",
                "name": "Delivery range state",
                "settings": [
                {
                    "type": "text",
                    "id": "state_acronym",
                    "label": "State Acronym"
                },
                {
                    "type": "text",
                    "id": "delivery_range",
                    "label": "Delivery Range for Order by"
                }
                ]
            },
            {
              "type": "product_in_page",
              "name": "Product in page test",
              "limit": 1,
              "settings": [
                {
                  "type": "image_picker",
                  "id": "image_product_1",
                  "label": "image product 1"
                },
                {
                  "type": "text",
                  "id": "image_product_text_1",
                  "label": "image product text 1"
                },
                {
                  "type": "text",
                  "id": "video_wistia_id_1",
                  "label": "id video wistia"
                },
                {
                  "type": "image_picker",
                  "id": "image_product_2",
                  "label": "image product 2"
                },
                {
                  "type": "text",
                  "id": "image_product_text_2",
                  "label": "image product text 2"
                },
                {
                  "type": "text",
                  "id": "video_wistia_id_2",
                  "label": "id video wistia"
                },
                {
                  "type": "image_picker",
                  "id": "image_product_3",
                  "label": "image product 3"
                },
                {
                  "type": "text",
                  "id": "image_product_text_3",
                  "label": "image product text 3"
                },
                {
                  "type": "text",
                  "id": "video_wistia_id_3",
                  "label": "id video wistia"
                },
                {
                  "type": "image_picker",
                  "id": "image_product_4",
                  "label": "image product 4"
                },
                {
                  "type": "text",
                  "id": "image_product_text_4",
                  "label": "image product text 4"
                },
                {
                  "type": "text",
                  "id": "video_wistia_id_4",
                  "label": "id video wistia"
                },
                {
                  "type": "image_picker",
                  "id": "image_product_5",
                  "label": "image product 5"
                },
                {
                  "type": "text",
                  "id": "image_product_text_5",
                  "label": "image product text 5"
                },
                {
                  "type": "text",
                  "id": "video_wistia_id_5",
                  "label": "id video wistia"
                },
                {
                  "type": "image_picker",
                  "id": "image_product_6",
                  "label": "image product 6"
                },
                {
                  "type": "text",
                  "id": "image_product_text_6",
                  "label": "image product text 6"
                },
                {
                  "type": "text",
                  "id": "video_wistia_id_6",
                  "label": "id video wistia"
                },
                {
                  "type": "image_picker",
                  "id": "image_product_7",
                  "label": "image product 7"
                },
                {
                  "type": "text",
                  "id": "image_product_text_7",
                  "label": "image product text 7"
                },
                {
                  "type": "text",
                  "id": "video_wistia_id_7",
                  "label": "id video wistia"
                },
                {
                  "type": "image_picker",
                  "id": "image_product_8",
                  "label": "image product 8"
                },
                {
                  "type": "text",
                  "id": "image_product_text_8",
                  "label": "image product text 8"
                },
                {
                  "type": "text",
                  "id": "video_wistia_id_8",
                  "label": "id video wistia"
                }
              ]
            },
            {
                "type": "before_and_after",
                "name": "before and after test",
                "limit": 1,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image_new_section_1",
                        "label": "image"
                    },
                    {
                        "type": "text",
                        "id": "image_new_section_text_1",
                        "label": "Alt text Imagen 1"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_new_section_2",
                        "label": "image"
                    },
                    {
                        "type": "text",
                        "id": "image_new_section_text_2",
                        "label": "Alt text Imagen 2"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_new_section_3",
                        "label": "image"
                    },
                    {
                        "type": "text",
                        "id": "image_new_section_text_3",
                        "label": "Alt text Imagen 3"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_new_section_4",
                        "label": "image"
                    },
                    {
                        "type": "text",
                        "id": "image_new_section_text_4",
                        "label": "Alt text Imagen 4"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_new_section_5",
                        "label": "image"
                    },
                    {
                        "type": "text",
                        "id": "image_new_section_text_5",
                        "label": "Alt text Imagen 5"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_new_section_6",
                        "label": "image"
                    },
                    {
                        "type": "text",
                        "id": "image_new_section_text_6",
                        "label": "Alt text Imagen 6"
                    }
                ]                  
            },
            {
                "type": "video_before_and_after",
                "name": "video derm test",
                "limit": 1,
                "settings": [
                    {
                        "type": "video",
                        "id": "video_new_section",
                        "label": "video"
                    }
                ]
            }          
        ],
        "presets": [
          {
            "name": "t:sections.product-landing.name"
          }
        ]
    }
{% endschema %}