<style>
    .subscribe_save_wrapper .subscribe_save_bx {
        grid-template-columns: 67% 33%;
    }
</style>

{%- assign rating_count = 0 -%}
{%- assign list_count = 0 -%}
{%- assign supply_count = 0 -%}
{%- assign subscribe_count = 0 -%}

{%- for block in section.blocks -%}
	{%- case block.type -%}
        {%- when 'rating' -%}
            {%- assign rating_count = rating_count | plus: 1 -%}    
        {%- when 'list' -%}
            {%- assign list_count = list_count | plus: 1 -%}
        {%- when 'supply' -%}
            {%- assign supply_count = supply_count | plus: 1 -%}
        {%- when 'subscribe' -%}
            {%- assign subscribe_count = subscribe_count | plus: 1 -%}
    {%- endcase -%}
{%- endfor -%}

{%liquid
    assign new_design = false
    if section.settings.selected_design == 'new'
        assign new_design = true
    elsif section.settings.selected_design == 'old'
        assign new_design = false
    endif
%}

<!-- -- main banner start -- -->
<div class="refill_bl pt-0 tabSlider">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-2 order-md-1">
                <div class="refill_info pt-0 pt-md-3">
                    <div class="section_header text-start">
                        {% if section.settings.heading != blank %}
                            <h2 class="title-xl d-none d-md-block">{{ section.settings.heading | replace: '\n', '<br />' }}</h2> 
                        {% endif %}
                        {% if section.settings.heading_mobile != blank %}
                            <h2 class="title-xl d-md-none">{{ section.settings.heading_mobile | replace: '\n', '<br />' }}</h2>
                        {% elsif section.settings.heading != blank %}
                            <h2 class="title-xl d-md-none">{{ section.settings.heading | replace: '\n', '<br />' }}</h2>
                        {% endif %}
                    </div>
                    {% if rating_count %}
                        {%- for block in section.blocks -%}
                            {% if block.type == 'rating' %}
                                <div class="refill_review">
                                    <div class="star_gp">
                                        {% if block.settings.image != blank %}
                                            <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt | escape }}">
                                        {% endif %}
                                    </div>
                                    {{ block.settings.text |  replace: '<p>', '<p class="text-sm fw-normal" style="text-decoration: none;">' }}
                                    </p>
                                </div>
                            {% endif %}
                        {%- endfor -%}
                    {% endif %}
                    {% unless page.handle == 'qure-micro-infusion-landing-page-affiliate' %}
                        
                        <div class="product-price price-test">
                            {% render 'no-price-atc' subscribe_count: subscribe_count, section: section %}
                            </div>
                    {% endunless %}
                    <div class="mw-452">
                        {% if list_count > 0 %}
                            <div class="ss_list py-4">
                                <ul>
                                {%- for block in section.blocks -%}
                                    {% if block.type == 'list' %}
                                        {% if block.settings.text %}
                                            {{ block.settings.text }}
                                        {% endif %}
                                    {% endif %}
                                {%- endfor -%} 
                                </ul>
                            </div>
                        {% endif %}


                        {% if supply_count > 0 %}
                            <div class="next_batch_bl next_batch_highlight">
                                {%- for block in section.blocks -%}
                                    {% if block.type == 'supply' %}
                                        {% if block.settings.heading != blank %}
                                            <h6 class="d-none d-md-block">{{ block.settings.heading }}</h6>
                                        {% endif %}

                                        {% if block.settings.heading_mobile != blank %}
                                            <h6 class="d-md-none">{{ block.settings.heading_mobile }}</h6>
                                        {% endif %}
                                        
                                        {% if block.settings.text != blank %}
                                            {{ block.settings.text }}
                                        {% endif %}

                                        {% if block.settings.html != blank %}
                                            {{ block.settings.html }}
                                        {% endif %}
                                    {% endif %}
                                {%- endfor -%}
                            </div>
                        {% endif %}

                        {% if subscribe_count > 0 %}
                            {%- for block in section.blocks -%}
                                {% if block.type == 'subscribe' %}
                                    {% assign discount_value = block.settings.discount | divided_by: 100.0 | times: product.price | minus: product.price | abs %}
                                    {% if product.compare_at_price %}
                                        {% assign product_price_discount = product.compare_at_price %}
                                    {% else %}
                                        {% assign product_price_discount = discount_value %}
                                    {% endif %}

                                    <div class="subscribe_save_wrapper with_subscription mt-2">
                                        <div class="subscribeTopInfo">
                                            <p>Over 1,000 people chose subscription</p>
                                        </div>
                                        <div class="subscriptionType active" data-subscription="subscription">
                                            <div class="subscribe_save_bx">
                                                <div class="subscribeInfo">
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                        {% if block.settings.heading != blank %}
                                                            <h6>{{ block.settings.heading }}</h6>
                                                        {% endif %}
                                                        
                                                        {%- if product.handle contains 'q-urify-water-filter' -%}
                                                            {%- assign future_price = all_products['q-rify-replacement-water-filter'].price | times: 0.7 | money_without_trailing_zeros %}
                                                        {%- else -%}
                                                            {%- assign future_price = discount_value | money_without_trailing_zeros -%}
                                                        {%- endif -%}

                                                        {% if block.settings.text != blank %}
                                                            {{ block.settings.text | replace: '[future_price]', future_price }}
                                                        {% endif %}
                                                    </label>
                                                </div>
                                                <div class="subscribePrice">
                                                    <p><span>{{ product.price | money_without_trailing_zeros }}</span>{{ product_price_discount | money_without_trailing_zeros  }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="subscriptionType" data-subscription="no-subscription">
                                            <div class="noSubscription">
                                                <div class="noSubscriptionText">
                                                    One time purchase
                                                </div>
                                                <div class="noSubscriptionPrice">
                                                    {{ product.price | money_without_trailing_zeros }}
                                                </div>
                                            </div>
                                            {% unless supply_count > 0 %}
                                                {% render 'pdm_orderby' %}
                                            {% endunless %}
                                            <a class="btn btn-lg btn-primary without_subscription buy_btn price-test-original" href="{{ routes.cart_add_url }}?id={{ product.variants.first.id }}&quantity=1" data-ajax-cart-request-button>
                                            {% if section.settings.reserve == true %}Reserve now{% else %}Buy Now{% endif %} -
                                                {{ product.price | money_without_trailing_zeros }}<img src="{{ 'arrow_right.svg' | asset_url }}" alt="">
                                            </a>
                                            <a class="btn btn-lg btn-primary without_subscription buy_btn price-test" href="{{ routes.cart_add_url }}?id={{ product.variants.first.id }}&quantity=1" data-ajax-cart-request-button>
                                            {% if section.settings.reserve == true %}Reserve now{% else %}Buy Now{% endif %}
                                            </a>

                                            {% capture sticky-button-classname %}without_subscription{% endcapture %}

                                            {% render 'product-sticky-button' with 
                                                variant_id: product.variants.first.id, 
                                                current_price: product.price, 
                                                original_price: product.price, 
                                                classname: sticky-button-classname
                                            %}

                                            <div class="payment_method without_subscription">
                                                <p>OR pay 4 monthly payments of {{ product.price | divided_by: 4 | money_without_trailing_zeros }} with</p>
                                                <div class="pmt_img ps-2">
                                                    <img src="{{ 'klarna.svg' | asset_url }}" alt="">
                                                    <img src="{{ 'sezzle.svg' | asset_url }}" alt=""><img src="{{ 'afterpay.svg' | asset_url }}"
                                                        alt="">
                                                </div>
                                            </div>
                                        </div>
                                        {% unless supply_count > 0 %}
                                            {% render 'pdm_orderby' %}
                                        {% endunless %}
                                        <form method="post" action="/cart/add" accept-charset="UTF-8" class="shopify-product-form buy-form-{{ section_id }} form-test-id" enctype="multipart/form-data" data-form-id="{{ product.id }}">
                                            <input type="hidden" name="selling_plan" value="{{ block.settings.plan }}">
                                            <button type="submit" class="btn btn-lg btn-primary with_subscription buy_btn event_btn price-test-original" name="Submit" value="Submit">
                                                Subscribe Now - {{ product_price_discount | money_without_trailing_zeros  }}<img src="{{ 'arrow_right.svg' | asset_url }}" alt="">
                                            </button>
                                            <button type="submit" class="btn btn-lg btn-primary with_subscription buy_btn event_btn price-test" name="Submit" value="Submit">
                                                Subscribe Now
                                            </button>
                                            <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                                        </form>

                                        {% capture sticky-button-form-classname %}buy-form-{{ section_id }}{% endcapture %}
                                        {% capture sticky-button-classname %}buy-button-{{ section_id }} with_subscription{% endcapture %}
            
                                        {% render 'product-sticky-button-form' with 
                                            current_price: product_price_discount, 
                                            original_price: product.price, 
                                            form_classname: sticky-button-form-classname
                                            button_classname: sticky-button-classname
                                        %}
                                    </div> 
                                {% endif %}
                            {%- endfor -%}
                        {% else %}
                        {% unless supply_count > 0 %}
                            {% render 'pdm_orderby' %}
                        {% endunless %}
                            <a class="btn btn-lg btn-primary buy_btn event_btn price-test-original" href="{{ routes.cart_add_url }}?id={{ product.variants.first.id }}&quantity=1" data-ajax-cart-request-button>{% if section.settings.reserve == true %}Reserve now{% else %}Buy Now{% endif %} -
                            <span class="igPrice" data-product-id="{{ product.id }}"> {{ product.price | money_without_trailing_zeros }}</span><img src="{{ 'arrow_right.svg' | asset_url }}" alt="">
                            </a>
                            <a class="btn btn-lg btn-primary buy_btn event_btn price-test" href="{{ routes.cart_add_url }}?id={{ product.variants.first.id }}&quantity=1" data-ajax-cart-request-button>{% if section.settings.reserve == true %}Reserve now{% else %}Buy Now{% endif %} 
                            </a>

                            {% if product.compare_at_price != blank %}
                                {% render 'product-sticky-button' with
                                    variant_id: product.variants.first.id, 
                                    current_price: product.price, 
                                    original_price: product.compare_at_price, 
                                %}                    
                            {% else %}
                                {% render 'product-sticky-button' with
                                    variant_id: product.variants.first.id, 
                                    current_price: product.price, 
                                    original_price: product.price, 
                                %}
                            {% endif %}

                            <div class="payment_method">
                                <p class="d-none d-md-block">OR pay 4 monthly payments of <span class="igInstallmentPrice" data-product-id="{{ product.id }}"> {{ product.price | divided_by: 4 | money_without_trailing_zeros }}</span> with</p>
                                <p class="d-block d-md-none">OR 4 monthly payments of {{ product.price | divided_by: 4 | money_without_trailing_zeros }} with</p>
                                <div class="pmt_img ps-2">
                                    <img src="{{ 'klarna.svg' | asset_url }}" alt="">
                                    <img src="{{ 'sezzle.svg' | asset_url }}" alt="">
                                    <img src="{{ 'afterpay.svg' | asset_url }}" alt="">
                                </div>
                            </div>
                        {% endif %}

                        <div class="shipping shipping_bg bg-transparent mt-2">
                            <div class="s_bx">
                                <img src="{{ 'dermatologist.svg' | asset_url }}" alt="">
                                <p>{{ section.settings.underbutton_text_left }}</p>
                            </div>
                            <div class="s_bx">
                                <img src="{{ 'shipping.svg' | asset_url }}" alt="">
                                <p>{{ section.settings.underbutton_text_right }}</p>
                            </div>
                        </div>
                    </div>

                </div>
                </div>
                {% render 'pdm_cross-sell', cross-sell-products: product.metafields.custom.cross_sell.value, visibility: "mobile" %}
            {% comment %} component-original {% endcomment %}
            <div class="col-md-6  order-1 order-md-2">
                {% if new_design == false %}
                <div class="refill_slider mw-mob-100">
                    <div class="refill_s_tab_content">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                aria-labelledby="pills-home-tab">
                                <div 
                                    class="swiper twa__swiper productSlider dot_pagination"
                                    id="twa__swiper-productSlider" 
                                    data-section-id="productSlider"
                                    data-autoplay="false" 
                                    data-loop="false" 
                                    data-centerslide="false"
                                    data-mobile="1.1" 
                                    data-tablet="1" 
                                    data-desktop="1" 
                                    data-spacing="10"
                                    data-arrowleft="productSlider-swiper-prev"
                                    data-arrowright="productSlider-swiper-next">
                                    <div class="swiper-wrapper">
                                        {% for media in product.media limit:section.settings.product_images_limit offset:1 %}
                                            {% if media.media_type == 'video' %}

                                                {% if media.sources[1].url != blank %}
                                                    {% assign video_source_url = media.sources[1].url %}
                                                {% else %}
                                                    {% assign video_source_url = media.sources[0].url %}
                                                {% endif %}

                                                <div class="swiper-slide video_popup">
                                                    <a class="popup-youtube d-block"
                                                        href="{{ video_source_url }}">
                                                        <picture id="image-id">
                                                            <source media="(min-width:1920px)" srcset="{{ media | img_url: 'master' }}">
                                                            <source media="(min-width:1600px)" srcset="{{ media | img_url: '1600x' }}">
                                                            <source media="(min-width:1100px)" srcset="{{ media | img_url: '1100x' }}">
                                                            <source media="(min-width:720px)" srcset="{{ media | img_url: '720x' }}">
                                                            <source media="(min-width:540px)" srcset="{{ media | img_url: '540x' }}">
                                                            <img class="img-fluid" src="{{ media | img_url: '540x' }}" width="100" height="100" alt="{{ block.settings.image.alt | escape }}">
                                                        </picture>
                                                    </a>
                                                </div>   
                                            {% else %}
                                                <div class="swiper-slide">
                                                    <a class="banner-popup-link" id="popup-link">
                                                        <picture id="image-id">
                                                            <source media="(min-width:1920px)" srcset="{{ media | img_url: 'master' }}">
                                                            <source media="(min-width:1600px)" srcset="{{ media | img_url: '1600x' }}">
                                                            <source media="(min-width:1100px)" srcset="{{ media | img_url: '1100x' }}">
                                                            <source media="(min-width:720px)" srcset="{{ media | img_url: '720x' }}">
                                                            <source media="(min-width:540px)" srcset="{{ media | img_url: '540x' }}">
                                                            <img class="img-fluid tab_img" src="{{ media | img_url: '540x' }}" width="100" height="100" alt="{{ block.settings.image.alt | escape }}">
                                                        </picture>
                                                    </a>
                                                </div> 
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                            {% if section.settings.before_after_images_limit > 0 %}
                                <div 
                                    data-test="product-water"
                                    class="tab-pane fade" 
                                    id="pills-profile" 
                                    role="tabpanel"
                                    aria-labelledby="pills-profile-tab">
                                    <div class="swiper twa__swiper realResultSlider dot_pagination"
                                        id="twa__swiper-realResultSlider" data-section-id="realResultSlider"
                                        data-autoplay="false" data-loop="false" data-centerslide="false"
                                        data-mobile="1.1" data-tablet="1" data-desktop="1" data-spacing="10"
                                        data-arrowleft="realResultSlider-swiper-prev"
                                        data-arrowright="realResultSlider-swiper-next">
                                        <div class="swiper-wrapper">
                                            {% assign after_images_offset = section.settings.product_images_limit | plus: 1 %}
                                            {% for media in product.media limit:section.settings.before_after_images_limit offset: after_images_offset %}
                                                <div class="swiper-slide">
                                                    <a class="banner-popup-link" id="popup-link">
                                                        <picture id="image-id">
                                                            <source media="(min-width:1920px)" srcset="{{ media | img_url: 'master' }}">
                                                            <source media="(min-width:1600px)" srcset="{{ media | img_url: '1600x' }}">
                                                            <source media="(min-width:1100px)" srcset="{{ media | img_url: '1100x' }}">
                                                            <source media="(min-width:720px)" srcset="{{ media | img_url: '720x' }}">
                                                            <source media="(min-width:540px)" srcset="{{ media | img_url: '540x' }}">
                                                            <img class="img-fluid tab_img" src="{{ media | img_url: '540x' }}" width="100" height="100" alt="{{ block.settings.image.alt | escape }}">
                                                        </picture>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div> 
                            {% endif %}
                        </div>
                    </div>
                    {% if section.settings.before_after_images_limit > 0 %}
                        <div class="refill_s_tab">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-home" type="button" role="tab"
                                        aria-controls="pills-home" aria-selected="true">{{ section.settings.product_button_label }}</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link d-md-block" id="pills-profile-tab"
                                        data-bs-toggle="pill" data-bs-target="#pills-profile" type="button"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">{{ section.settings.before_after_button_label }}</button>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
                {% endif %}
                {% comment %} end component original {% endcomment %}
                {% if new_design == true %}
                    {% render 'pdm_before_after', data: section.blocks, dataSection: section.settings %}
                {% endif %}
                {% render 'pdm_cross-sell', cross-sell-products: product.metafields.custom.cross_sell.value, visibility: "desktop" %}
            </div>
        </div>
    </div>
</div>
<!-- -- main banner end -- -->

{% assign current_variant = product.selected_or_first_available_variant %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{ product.title | escape }}",
  "url": "{{ shop.url }}{{ product.url }}",
  {% if product.featured_image %}
    {% assign image_size = product.featured_image.width | append: 'x' %}
    "image": [
      "https:{{ product.featured_image.src | img_url: image_size }}"
    ],
  {% endif %}
  "description": "{{ product.description | strip_html | escape }}",
  {% if current_variant.sku != blank %}
    "sku": "{{ current_variant.sku }}",
  {% endif %}
  "brand": {
    "@type": "Thing",
    "name": "{{ product.vendor | escape }}"
  },
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": {{ variant.sku | json }},
        {%- endif -%}
        {%- if variant.barcode.size == 12 -%}
          "gtin12": {{ variant.barcode }},
        {%- endif -%}
        {%- if variant.barcode.size == 13 -%}
          "gtin13": {{ variant.barcode }},
        {%- endif -%}
        {%- if variant.barcode.size == 14 -%}
          "gtin14": {{ variant.barcode }},
        {%- endif -%}
        "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
        "price" : {{ variant.price | divided_by: 100.00 | json }},
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "url" : {{ request.origin | append: variant.url | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>
{% schema %}
    {
        "name": "t:sections.product-extended.name",
        "class": "section-product-extended",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "t:common.heading.label"
            },
            {
                "type": "text",
                "id": "heading_mobile",
                "label": "t:common.heading.mobile.label"
            },
            {
                "type": "range",
                "id": "product_images_limit",
                "min": 1,
                "max": 5,
                "step": 1,
                "unit": "t:sections.product-extended.settings.product_images_limit.unit",
                "label": "t:sections.product-extended.settings.product_images_limit.label",
                "default": 5
            },
            {
                "type": "text",
                "id": "product_button_label",
                "default": "Product",
                "label": "t:common.button.label",
                "info": "t:common.button.info"
            },
            {
                "type": "range",
                "id": "before_after_images_limit",
                "min": 0,
                "max": 5,
                "step": 1,
                "unit": "t:sections.product-extended.settings.before_after_images_limit.unit",
                "label": "t:sections.product-extended.settings.before_after_images_limit.label",
                "default": 2
            },
            {
                "type": "text",
                "id": "before_after_button_label",
                "default": "Before & After",
                "label": "t:common.button.label",
                "info": "t:common.button.info"
            },
            {
                "type": "checkbox",
                "id": "reserve",
                "label": "t:common.reserve.label",
                "default": false
            },
            {
                "type": "text",
                "id": "underbutton_text_left",
                "label": "t:common.text.label",
                "default": "Dermatologist Reviewed"
            },
            {
                "type": "text",
                "id": "underbutton_text_right",
                "label": "t:common.text.label",
                "default": "Free Shipping Over $100"
            },
            {
                "type": "header",
                "content": "Select Design",
                "info": "Select the design for the images section, default is old design"
            },
            {
                "type": "select",
                "id": "selected_design",
                "label": "Design",
                "default": "old",
                "options": [
                    {
                        "value": "old",
                        "label": "Old"
                    },
                    {
                        "value": "new",
                        "label": "New"
                    }
                ]
            },
            {
                "type": "header",
                "content": "New design buttons",
                "info": "Change the text of the buttons for the new design"
            },
            {
                "type": "text",
                "id": "text_label_real_result_1",
                "label": "label text real result button 1",
                "default": "Product"
            },
            {
                "type": "text",
                "id": "text_label_real_result_2",
                "label": "label text real result button 2",
                "default": "Real Results"
            },
            {
                "type": "text",
                "id": "text_label_real_result_3",
                "label": "label text real result button 3",
                "default": "Dermatologist"
            }
        ],
        "blocks": [
            {
                "type": "rating",
                "name": "t:common.rating.label",
                "limit": 1,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "t:common.image.label"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "t:common.text.label"
                    }
                ]
		    },
            {
                "type": "list",
                "name": "t:common.list.label",
                "limit": 1,
                "settings": [
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "t:common.text.label"
                    }
                ]
		    },
            {
                "type": "supply",
                "name": "t:common.supply.label",
                "limit": 1,
                "settings": [
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "t:common.heading.label"
                    },
                    {
                        "type": "text",
                        "id": "heading_mobile",
                        "label": "t:common.heading.mobile.label"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "t:common.text.label"
                    },
                    {
                        "type": "html",
                        "id": "html",
                        "label": "t:common.html.label"
                    }
                ]
		    },
            {
                "type": "subscribe",
                "name": "t:common.subscribe.label",
                "limit": 1,
                "settings": [
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "t:common.heading.label"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "t:common.text.label"
                    },
                    {
                        "type": "text",
                        "id": "plan",
                        "label": "t:common.subscribe.plan.label"
                    },
                    {
                        "type": "number",
                        "id": "discount",
                        "label": "t:common.subscribe.discount.label",
                        "default": 0
                    }
                ]
		    },
            {
                "type": "before_and_after",
                "name": "before and after test",
                "limit": 1,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image_new_section_1",
                        "label": "image"
                    },
                    {
                        "type": "text",
                        "id": "image_new_section_text_1",
                        "label": "Alt text Imagen 1"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_new_section_2",
                        "label": "image"
                    },
                    {
                        "type": "text",
                        "id": "image_new_section_text_2",
                        "label": "Alt text Imagen 2"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_new_section_3",
                        "label": "image"
                    },
                    {
                        "type": "text",
                        "id": "image_new_section_text_3",
                        "label": "Alt text Imagen 3"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_new_section_4",
                        "label": "image"
                    },
                    {
                        "type": "text",
                        "id": "image_new_section_text_4",
                        "label": "Alt text Imagen 4"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_new_section_5",
                        "label": "image"
                    },
                    {
                        "type": "text",
                        "id": "image_new_section_text_5",
                        "label": "Alt text Imagen 5"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_new_section_6",
                        "label": "image"
                    },
                    {
                        "type": "text",
                        "id": "image_new_section_text_6",
                        "label": "Alt text Imagen 6"
                    }
                ]                  
            },
            {
                "type": "video_before_and_after",
                "name": "video derm test",
                "limit": 1,
                "settings": [
                    {
                        "type": "video",
                        "id": "video_new_section",
                        "label": "video"
                    }
                ]
            }          
        ]
    }
{% endschema %}