{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image-%}

{% assign progress_Q = 0 %}
{% assign progress_A =0 %}
{% assign progress_M = 0 %}
{% assign is_only_gift = false %}
{% assign price_check=cart.items_subtotal_price | divided_by: 100 %}

{% assign shipping_charge =  1000.00 %}

{% render "slidecart-insurance" %}

<style>
	.my-floating-cart .cart_total-checkout {
			position: relative !important
	}

	.my-floating-cart .percent_off {
			padding: 0 !important;
	}

	.my-floating-cart .percent_off svg {
			margin-right: 5px;
	}

	.my-floating-cart p.invest-txt {
			padding: 0;
	}

	.my-floating-cart .drawer__cart-discounts {
			padding: 20px 30px;
	}

	.my-floating-cart .progress_bar {
			padding: 20px 0 0px 0;
	}

	.my-floating-cart .discount__line {
			opacity: 1;
			border-top: 1px solid #ffffff;
	}

	.my-floating-cart .skill-bar .progress {
			/* background-color: #C7E7DC; */
	}

	.my-floating-cart .drawer_top_sticky {
			position: sticky;
			top: 0;
			z-index: 9;
	}

	.my-floating-cart a.drawer__cart-remove-item span {
			border: none;
			position: absolute;
	}

	.my-floating-cart .drawer__cart-product-info {
			padding: 0 0 0 10px !important;
	}

	.my-floating-cart .review_main p.cart-revi svg {
			width: auto;
			height: auto;
	}

	.my-floating-cart .review_main {
			justify-content: space-between;
	}

	.my-floating-cart .drawer__cart-item-price p {
			font-size: 20px;
			line-height: 30px;
			font-weight: 600;
			font-family: 'Poppins';
	}

	.my-floating-cart .drawer__cart-item-price p.old-price {
			font-weight: 700;
			font-family: 'Poppins', sans-serif;
			color: #C4C4C4;
	}

	.my-floating-cart .discount_flex {
			display: flex;
			flex-wrap: wrap;
	}

	.my-floating-cart .discount_flex .invest-txt {
			flex: 0 0 auto;
			width: 40%;
	}

	.my-floating-cart .discount_flex .percent_off {
			flex: 0 0 auto;
			width: 60%;
	}

	.my-floating-cart .discount_flex .progress_bar {
			flex: 0 0 auto;
			width: 100%;
	}

	.my-floating-cart h3.upsell_title {
			font-size: 16px;
			line-height: 26px;
			font-weight: 300;
	}

	.my-floating-cart .drawer__cart-subtotal p {
			margin-bottom: 0;
			font-size: 14px !important;
			line-height: 26px;
			font-family: 'Poppins';
			letter-spacing: 0.14px;
			font-weight: 500;
	}

	.my-floating-cart .drawer__cart-subtotal .drawer_savings {
			color: #008763;
	}

	.my-floating-cart .drawer_shipping p {
			font-weight: 600;
	}

	.my-floating-cart .insurance-wrapper .switch {
			width: 50px;
			height: 26px;
	}

	.my-floating-cart .insurance-wrapper input:checked+.slider {
			background-color: #000;
	}

	.my-floating-cart .insurance-wrapper .slider:before {
			height: 22px;
			width: 22px;
			left: 3px;
			bottom: 2px;
			background-color: #fff;
	}

	.my-floating-cart .insurance-wrapper {
			padding: 10px 31px 10px;
	}

	.my-floating-cart .cart_items_subtotal_price {
			/* font-size: 16px; */
			line-height: 26px !important;
			letter-spacing: .38px;
			font-weight: 600;
	}

	.my-floating-cart .drawer__cart-total {
			padding: 7px 31px !important;
	}

	.my-floating-cart .drawer__cart-total-price {
			gap: 10px;
			font-size: 24px;
			line-height: 36px;
			font-weight: 600;
			letter-spacing: 0.24px
	}

	.my-floating-cart .drawer__cart-total-price .old_price-cart {
			font-weight: 700;
			color: #C4C4C4;
	}

	.my-floating-cart .drawer__cart-total-price .old_price-cart,
	.my-floating-cart .drawer__cart-total-price .cart_items_subtotal_price {
			letter-spacing: 0.24px;
	}

	.my-floating-cart .payment_info {
			display: flex;
			align-items: center;
			justify-content: space-around;
			max-width: 375px;
			margin: 9px auto;
	}

	.my-floating-cart .payment_info p {
			margin-bottom: 0;
			font-size: 13px;
			line-height: 24px;
			font-weight: 400;
			display: flex;
			align-items: center;
	}

	.my-floating-cart .payment_info span>svg {
			margin-right: 5px;
	}

	.my-floating-cart p.cart-revi.ship-revi a {
			text-decoration: none;
	}

	@media(max-width:767px) {
			.my-floating-cart .percent_off {
					padding-top: 10px !important;
			}

			.my-floating-cart .drawer__cart-discounts {
					padding: 10px 20px 13px 20px;
			}

			.my-floating-cart .review_main {
					flex-direction: row;
			}

			.my-floating-cart .discount_flex {
					display: flex;
					align-items: center;
					justify-content: space-between;
			}

			.my-floating-cart .discount_flex .percent_off,
			.my-floating-cart .discount_flex .invest-txt {
					flex: 0 0 auto;
					width: 100%;
			}

			.my-floating-cart .progress_bar {
					padding: 10px 0 10px 0;
			}

			.my-floating-cart .drawer__wrapper {
					right: 485px;
					max-width: 100%;
					width: 475px;
					height: auto
			}

			.my-floating-cart .payment_info p {
					font-size: 10px;
					line-height: 14px;
			}

			.my-floating-cart p.cart-revi a {
					font-size: 8px;
					line-height: 26px;
			}

			.my-floating-cart p.cart-revi.ship-revi a {
					font-size: 10px;
					line-height: 16px;
					text-decoration: none;
			}

			.my-floating-cart .drawer__cart-item-price p {
					font-size: 18px;
					line-height: 27px;
			}

			.my-floating-cart .drawer__cart-quantity>p {
					font-size: 10px;
					line-height: 15px;
			}

			.my-floating-cart h3.upsell_title {
					font-size: 14px;
					line-height: 28px;
					font-weight: 300;
			}

			.my-floating-cart h3.upsell_title span {
					font-size: 9px;
					line-height: 15px;
			}

			.my-floating-cart .drawer__cart-subtotal p {
					font-size: 12px !important;
					line-height: 22px !important;
			}

			.my-floating-cart .cart_items_subtotal_price {
					font-size: 13px;
					line-height: 24px;
					font-weight: 600;
			}

			.my-floating-cart .drawer__cart-total-price {
					font-size: 18px;
					line-height: 27px
			}

			.my-floating-cart .insurance-wrapper .switch {
					width: 30px;
					height: 16px;
			}

			.my-floating-cart .insurance-wrapper .slider:before {
					height: 12px;
					width: 12px;
					left: 3px;
			}

			.my-floating-cart .insurance-wrapper input:checked+.slider:before {
					-webkit-transform: translateX(13px);
					-ms-transform: translateX(13px);
					transform: translateX(13px);
			}
	}

	@media(max-width:556px) {
			.my-floating-cart .drawer__wrapper {
					right: 100%;
					max-width: 100%;
					width: 100%;
					height: auto;
					transform: translateX(100%);
					-webkit-transform: translateX(100%);
			}
	}

	/* specical for desktop */
	@media only screen and (min-width:769px) {
		.my-floating-cart .drawer__cart-discounts {
			position: sticky !important;
			top: 46px !important;
			z-index: 1 !important;
		}
	}

	/* special for mobile */
	@media (max-width: 768px) {
		.my-floating-cart .drawer__cart-discounts {
			position: sticky !important;
			top: 36px !important;
			z-index: 1 !important;
		}
		.upsell_amt {
			min-width:55px !important;
		}
	}

	.upsell_amt i {
		font-style: normal !important;
	}

	.custom-shadow {
		position: sticky !important;
		bottom: 0px !important;
		z-index: 1 !important;
	}
</style>

<section class="drawer my-floating-cart" id="drawer-name">

	<a href="{{ routes.cart_url }}" data-ajax-cart-toggle-class-button="js-my-cart-open">
		<div class="drawer__overlay" tabindex="-1"></div>
	</a>
	<div class="drawer__wrapper" data-ajax-cart-section>

		<style>
			/* specical for desktop */
			@media only screen and (min-width:769px) {
				.my-floating-cart .drawer__cart-discounts {
					position: sticky !important;
					top: 46px !important;
					z-index: 1 !important;
				}
			}

			/* special for mobile */
			@media (max-width: 768px) {
				.my-floating-cart .drawer__cart-discounts {
					position: sticky !important;
					top: 36px !important;
					z-index: 1 !important;
				}
			}

			.custom-shadow {
				position: sticky !important;
				bottom: 0px !important;
				z-index: 1 !important;
			}
		</style>

		<form action="{{ routes.cart_url }}" method="post" class="my-cart cart_empty_class">

			{% for item in cart.items %}
				{% if item.title contains 'Q-Rejuvalight Pro Facewear'    %}
					{% assign progress_Q = 1 %}
				{% endif %}

				{% if  item.title contains 'All-In-One Face Serum'  %}
					{% assign  progress_A = 1  %}
				{% endif %}
					
				{% if item.title contains "Micro-Infusion" %}
					{% assign  progress_M = 1  %}
				{% endif %}
			{% endfor %}
				
			{% if price_check > 100 %}
				{% assign progress_percentage = 100 %}
			{% else %}
				{% assign progress_percentage = price_check %}
			{% endif %}

			<div class="drawer_top_sticky">
				<div class="drawer__count">
					<p class="your-cart" >Your Cart (<span class="your-cart" data-ajax-cart-bind-state="cart.item_count">{{ cart.item_count  }}</span>)</p>
					<a href="{{ routes.cart_url }}" data-ajax-cart-toggle-class-button="js-my-cart-open">
						<button class="drawer__close drawer__close-header">
							<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2 15.9998L16 1.99976" stroke="white" stroke-width="3"></path>
								<path d="M14.7273 15.2393L8.36364 8.87562L2 2.51199" stroke="white" stroke-width="3"></path>
							</svg>
						</button>
					</a>
				</div>
				<div class="drawer__cart-discounts_wrap">
					<hr class="discount__line">
					<div class="drawer__cart-discounts">
						<div class="discount_flex">
							<p class="invest-txt order-1">Your skincare investment is waiting.</p>
							<style>
								.percent_off {
									text-align: right;
									padding: 20px 30px !important;
								}

								.percent_off span {
									border-radius: 100px;
									background: #333;
									padding: 6px 10px 6px 10px;
								}

								.percent_off img {
									width: 16px;
									height: 16px;
									margin: 0px 3px 0px 3px;
								}
							</style>
							<div class="progress_bar order-2 order-md-3">
								<div class=" skill-bar">
									<div class="line">
										<div class="each-line">
											<div class="drawer__cart-free-shipping" style="width:0px;"></div>
											<div class="progress" style="width: 100% !important; border-radius:100px;background-color:#c4c4C480;">
												<div class="determinate" style="width:{{ progress_percentage }}%; border-radius:100px !important;"></div>
											</div>
											<div class="icon_bar" style="width:0px;">
												<div class="percentage"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<p class="percent_off order-3 order-md-2">
								<span>
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
										<g clip-path="url(#clip0_12488_3881)">
											<path d="M1.05575 2.31445C0.707626 2.31445 0.477051 2.54503 0.477051 2.89315V10.9949C0.477051 11.343 0.707626 11.5736 1.05575 11.5736H2.21314C2.32843 10.5903 3.19647 9.78326 4.23858 9.78326C5.28068 9.78326 6.14873 10.5903 6.26402 11.5736H8.5788C8.92693 11.5736 9.1575 11.343 9.1575 10.9949V2.89315C9.1575 2.54503 8.92693 2.31445 8.5788 2.31445H1.05575ZM6.77038 4.32181C6.86532 4.32181 6.96478 4.3625 7.02356 4.4484L7.36716 4.81008C7.48245 4.92537 7.48697 5.14238 7.31291 5.31644L4.47367 8.15567C4.29961 8.32973 4.06452 8.32973 3.94923 8.15567L2.32165 6.54617C2.14759 6.37211 2.14759 6.13702 2.32165 6.02173L2.68333 5.67813C2.85739 5.50407 3.0744 5.50407 3.18969 5.67813L4.23858 6.70893L6.49911 4.4484C6.58501 4.3625 6.67544 4.32181 6.77038 4.32181ZM10.3149 4.62924C9.96677 4.62924 9.7362 4.85981 9.7362 5.20794V10.9949C9.7362 11.2843 9.96677 11.5736 10.3149 11.5736C10.4302 10.5903 11.2982 9.78326 12.3403 9.78326C13.3824 9.78326 14.2505 10.5315 14.3658 11.5736H14.9445C15.2926 11.5736 15.5232 11.343 15.5232 10.9949V8.10142C15.5232 7.5815 15.053 6.94403 15.053 6.94403L13.7871 5.20794C13.4977 4.85981 13.3237 4.62924 12.919 4.62924H10.3149ZM11.4723 5.78663H12.8648C12.9801 5.78663 13.0999 5.89514 13.0999 5.89514L14.3115 7.57698C14.4268 7.75104 14.5466 7.93188 14.5466 8.04717H11.4723V5.78663ZM4.23858 10.5247C3.50391 10.5247 2.90034 11.1283 2.90034 11.8629C2.90034 12.5976 3.50391 13.2012 4.23858 13.2012C4.97325 13.2012 5.57682 12.5976 5.57682 11.8629C5.57682 11.1283 4.97325 10.5247 4.23858 10.5247ZM12.3403 10.5247C11.6057 10.5247 11.0021 11.1283 11.0021 11.8629C11.0021 12.5976 11.6057 13.2012 12.3403 13.2012C13.075 13.2012 13.6786 12.5976 13.6786 11.8629C13.6786 11.1283 13.075 10.5247 12.3403 10.5247Z" fill="white"></path>
										</g>
										<defs>
											<clipPath id="clip0_12488_3881">
												<rect width="15.0461" height="15.0461" fill="white" transform="translate(0.476929)"></rect>
											</clipPath>
										</defs>
									</svg> 
									{% if cart.item_count == 0  %}
									You’re <i class="money" style="font-style: normal;">$100</i> away from free shipping
									{% elsif price_check < 100 and price_check > 0 %}
									Spend <i class="money" style="font-style: normal;">${{ price_check | minus: 100 | abs }}</i> more to get Free Shipping.
									{% else %}
									Congrats! Shipping is on us.
									{% endif %}
								</span>
							</p>
						</div>
					</div>
				</div>
			</div>

			{% render 'slidecart-timer' %}

			<div class="my-cart__info">
				<div  class ="my-cart__items {% if cart.item_count == 0 %} cart__empty-items {% endif %}">
					{%- assign is_not_only_gift = false -%}
					{% for item in cart.items %}
						{% assign item_index = forloop.index %}
						{% assign item_new_price = item.quantity | times: item.variant.price  %}
						{% assign item_old_price = item.quantity | times: item.variant.compare_at_price  %}

						{% assign free_gift = false %}

						{% if item.properties._free_product == 'true' %}
							{% assign free_gift = true %}
						{%- endif -%}


						{%- if item.title contains 'Gift Card' -%}
							{%- unless is_not_only_gift -%}
								{%- assign is_only_gift = true -%}
							{%- endunless -%}
						{%- else -%}
							{%- assign is_only_gift = false -%}
							{%- assign is_not_only_gift = true -%}
						{%- endif -%}

						{%- if item.variant.compare_at_price -%}
							{% assign compare_price = item.variant.compare_at_price | times: item.quantity %} 
						{%- else -%}
							{%- assign compare_price = item.variant.price -%}
						{%- endif -%}

						{% assign total_cart_compare_price = total_cart_compare_price | plus: compare_price %}

						<div class="drawer__cart-product">
							<div class="drawer__cart-product-image">
								{%- if item.title contains 'Insurance' -%}
									<a title="{{ item.title }}" href="{{ item.url }}"><img src="{{ item.image | img_url: 'master' }}" style="height:20px !important;"></a>
								{%- elsif item.title contains 'Gift Card' -%}
									<a title="{{ item.title }}" href="{{ item.url }}"><img src="{{ item.image | img_url: 'master' }}" style="height:60px !important; margin-top:10px; !important"></a>
								{%- else -%}
									<a title="{{ item.title }}" href="{{ item.url }}"><img src="{{ item.image | img_url: 'master' }}"></a>
								{%- endif -%}
							</div>
							<div class="drawer__cart-product-info">

								{% if item.title contains 'Bundle' %}
									{% if item.title contains '(Pre-Order) ' %}
										{% comment %} added by abconvert 31.08.2023 {% endcomment %}
										<a  class="drawer__cart-title"  href="{{ item.url }}" data-p-id="{{ item.id }}">{{ item.title | replace: "- Default Title","" | replace: "*","" }}{% if free_gift %} (Free gift){% endif %}</a>
									{% else %}
										{% comment %} added by abconvert 31.08.2023 {% endcomment %}
										<a  class="drawer__cart-title"  href="{{ item.url }}">{{ item.title | replace: "- Default Title","" | replace: "*","" }}{% if free_gift %} (Free gift){% endif %}</a>
									{% endif %}
								{% else %}
									{% comment %} added by abconvert 31.08.2023 {% endcomment %}
									<a  class="drawer__cart-title"  href="{{ item.url }}">{{ item.title | replace: "- Default Title","" | replace: "*","" }}{% if free_gift %} (Free gift){% endif %}</a>
								{% endif %}

								<div class="review_main">
									{% unless item.id == 43489424244975 or item.id == 43489403797743 %}
									<p class="cart-revi" {% if item.selling_plan_allocation %}style="display:block"{% endif %}>
										<svg width="90" height="14" viewBox="0 0 90 14" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M83.2649 1.01257L84.7642 5.37183L89.4486 5.42509C89.8517 5.4297 90.0186 5.93415 89.6953 6.17024L85.937 8.91732L87.333 13.3094C87.4529 13.6873 87.0164 13.9987 86.6874 13.7698L82.866 11.1082L79.0441 13.7693C78.7155 13.9982 78.2785 13.6863 78.3985 13.3089L79.7945 8.91681L76.0362 6.16973C75.7129 5.93364 75.8797 5.42919 76.2828 5.42458L80.9673 5.37132L82.4665 1.01205C82.5959 0.637173 83.1361 0.637173 83.2649 1.01257Z" fill="#008763"></path>
											<path fill-rule="evenodd" clip-rule="evenodd" d="M64.2996 1.01257L65.7988 5.37183L70.4833 5.42509C70.8864 5.4297 71.0532 5.93415 70.7299 6.17024L66.9716 8.91732L68.3676 13.3094C68.4876 13.6873 68.0511 13.9987 67.722 13.7698L63.9007 11.1082L60.0787 13.7693C59.7502 13.9982 59.3132 13.6863 59.4332 13.3089L60.8291 8.91681L57.0709 6.16973C56.7475 5.93364 56.9144 5.42919 57.3175 5.42458L62.002 5.37132L63.5012 1.01205C63.6305 0.637173 64.1708 0.637173 64.2996 1.01257Z" fill="#008763"></path>
											<path fill-rule="evenodd" clip-rule="evenodd" d="M45.3301 1.01257L46.8294 5.37183L51.5138 5.42509C51.9169 5.4297 52.0838 5.93415 51.7604 6.17024L48.0022 8.91732L49.3982 13.3094C49.5181 13.6873 49.0816 13.9987 48.7526 13.7698L44.9312 11.1082L41.1093 13.7693C40.7807 13.9982 40.3437 13.6863 40.4637 13.3089L41.8597 8.91681L38.1014 6.16973C37.7781 5.93364 37.9449 5.42919 38.348 5.42458L43.0325 5.37132L44.5317 1.01205C44.661 0.637173 45.2013 0.637173 45.3301 1.01257Z" fill="#008763"></path>
											<path fill-rule="evenodd" clip-rule="evenodd" d="M26.3645 1.01257L27.8638 5.37183L32.5482 5.42509C32.9513 5.4297 33.1182 5.93415 32.7949 6.17024L29.0366 8.91732L30.4326 13.3094C30.5525 13.6873 30.116 13.9987 29.787 13.7698L25.9656 11.1082L22.1437 13.7693C21.8152 13.9982 21.3782 13.6863 21.4981 13.3089L22.8941 8.91681L19.1358 6.16973C18.8125 5.93364 18.9794 5.42919 19.3825 5.42458L24.0669 5.37132L25.5661 1.01205C25.6955 0.637173 26.2357 0.637173 26.3645 1.01257Z" fill="#008763"></path>
											<path fill-rule="evenodd" clip-rule="evenodd" d="M7.39919 1.01257L8.89844 5.37183L13.5829 5.42509C13.986 5.4297 14.1529 5.93415 13.8295 6.17024L10.0712 8.91732L11.4672 13.3094C11.5872 13.6873 11.1507 13.9987 10.8217 13.7698L7.00026 11.1082L3.17835 13.7693C2.84982 13.9982 2.41282 13.6863 2.53276 13.3089L3.92876 8.91681L0.170465 6.16973C-0.152851 5.93364 0.0140218 5.42919 0.417124 5.42458L5.10156 5.37132L6.60081 1.01205C6.73014 0.637173 7.27039 0.637173 7.39919 1.01257Z" fill="#008763"></path>
										</svg>
										
										{% assign reviews_count = 0 %}
										{% if item.product.metafields.stamped.reviews_count != blank %}
											{% assign reviews_count = item.product.metafields.stamped.reviews_count | times: 1 %}
										{% endif %}

										{% if reviews_count > 5 %}
											<a href="#">{{ reviews_count }} Reviews</a>
										{% else %}
											<a href="#">78 Reviews</a>
										{% endif %}
									</p>
									{% endunless %}

									{%- assign item_title_donwcase = item.title | downcase -%}

									{%- if item.selling_plan_allocation -%}
										<p class="cart-revi ship-revi" style="display:block">
											<svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12" fill="none">
												<path d="M0.538462 1.1543C0.214544 1.1543 0 1.36884 0 1.69276V9.23122C0 9.55514 0.214544 9.76968 0.538462 9.76968H1.61538C1.72266 8.85472 2.53035 8.10382 3.5 8.10382C4.46965 8.10382 5.27734 8.85472 5.38462 9.76968H7.53846C7.86238 9.76968 8.07692 9.55514 8.07692 9.23122V1.69276C8.07692 1.36884 7.86238 1.1543 7.53846 1.1543H0.538462ZM5.85577 3.02209C5.94411 3.02209 6.03666 3.05995 6.09135 3.13987L6.41106 3.47641C6.51833 3.58368 6.52254 3.78561 6.36058 3.94757L3.71875 6.58939C3.55679 6.75135 3.33804 6.75135 3.23077 6.58939L1.71635 5.0918C1.55439 4.92984 1.55439 4.71109 1.71635 4.60382L2.05288 4.2841C2.21484 4.12215 2.41677 4.12215 2.52404 4.2841L3.5 5.24324L5.60337 3.13987C5.68329 3.05995 5.76743 3.02209 5.85577 3.02209ZM9.15385 3.30814C8.82993 3.30814 8.61539 3.52269 8.61539 3.8466V9.23122C8.61539 9.50045 8.82993 9.76968 9.15385 9.76968C9.26112 8.85472 10.0688 8.10382 11.0385 8.10382C12.0081 8.10382 12.8158 8.80003 12.9231 9.76968H13.4615C13.7855 9.76968 14 9.55514 14 9.23122V6.53891C14 6.05514 13.5625 5.46199 13.5625 5.46199L12.3846 3.8466C12.1154 3.52269 11.9534 3.30814 11.5769 3.30814H9.15385ZM10.2308 4.38507H11.5264C11.6337 4.38507 11.7452 4.48603 11.7452 4.48603L12.8726 6.05093C12.9799 6.21289 13.0913 6.38116 13.0913 6.48843H10.2308V4.38507ZM3.5 8.79372C2.81641 8.79372 2.25481 9.35532 2.25481 10.0389C2.25481 10.7225 2.81641 11.2841 3.5 11.2841C4.18359 11.2841 4.74519 10.7225 4.74519 10.0389C4.74519 9.35532 4.18359 8.79372 3.5 8.79372ZM11.0385 8.79372C10.3549 8.79372 9.79327 9.35532 9.79327 10.0389C9.79327 10.7225 10.3549 11.2841 11.0385 11.2841C11.7221 11.2841 12.2837 10.7225 12.2837 10.0389C12.2837 9.35532 11.7221 8.79372 11.0385 8.79372Z" fill="#008763"></path>
											</svg>
											<a href="#">{{ item.selling_plan_allocation.selling_plan.name }}</a>
										</p>
									{%- else -%}
										{%- unless item_title_donwcase contains 'pre-order' or item_title_donwcase contains 'sold out' -%}
										<p class="cart-revi ship-revi">
											<svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12" fill="none">
												<path d="M0.538462 1.1543C0.214544 1.1543 0 1.36884 0 1.69276V9.23122C0 9.55514 0.214544 9.76968 0.538462 9.76968H1.61538C1.72266 8.85472 2.53035 8.10382 3.5 8.10382C4.46965 8.10382 5.27734 8.85472 5.38462 9.76968H7.53846C7.86238 9.76968 8.07692 9.55514 8.07692 9.23122V1.69276C8.07692 1.36884 7.86238 1.1543 7.53846 1.1543H0.538462ZM5.85577 3.02209C5.94411 3.02209 6.03666 3.05995 6.09135 3.13987L6.41106 3.47641C6.51833 3.58368 6.52254 3.78561 6.36058 3.94757L3.71875 6.58939C3.55679 6.75135 3.33804 6.75135 3.23077 6.58939L1.71635 5.0918C1.55439 4.92984 1.55439 4.71109 1.71635 4.60382L2.05288 4.2841C2.21484 4.12215 2.41677 4.12215 2.52404 4.2841L3.5 5.24324L5.60337 3.13987C5.68329 3.05995 5.76743 3.02209 5.85577 3.02209ZM9.15385 3.30814C8.82993 3.30814 8.61539 3.52269 8.61539 3.8466V9.23122C8.61539 9.50045 8.82993 9.76968 9.15385 9.76968C9.26112 8.85472 10.0688 8.10382 11.0385 8.10382C12.0081 8.10382 12.8158 8.80003 12.9231 9.76968H13.4615C13.7855 9.76968 14 9.55514 14 9.23122V6.53891C14 6.05514 13.5625 5.46199 13.5625 5.46199L12.3846 3.8466C12.1154 3.52269 11.9534 3.30814 11.5769 3.30814H9.15385ZM10.2308 4.38507H11.5264C11.6337 4.38507 11.7452 4.48603 11.7452 4.48603L12.8726 6.05093C12.9799 6.21289 13.0913 6.38116 13.0913 6.48843H10.2308V4.38507ZM3.5 8.79372C2.81641 8.79372 2.25481 9.35532 2.25481 10.0389C2.25481 10.7225 2.81641 11.2841 3.5 11.2841C4.18359 11.2841 4.74519 10.7225 4.74519 10.0389C4.74519 9.35532 4.18359 8.79372 3.5 8.79372ZM11.0385 8.79372C10.3549 8.79372 9.79327 9.35532 9.79327 10.0389C9.79327 10.7225 10.3549 11.2841 11.0385 11.2841C11.7221 11.2841 12.2837 10.7225 12.2837 10.0389C12.2837 9.35532 11.7221 8.79372 11.0385 8.79372Z" fill="#008763"></path>
											</svg>
											<a href="#">In stock. Shipped within 2 days</a>
										</p>
										{%- endunless -%}
									{%- endif -%}
								</div>

									<div class="drawer__cart-price-quantity">

											{% if free_gift %}
												<div class="drawer__cart-quantity">
													<a href="javascript:;" style="color:#e4e0e0">
														-
													</a>
													<p class="drawer__cart-item-q">{{ item.quantity }}</p>
													<a href="javascript:;" style="color:#e4e0e0">
														+
													</a>
												</div>
											{% else %}
												<div class="drawer__cart-quantity">
													<a data-ajax-cart-request-button href="{{ routes.cart_change_url }}?line={{ item.index | plus: 1 }}&quantity={{ item.quantity | minus: 1 }}">
														-
													</a>
													<p class="drawer__cart-item-q">{{ item.quantity }}</p>
													<a data-ajax-cart-request-button href="{{ routes.cart_change_url }}?line={{ item.index | plus: 1 }}&quantity={{ item.quantity | plus: 1 }}">
														+
													</a>
												</div>
											{% endif %}
										
										{% if free_gift %}
											<div class="drawer__cart-item-price">
												<p class="old-price"><span class="money">{{ item.original_line_price | money_without_trailing_zeros }}</span></p>
												<p class="new-price test"><span class="money">$0</span></p>
											</div>
										{% else %}
											<div class="drawer__cart-item-price">
												{% comment %} subscription for product {% endcomment %}
												{%- if item.selling_plan_allocation.price > 0 -%}
													<p class="new-price test"><span class="money">{{ item.selling_plan_allocation.price | money_without_trailing_zeros }}</span></p>
													<p class="old-price"><span class="money">{{ item_new_price |  money_without_trailing_zeros  }}</span></p>
												{%- else -%}
													{% if item.original_price >  item.discounted_price %}
														<p class="new-price test"><span class="money">{{ item.discounted_price |  money_without_trailing_zeros  }}</span></p>
														<p class="old-price"><span class="money">{{ item.original_price | money_without_trailing_zeros }}</span></p>
														{% assign comparedPrices=item.original_price | minus: item.discounted_price | times: item.quantity  %}
														{% assign savings = savings | plus: comparedPrices %}
													{% else %}
														<p class="new-price test"><span class="money">{{ item_new_price |  money_without_trailing_zeros  }}</span></p>
														{% if item.variant.compare_at_price > item.variant.price %}
															<p class="old-price"><span class="money">{{ item_old_price | money_without_trailing_zeros }}</span></p>
															{% assign comparedPrices=item.variant.compare_at_price | minus: item.variant.price | times: item.quantity  %}
															{% assign savings = savings | plus: comparedPrices %}
														{% endif %}
													{% endif %}
												{%- endif -%}
											</div>
										{% endif %}
									</div>									
							</div>

							<a data-ajax-cart-request-button class="drawer__cart-remove-item" href="{{ item.url_to_remove }}&line={{ item_index }}&quantity=0">
								<span><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
										<path d="M17.75 9C17.75 13.8325 13.8325 17.75 9 17.75C4.16751 17.75 0.25 13.8325 0.25 9C0.25 4.16751 4.16751 0.25 9 0.25C13.8325 0.25 17.75 4.16751 17.75 9Z" stroke="#5C5C5C" stroke-width="0.5"></path>
										<path d="M5.37891 12.95L12.322 5.75" stroke="#5C5C5C" stroke-width="0.5"></path>
										<path d="M12.45 12.8213L5.25 5.8782" stroke="#5C5C5C" stroke-width="0.5"></path>
									</svg></span>
							</a>
						</div>

					{% endfor %}

					{% if cart.item_count == 0 %}
						<div class="drawer__cart-is-empty">
							<div class="drawer__cart-empty-text">
								<h4>Your shopping bag is empty.</h4>
								<p>Fill it with amazing skincare.</p>
							</div>
							<div class="empty-product">
								<div class="empty-title dekstop-empty">
									<h4>Micro-Infusion Facial System </h4>
										<div class="empty-review">
											<img src="https://qureskincaredns.com/assets/images/svg/bundle_r_3.svg" alt="" class="mr-2">
											&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="/pages/microinfusion">98% of customers loved their skin after one treatment</a>
										</div>
								</div>
								<div class="empty-main">
									<div class="empty-img">
										<img src="https://qureskincaredns.com/assets/images/cart/cart_micro.webp" style="max-width: 160px;">
										<div class="empty-mobile">
											<div class="empty-title">
												<h4>Micro-Infusion Facial System </h4>
												<div class="empty-review">
													<img src="https://qureskincaredns.com/assets/images/svg/bundle_r_3.svg" alt="">
													<a href="/pages/microinfusion"> 98% of customers loved their skin after one treatment</a>
												</div>
											</div>
										</div>
									</div>
									<div class="empty-content">
										<ul>
											<li>
												<span>
													<img src="https://qureskincaredns.com/assets/images/svg/dark-spots.svg" alt="">
												</span>
												Reduce appearance of fine lines, pores and dark spots. 
											</li>
											<li>
												<span>
													<img src="https://qureskincaredns.com/assets/images/svg/skin.svg" alt="">
												</span>
												Infuse active ingredients into your skin. 
											</li>
											<li>
												<span>
													<img src="https://qureskincaredns.com/assets/images/svg/downtime.svg" alt="">
												</span> 
												Immediately visible results, minimal downtime!
											</li>
											<li>
												<span>
													<img src="https://qureskincaredns.com/assets/images/svg/plus.svg" alt="">
												</span> 
												Virtually painless, and performed safely from home.
											</li>
										</ul>
									</div>
								</div>
								<div class="drawer__cart-empty-shop-btn">
									<a class="drawer__cart-empty-button" href="/pages/microinfusion">
										<h2 class="lock-checkout">Shop Micro-Infusion </h2>
									</a> 
								</div>
							</div>
						</div>
					{% endif %}
				</div>
			</div>

      {% render 'pdm_upsell_cards',cart:cart %}
			<div class="custom-shadow">

				{% assign price_checkInsurance = price_check %}
				{%- assign insPrice = 0 -%}

				{% if price_check > 388 %}
					{% assign price_checkInsurance = price_check %}
				{% endif %}
				{% assign insPrice = 0 %}
				{% if price_checkInsurance > 0 and price_checkInsurance <= 75 %}
					{% assign insPrice = 1.05 %}
				{% elsif price_checkInsurance >= 76 and price_checkInsurance <= 100 %}
					{% assign insPrice = 1.50 %}
				{% elsif price_checkInsurance >= 101 and price_checkInsurance <= 200 %}
					{% assign insPrice = 2.80 %}
				{% elsif price_checkInsurance >= 201 and price_checkInsurance <= 250 %}
					{% assign insPrice = 3.25 %}
				{% elsif price_checkInsurance >= 251 and price_checkInsurance <= 300 %}
					{% assign insPrice = 3.90 %}
				{% elsif price_checkInsurance >= 301 and price_checkInsurance <= 400 %}
					{% assign insPrice = 4.20 %}
				{% elsif price_checkInsurance >= 401 and price_checkInsurance <= 1000 %}
					{% assign insPrice1 = cart.total_price | divided_by: 100 | round: 2 %}
					{% assign insPrice2 = insPrice1 |divided_by: 50 | times: 50| round: 2| ceil %}
					{% assign insPrice3 =  insPrice2 |times: 0.011 | round:2 %}
					{% assign insPrice4 = insPrice3 | round:2 %}
					{% assign insPrice = insPrice4 %}
				{% elsif price_checkInsurance >= 1001  %}
					{% assign insPrice = 18.00 %}
				{% endif %}

				{%- assign subtotal_price = 0 -%}

				{% if price_check < 100 and price_check > 0 %}
					{%- assign insPrice = insPrice | times: 100 -%}

					{%- if is_only_gift == true -%}
						{%- assign shipping_charge = 0 -%}
					{% endif %}

					{%- assign subtotal_price_temp = cart.items_subtotal_price | money_without_trailing_zeros -%}
					{%- assign subtotal_price = cart.items_subtotal_price | plus: shipping_charge | money_without_trailing_zeros -%}
					{%- assign subtotal_price_nocurrency_temp = cart.items_subtotal_price | money_without_currency -%}
					{%- assign subtotal_price_nocurrency = cart.items_subtotal_price | plus: shipping_charge | money_without_currency -%}
				{%- else -%}
						{%- assign subtotal_price = cart.items_subtotal_price |  money_without_trailing_zeros -%}
						{%- assign subtotal_price_nocurrency = cart.items_subtotal_price |  money_without_currency -%}
				{%- endif -%}

				<div class="drawer__cart-subtotal">
					<div>
						<p>Subtotal</p>
						{% if cart.item_count > 0  %}
							{%- if total_cart_compare_price > 0 -%}
								{% if savings %}
									<p class="drawer_savings">You're saving</p>
								{% endif %}
							{%- endif -%}
						{% endif %}

						{%- if is_only_gift == true -%}
							<p class="drawer_shipping">&nbsp;</p>
						{%- else -%}
							<p class="drawer_shipping">Shipping</p>
						{%- endif -%}
					</div>

					<div class="drawer__cart-subtotal-end">
						<div class="sub_total_og">
							<p class="drawer__cart-subtotal-price-end" data-total_price="{% if subtotal_price_temp %}{{ subtotal_price_nocurrency_temp }}{% else %}{{ subtotal_price_nocurrency }}{% endif %}">
								{% if total_cart_compare_price > cart.items_subtotal_price %}
									<span class="drawer_original_price pe-1 money" style="text-decoration: line-through;color: #C4C4C4;">{{ total_cart_compare_price | money_without_trailing_zeros | remove:'USD' }}</span>
								{% endif %}
								{%- if subtotal_price_temp -%}
									<span class="money">{{ subtotal_price_temp }}</span>
								{%- else -%}
									<span class="money">{{ subtotal_price }}</span>
								{%- endif -%}
							</p>
						</div>
						{% if cart.item_count > 0  %}
							{%- if total_cart_compare_price > 0 -%}
								{% if savings %}
									<div class="drawer_savings">
										<p>-<span id="savings-amount money">{{ savings | money_without_trailing_zeros }}</span></p>
									</div>
								{% endif %}
							{%- endif -%}
						{% endif %}

						{%- if is_only_gift == true -%}
							<div class="drawer_shipping"><p>&nbsp;</p></div>
						{%- else -%}
							<div class="drawer_shipping">
								{% if price_check > 100  %}
									<p>Free</p>
								{% endif %}
								{% if price_check < 100 and price_check > 0 %}
									<p><span class="money">$10</span></p>
								{% endif %}
							</div>
						{%- endif -%}
					</div>
				</div>
					<form action="https://qureskincaredns.com/cart" method="post" class="insurance-form" id="insuranceForm">
						<div class="insurance-wrapper">
							<div class="insurance__bottom-wrapper">
								<div class="insurance__img-wrapper">
									<svg class="insurance__img" width="164" height="36" viewBox="0 0 164 36" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M7.89313 30.232C6.15909 30.232 4.66905 29.9497 3.42346 29.3846C2.17788 28.8195 1.03673 27.9622 0.000488281 26.8127L3.04988 23.8099C3.72726 24.5827 4.48012 25.1827 5.30703 25.609C6.13441 26.0348 7.09613 26.2481 8.19218 26.2481C9.18903 26.2481 9.96087 26.0702 10.5091 25.7133C11.0574 25.3564 11.3313 24.8607 11.3313 24.2267C11.3313 23.6517 11.1519 23.1863 10.793 22.8289C10.4346 22.472 9.96087 22.1652 9.37321 21.9069C8.78507 21.6497 8.13712 21.4018 7.42983 21.1634C6.72207 20.926 6.01953 20.6531 5.32222 20.3458C4.62442 20.0385 3.9817 19.6518 3.39356 19.1859C2.80589 18.7204 2.33216 18.1355 1.97377 17.4317C1.6149 16.7278 1.43547 15.8413 1.43547 14.7706C1.43547 13.4823 1.74924 12.372 2.37725 11.4406C3.00479 10.5087 3.87679 9.80013 4.99326 9.31484C6.10972 8.82907 7.39518 8.58643 8.8501 8.58643C10.325 8.58643 11.6754 8.84418 12.9011 9.35968C14.1267 9.87519 15.1383 10.5786 15.9358 11.4708L12.8859 14.4737C12.2484 13.8194 11.6052 13.3341 10.9577 13.0168C10.3102 12.6996 9.57732 12.541 8.76038 12.541C7.94344 12.541 7.2955 12.6944 6.81701 13.0017C6.33852 13.3086 6.09928 13.75 6.09928 14.3245C6.09928 14.8598 6.27871 15.2908 6.63758 15.618C6.99644 15.9451 7.46971 16.2274 8.05737 16.4653C8.64551 16.7033 9.29346 16.9412 10.0007 17.1791C10.7085 17.417 11.411 17.6946 12.1084 18.0114C12.8057 18.3282 13.4484 18.7299 14.0365 19.2157C14.6242 19.7014 15.0979 20.3156 15.4568 21.0591C15.8157 21.8026 15.9951 22.7194 15.9951 23.8094C15.9951 25.8115 15.2774 27.3821 13.8424 28.5217C12.4074 29.6612 10.4242 30.2315 7.89313 30.2315V30.232ZM25.6522 30.232C24.0776 30.232 22.6773 29.91 21.4516 29.2656C20.226 28.6217 19.2638 27.7248 18.5665 26.5748C17.8687 25.4248 17.5203 24.1271 17.5203 22.6797C17.5203 21.2328 17.864 19.9393 18.5518 18.7998C19.2396 17.6602 20.1709 16.7632 21.3472 16.1089C22.5235 15.4546 23.8488 15.1275 25.3237 15.1275C26.7587 15.1275 28.0246 15.4348 29.1207 16.0494C30.2168 16.6641 31.0788 17.5162 31.7068 18.6067C32.3348 19.6967 32.6486 20.9453 32.6486 22.3531C32.6486 22.6108 32.6339 22.8832 32.604 23.1707C32.5741 23.4582 32.5195 23.7901 32.4397 24.1668L19.9127 24.1965V21.0747L30.4963 21.0449L28.5231 22.3531C28.5031 21.5208 28.3735 20.8316 28.1343 20.2868C27.8951 19.7415 27.5414 19.3256 27.0729 19.0377C26.6044 18.7502 26.0314 18.6067 25.3541 18.6067C24.6368 18.6067 24.0135 18.77 23.4852 19.0972C22.9569 19.4243 22.5486 19.8851 22.2596 20.4799C21.9705 21.0747 21.8262 21.7979 21.8262 22.65C21.8262 23.5026 21.9804 24.231 22.2895 24.8357C22.5985 25.4399 23.0371 25.9064 23.6048 26.233C24.173 26.5602 24.8457 26.7235 25.6227 26.7235C26.3405 26.7235 26.9879 26.5998 27.5661 26.352C28.1443 26.1042 28.6522 25.7322 29.0908 25.237L31.6024 27.7342C30.8846 28.567 30.0179 29.1915 29.0016 29.6074C27.9848 30.0238 26.8688 30.232 25.6531 30.232H25.6522ZM41.8865 30.232C40.3917 30.232 39.0365 29.9048 37.8203 29.2505C36.6042 28.5967 35.6477 27.6946 34.9503 26.5446C34.2526 25.3951 33.9041 24.1068 33.9041 22.6793C33.9041 21.2324 34.2578 19.9389 34.9655 18.7993C35.6733 17.6597 36.635 16.7628 37.8507 16.1085C39.0664 15.4542 40.4316 15.127 41.9463 15.127C43.0827 15.127 44.1237 15.3206 45.0707 15.7072C46.0172 16.0938 46.8598 16.6735 47.597 17.4463L44.6667 20.36C44.3283 19.9832 43.9343 19.7057 43.4862 19.5272C43.0376 19.3488 42.5245 19.2596 41.9463 19.2596C41.2889 19.2596 40.7055 19.4035 40.1975 19.6906C39.6892 19.9781 39.2904 20.3741 39.0018 20.8797C38.7127 21.3853 38.5684 21.9745 38.5684 22.6486C38.5684 23.3227 38.7127 23.9175 39.0018 24.4325C39.2909 24.948 39.6944 25.354 40.2127 25.6514C40.7311 25.9488 41.3088 26.0976 41.9468 26.0976C42.5449 26.0976 43.078 25.9937 43.5465 25.7855C44.015 25.5773 44.4185 25.2851 44.7574 24.9084L47.6577 27.822C46.9001 28.6151 46.0433 29.2147 45.0864 29.6211C44.1299 30.0276 43.0632 30.2306 41.8874 30.2306L41.8865 30.232ZM56.1475 30.232C54.8317 30.232 53.6559 29.9591 52.6197 29.4143C51.5829 28.8696 50.776 28.1161 50.1978 27.155C49.6196 26.1939 49.331 25.0986 49.331 23.8694V15.4551H53.8752L53.9046 23.7806C53.9046 24.2763 53.9896 24.7021 54.1591 25.059C54.3285 25.4159 54.5825 25.6935 54.9214 25.8917C55.2599 26.09 55.6691 26.1891 56.1471 26.1891C56.8244 26.1891 57.368 25.9762 57.7767 25.5499C58.1849 25.1237 58.3795 24.534 58.3596 23.7811L58.3895 15.4556H62.9337V23.8104C62.9337 25.0788 62.6446 26.1939 62.0664 27.155C61.4883 28.1166 60.686 28.8696 59.6598 29.4143C58.6335 29.9596 57.4624 30.232 56.1471 30.232H56.1475ZM65.834 29.9048L65.8041 15.4546H70.3782V29.9048H65.8335H65.834ZM70.3787 21.9664L68.4652 20.4799C68.844 18.795 69.4815 17.4864 70.3787 16.555C71.2754 15.6236 72.5214 15.1577 74.1159 15.1577C74.8137 15.1577 75.4265 15.262 75.9548 15.4697C76.4832 15.6779 76.9465 15.9999 77.3452 16.4361L74.6243 19.8553C74.4249 19.6372 74.1757 19.4687 73.8767 19.3497C73.5776 19.2308 73.2387 19.1713 72.8604 19.1713C72.1028 19.1713 71.4999 19.4045 71.0518 19.8699C70.6032 20.3359 70.3792 21.0346 70.3792 21.966L70.3787 21.9664ZM85.3271 30.232C83.7526 30.232 82.3522 29.91 81.1266 29.2656C79.9009 28.6217 78.9392 27.7248 78.2414 26.5748C77.5441 25.4248 77.1952 24.1271 77.1952 22.6797C77.1952 21.2328 77.5389 19.9393 78.2267 18.7998C78.9145 17.6602 79.8459 16.7632 81.0221 16.1089C82.198 15.4546 83.5238 15.1275 84.9986 15.1275C86.4336 15.1275 87.6996 15.4348 88.7956 16.0494C89.8917 16.6641 90.7537 17.5162 91.3817 18.6067C92.0093 19.6967 92.3231 20.9453 92.3231 22.3531C92.3231 22.6108 92.3083 22.8832 92.2784 23.1707C92.2485 23.4582 92.1935 23.7901 92.1137 24.1668L79.5867 24.1965V21.0747L90.1703 21.0449L88.1971 22.3531C88.1771 21.5208 88.0475 20.8316 87.8083 20.2868C87.569 19.7415 87.2154 19.3256 86.7469 19.0377C86.2784 18.7502 85.7059 18.6067 85.028 18.6067C84.3103 18.6067 83.6875 18.77 83.1592 19.0972C82.6309 19.4243 82.2226 19.8851 81.9335 20.4799C81.6445 21.0747 81.5002 21.7979 81.5002 22.65C81.5002 23.5026 81.6544 24.231 81.9635 24.8357C82.2725 25.4399 82.7111 25.9064 83.2788 26.233C83.847 26.5602 84.5197 26.7235 85.2972 26.7235C86.0144 26.7235 86.6624 26.5998 87.2406 26.352C87.8187 26.1042 88.3271 25.7322 88.7653 25.237L91.2764 27.7342C90.5591 28.567 89.6918 29.1915 88.6755 29.6074C87.6588 30.0238 86.5428 30.232 85.3271 30.232Z"
											fill="#474747" />
										<path
											d="M101.291 30.2321C99.557 30.2321 98.067 29.9498 96.8214 29.3847C95.5758 28.8196 94.4347 27.9623 93.3984 26.8128L96.4478 23.81C97.1252 24.5828 97.8781 25.1828 98.705 25.6091C99.5324 26.0349 100.494 26.2482 101.59 26.2482C102.587 26.2482 103.359 26.0703 103.907 25.7134C104.455 25.3565 104.729 24.8608 104.729 24.2268C104.729 23.6518 104.55 23.1864 104.191 22.829C103.833 22.4721 103.359 22.1653 102.771 21.9071C102.183 21.6498 101.535 21.4019 100.828 21.1635C100.12 20.9261 99.4175 20.6532 98.7202 20.3459C98.0228 20.0386 97.3797 19.652 96.7915 19.186C96.2038 18.7205 95.7301 18.1356 95.3717 17.4318C95.0129 16.7279 94.8334 15.8414 94.8334 14.7707C94.8334 13.4824 95.1472 12.3721 95.7752 11.4407C96.4027 10.5088 97.2747 9.80023 98.3912 9.31494C99.5072 8.82918 100.793 8.58653 102.248 8.58653C103.722 8.58653 105.073 8.84428 106.299 9.35979C107.524 9.87529 108.536 10.5787 109.333 11.4709L106.283 14.4738C105.646 13.8195 105.003 13.3342 104.355 13.0169C103.708 12.6997 102.975 12.5411 102.158 12.5411C101.341 12.5411 100.693 12.6945 100.214 13.0018C99.736 13.3087 99.4968 13.7501 99.4968 14.3246C99.4968 14.8599 99.6762 15.2909 100.035 15.6181C100.394 15.9452 100.867 16.2275 101.455 16.4655C102.043 16.7034 102.691 16.9413 103.398 17.1792C104.106 17.4172 104.809 17.6947 105.506 18.0115C106.203 18.3283 106.846 18.73 107.434 19.2158C108.022 19.7015 108.495 20.3157 108.854 21.0592C109.213 21.8027 109.393 22.7195 109.393 23.8095C109.393 25.8116 108.675 27.3822 107.24 28.5218C105.805 29.6613 103.822 30.2316 101.291 30.2316L101.291 30.2321ZM121.561 29.9049V21.6691C121.561 20.9157 121.327 20.3062 120.859 19.8403C120.39 19.3744 119.787 19.1416 119.05 19.1416C118.551 19.1416 118.118 19.2455 117.749 19.4537C117.38 19.6619 117.086 19.9588 116.867 20.3454C116.648 20.7321 116.538 21.173 116.538 21.6687L114.774 20.8062C114.774 19.676 115.013 18.6851 115.492 17.8326C115.97 16.9805 116.638 16.3215 117.495 15.8555C118.352 15.3896 119.329 15.1569 120.425 15.1569C121.581 15.1569 122.587 15.3896 123.444 15.8555C124.301 16.3215 124.964 16.9654 125.432 17.7882C125.9 18.611 126.135 19.5674 126.135 20.6575V29.904H121.561L121.561 29.9049ZM111.994 29.9049L111.964 8.31934H116.538V29.9049H111.993H111.994ZM129.065 29.9049V15.4547H133.639V29.9049H129.065ZM145.24 30.2023C144.263 30.2023 143.366 30.014 142.549 29.6377C141.732 29.261 141.064 28.7408 140.546 28.0766C140.028 27.4129 139.729 26.6547 139.649 25.8021V19.7072C139.729 18.8546 140.028 18.0818 140.546 17.3879C141.064 16.6939 141.732 16.1492 142.549 15.7526C143.366 15.3561 144.263 15.1578 145.24 15.1578C146.615 15.1578 147.836 15.485 148.902 16.1392C149.968 16.7931 150.806 17.6853 151.414 18.815C152.022 19.9446 152.326 21.2329 152.326 22.6803C152.326 24.1272 152.022 25.416 151.414 26.5457C150.806 27.6758 149.969 28.5675 148.902 29.2218C147.836 29.8757 146.615 30.2028 145.24 30.2028V30.2023ZM144.402 26.0991C145.08 26.0991 145.658 25.9504 146.136 25.653C146.615 25.3556 146.994 24.9543 147.272 24.4487C147.551 23.9436 147.691 23.3535 147.691 22.6798C147.691 22.0057 147.551 21.4114 147.272 20.8959C146.994 20.3804 146.61 19.9739 146.121 19.677C145.633 19.3796 145.06 19.2309 144.402 19.2309C143.784 19.2507 143.226 19.4046 142.728 19.6916C142.23 19.9791 141.846 20.3752 141.577 20.8808C141.308 21.3864 141.173 21.9859 141.173 22.6794C141.173 23.3337 141.308 23.9181 141.577 24.4336C141.846 24.9491 142.23 25.3551 142.728 25.6525C143.226 25.9499 143.784 26.0986 144.402 26.0986L144.402 26.0991ZM136.868 35.9999L136.898 15.4547H141.443V19.1714L140.695 22.6798L141.383 26.1883L141.353 35.9999H136.868Z"
											fill="#2576B3" />
										<path
											d="M153.777 6.09542C153.271 5.8051 152.951 5.39675 152.815 4.87039C152.68 4.3445 152.752 3.8408 153.031 3.36022C153.319 2.86596 153.723 2.54873 154.245 2.409C154.766 2.26879 155.28 2.34432 155.786 2.63465C156.292 2.92544 156.611 3.32812 156.743 3.84316C156.874 4.35866 156.797 4.86331 156.51 5.35757C156.231 5.83814 155.832 6.15443 155.313 6.30455C154.795 6.45562 154.282 6.38575 153.777 6.09542H153.777ZM146.73 4.24772C146.11 4.24772 145.596 4.04143 145.191 3.62789C144.786 3.2153 144.582 2.71396 144.582 2.12339C144.582 1.5163 144.786 1.01118 145.191 0.606615C145.596 0.202048 146.11 0 146.73 0C147.351 0 147.861 0.202048 148.257 0.606615C148.654 1.01118 148.853 1.51677 148.853 2.12339C148.853 2.71348 148.654 3.21483 148.257 3.62789C147.861 4.04096 147.351 4.24772 146.73 4.24772ZM131.37 13.261C130.565 13.261 129.899 12.9934 129.374 12.458C128.848 11.9227 128.585 11.2727 128.585 10.5079C128.585 9.72095 128.848 9.06571 129.374 8.54124C129.899 8.01677 130.565 7.75476 131.37 7.75476C132.175 7.75476 132.835 8.01677 133.349 8.54124C133.863 9.06571 134.121 9.72095 134.121 10.5079C134.121 11.2727 133.864 11.9227 133.349 12.458C132.835 12.9938 132.175 13.261 131.37 13.261ZM137.027 2.11631C137.621 1.77547 138.226 1.69097 138.843 1.86328C139.461 2.03511 139.933 2.40427 140.26 2.96793C140.597 3.54858 140.684 4.1434 140.521 4.75332C140.358 5.36276 139.979 5.83814 139.385 6.17898C138.792 6.51982 138.192 6.60621 137.588 6.43673C136.984 6.26773 136.514 5.89338 136.177 5.31272C135.849 4.7486 135.76 4.15945 135.911 3.54669C136.061 2.93394 136.433 2.45715 137.027 2.11631ZM153.28 31.7484C153.592 31.569 153.911 31.5247 154.236 31.6153C154.561 31.7059 154.81 31.8999 154.982 32.1974C155.16 32.5033 155.206 32.8167 155.12 33.1373C155.034 33.4583 154.834 33.708 154.521 33.8879C154.209 34.0672 153.893 34.113 153.575 34.0238C153.257 33.9346 153.009 33.7373 152.832 33.4318C152.659 33.1349 152.612 32.8247 152.692 32.5018C152.771 32.1794 152.966 31.9278 153.28 31.7479V31.7484ZM158.773 25.9882C158.985 25.6232 159.283 25.3915 159.667 25.2942C160.051 25.197 160.419 25.2489 160.769 25.45C161.13 25.6568 161.362 25.949 161.464 26.3257C161.566 26.7019 161.511 27.073 161.299 27.4379C161.087 27.8033 160.793 28.0337 160.417 28.129C160.041 28.2239 159.673 28.1682 159.312 27.9605C158.961 27.7594 158.731 27.4714 158.62 27.0971C158.51 26.7227 158.562 26.3531 158.773 25.9877V25.9882ZM160.577 18.3731C160.577 17.8779 160.743 17.4686 161.076 17.1457C161.409 16.8228 161.813 16.6609 162.288 16.6609C162.777 16.6609 163.185 16.8224 163.511 17.1457C163.837 17.4686 164 17.8779 164 18.3731C164 18.8679 163.837 19.2738 163.511 19.5901C163.185 19.9064 162.777 20.0646 162.288 20.0646C161.813 20.0646 161.409 19.9064 161.076 19.5901C160.743 19.2738 160.577 18.8683 160.577 18.3731ZM158.784 11.1037C158.535 10.675 158.474 10.2383 158.599 9.79271C158.725 9.34754 158.994 9.00671 159.406 8.7702C159.829 8.52661 160.264 8.46429 160.708 8.58184C161.153 8.69986 161.499 8.97319 161.749 9.40136C161.997 9.83 162.06 10.2624 161.937 10.6986C161.814 11.1348 161.541 11.4742 161.117 11.7178C160.705 11.9543 160.276 12.0181 159.828 11.9095C159.381 11.8014 159.033 11.5328 158.784 11.1041V11.1037Z"
											fill="url(#paint0_linear_1771_2799)" />
										<path
											d="M153.777 6.09542C153.271 5.8051 152.951 5.39675 152.815 4.87039C152.68 4.3445 152.752 3.8408 153.031 3.36022C153.319 2.86596 153.723 2.54873 154.245 2.409C154.766 2.26879 155.28 2.34432 155.786 2.63465C156.292 2.92544 156.611 3.32812 156.743 3.84316C156.874 4.35866 156.797 4.86331 156.51 5.35757C156.231 5.83814 155.832 6.15443 155.313 6.30455C154.795 6.45562 154.282 6.38575 153.777 6.09542H153.777ZM146.73 4.24772C146.11 4.24772 145.596 4.04143 145.191 3.62789C144.786 3.2153 144.582 2.71396 144.582 2.12339C144.582 1.5163 144.786 1.01118 145.191 0.606615C145.596 0.202048 146.11 0 146.73 0C147.351 0 147.861 0.202048 148.257 0.606615C148.654 1.01118 148.853 1.51677 148.853 2.12339C148.853 2.71348 148.654 3.21483 148.257 3.62789C147.861 4.04096 147.351 4.24772 146.73 4.24772ZM131.37 13.261C130.565 13.261 129.899 12.9934 129.374 12.458C128.848 11.9227 128.585 11.2727 128.585 10.5079C128.585 9.72095 128.848 9.06571 129.374 8.54124C129.899 8.01677 130.565 7.75476 131.37 7.75476C132.175 7.75476 132.835 8.01677 133.349 8.54124C133.863 9.06571 134.121 9.72095 134.121 10.5079C134.121 11.2727 133.864 11.9227 133.349 12.458C132.835 12.9938 132.175 13.261 131.37 13.261ZM137.027 2.11631C137.621 1.77547 138.226 1.69097 138.843 1.86328C139.461 2.03511 139.933 2.40427 140.26 2.96793C140.597 3.54858 140.684 4.1434 140.521 4.75332C140.358 5.36276 139.979 5.83814 139.385 6.17898C138.792 6.51982 138.192 6.60621 137.588 6.43673C136.984 6.26773 136.514 5.89338 136.177 5.31272C135.849 4.7486 135.76 4.15945 135.911 3.54669C136.061 2.93394 136.433 2.45715 137.027 2.11631ZM153.28 31.7484C153.592 31.569 153.911 31.5247 154.236 31.6153C154.561 31.7059 154.81 31.8999 154.982 32.1974C155.16 32.5033 155.206 32.8167 155.12 33.1373C155.034 33.4583 154.834 33.708 154.521 33.8879C154.209 34.0672 153.893 34.113 153.575 34.0238C153.257 33.9346 153.009 33.7373 152.832 33.4318C152.659 33.1349 152.612 32.8247 152.692 32.5018C152.771 32.1794 152.966 31.9278 153.28 31.7479V31.7484ZM158.773 25.9882C158.985 25.6232 159.283 25.3915 159.667 25.2942C160.051 25.197 160.419 25.2489 160.769 25.45C161.13 25.6568 161.362 25.949 161.464 26.3257C161.566 26.7019 161.511 27.073 161.299 27.4379C161.087 27.8033 160.793 28.0337 160.417 28.129C160.041 28.2239 159.673 28.1682 159.312 27.9605C158.961 27.7594 158.731 27.4714 158.62 27.0971C158.51 26.7227 158.562 26.3531 158.773 25.9877V25.9882ZM160.577 18.3731C160.577 17.8779 160.743 17.4686 161.076 17.1457C161.409 16.8228 161.813 16.6609 162.288 16.6609C162.777 16.6609 163.185 16.8224 163.511 17.1457C163.837 17.4686 164 17.8779 164 18.3731C164 18.8679 163.837 19.2738 163.511 19.5901C163.185 19.9064 162.777 20.0646 162.288 20.0646C161.813 20.0646 161.409 19.9064 161.076 19.5901C160.743 19.2738 160.577 18.8683 160.577 18.3731ZM158.784 11.1037C158.535 10.675 158.474 10.2383 158.599 9.79271C158.725 9.34754 158.994 9.00671 159.406 8.7702C159.829 8.52661 160.264 8.46429 160.708 8.58184C161.153 8.69986 161.499 8.97319 161.749 9.40136C161.997 9.83 162.06 10.2624 161.937 10.6986C161.814 11.1348 161.541 11.4742 161.117 11.7178C160.705 11.9543 160.276 12.0181 159.828 11.9095C159.381 11.8014 159.033 11.5328 158.784 11.1041V11.1037Z"
											fill="#2576B3" />
										<defs>
											<linearGradient id="paint0_linear_1771_2799" x1="132.965" y1="5.8051" x2="159.497" y2="28.4081"
												gradientUnits="userSpaceOnUse">
												<stop stop-color="#0FA847" />
												<stop offset="0.471875" stop-color="#1D8242" />
												<stop offset="1" stop-color="#324539" />
											</linearGradient>
										</defs>
									</svg>
								</div>
								<div class="insurance__text">
									<p class="insurance__text--top">Protect Your Order from Loss,
									</p>
									<p class="insurance__text--top">Damage & Theft
										<span class="insurance__cost">
											<span class="money">$4.20</span>
										</span>
									</p>
								</div>
								<div class="insurance__switch-wrapper">
									<label class="switch">
										<input onclick="updateShippingInsurance();" type="checkbox" id="insuranceCkeckbox"
											name="insurance" value="37390541553813"{% if is_only_gift == true %} disabled{% else %} checked{% endif %}>
										<span class="slider round"></span>
									</label>
								</div>
							</div>
						</div>
						<hr class="insurance-spacer">
					</form>
			</div>

			<div class="cart_total-checkout">
				<div class="drawer__cart-total">
					<p class="cart_items_subtotal_price">Your Total</p>
					<p class="drawer__cart-total-price">
						<span class="old_price-cart" data-compare-price="{{ total_cart_compare_price | money_without_currency }}">{% if total_cart_compare_price > cart.items_subtotal_price %}{{ total_cart_compare_price | money_without_trailing_zeros }}{% endif %}</span>
						<span class="cart_items_subtotal_price money" id="cart_items_subtotal_price" data-value="{{ subtotal_price }}">{{ subtotal_price }}</span>
					</p>
				</div>

				<div class="drawer__cart-checkout-btn">
					<button class="drawer__cart-checkout" type="submit" name="checkout">
						<h2 class="lock-checkout">CHECKOUT</h2>
						<svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M3.30418 6.65385L3.30419 6.36739V6.07022L3.30422 5.78276L3.30419 5.4856V5.19813L3.31088 4.91794L3.34867 4.61318C3.36712 4.48229 3.46457 4.1159 3.52886 4.05135C3.59624 3.79566 3.97413 3.36459 4.11325 3.2384C4.30328 3.06604 4.64307 2.79803 4.97414 2.71228C5.017 2.67909 5.10977 2.65689 5.16864 2.65908C5.22808 2.60386 5.4626 2.58605 5.55854 2.57923L5.60182 2.58411C5.63562 2.56472 5.62319 2.57143 5.67446 2.5669C5.78657 2.55698 6.16692 2.55662 6.22574 2.60079C6.29001 2.59531 6.38519 2.61765 6.42004 2.62823C6.58717 2.65835 6.7395 2.71855 6.88765 2.78372L6.99508 2.83863C7.01395 2.85284 7.00708 2.84691 7.0204 2.86272C7.15756 2.8788 7.58226 3.2556 7.65442 3.3329C7.74103 3.42565 8.08718 3.82507 8.10754 3.98687C8.1964 4.062 8.30446 4.45889 8.32391 4.61269C8.33993 4.68191 8.35281 4.75344 8.34371 4.82069C8.39422 4.89279 8.36852 5.09435 8.36815 5.19328V5.49045V5.77791V6.07507L8.36821 6.36253L8.36806 6.65727L8.36752 6.99232L3.30747 6.99692L3.30418 6.65385ZM5.35999 0.676492C5.35617 0.678669 5.35109 0.680564 5.34789 0.681709L5.15542 0.714034C5.08609 0.724165 5.02528 0.736243 4.95631 0.745877C4.9058 0.761397 4.78294 0.795849 4.71277 0.791452L4.69217 0.803623C4.61389 0.842163 4.74284 0.784877 4.67072 0.813572C4.65827 0.818528 4.64093 0.822693 4.6258 0.826843C4.41553 0.884587 4.16959 0.992551 4.06847 1.01878C4.03925 1.04699 3.8553 1.12496 3.79889 1.15538C3.73264 1.1911 3.57512 1.29298 3.52765 1.30144C3.49359 1.34929 2.87247 1.71579 2.31492 2.41853L1.98818 2.87315C1.98316 2.91588 1.87461 3.10094 1.84923 3.1514C1.8278 3.19399 1.73206 3.41113 1.7176 3.42728L1.60767 3.73654L1.52925 4.01191C1.48957 4.24675 1.44456 4.44374 1.42289 4.69869C1.40146 4.95089 1.40773 5.20233 1.40655 5.45879C1.40535 5.71688 1.40605 5.97529 1.40604 6.23342C1.40604 6.38785 1.42626 6.8819 1.39929 6.99732L0.927328 7.0069C0.884014 7.02489 0.811939 7.03284 0.755858 7.05376C0.723997 7.06564 0.698472 7.07827 0.672748 7.09149C0.626121 7.11544 0.63646 7.11738 0.594571 7.11997C0.578997 7.14014 0.590119 7.12845 0.570343 7.14625L0.479006 7.21728C0.435179 7.25445 0.413668 7.27476 0.375972 7.31889C0.287473 7.4225 0.233522 7.53532 0.205015 7.56186L0.150739 7.78275L0.139893 8.11642V8.41358V8.70104V8.9982V9.28567V9.58283V9.8703V10.1675V10.4549V10.7521V11.0395V11.3367V11.6242V11.9213V12.2088V12.506V12.7934V13.0906V13.3781L0.140495 13.6752C0.147393 13.7992 0.169334 13.8717 0.192943 13.9796C0.233555 14.0426 0.256574 14.1164 0.302079 14.181C0.348513 14.247 0.398 14.3054 0.452315 14.3524C0.579069 14.4621 0.675752 14.5148 0.869898 14.5708L1.1586 14.5935H1.45564H1.74299H2.04004H2.32739H2.62443H2.91179H3.20883H3.49619H3.79323H4.08058H4.37763H4.66498H4.96203H5.24938H5.54643H5.83378H6.13082H6.41817H6.71522H7.00257H7.29962H7.58698H7.88402H8.17137H8.46842H8.75577H9.05281H9.34017H9.63721H9.92457H10.2216L10.508 14.5935L10.7994 14.5712C10.9957 14.5131 11.1054 14.4525 11.2275 14.3452C11.2799 14.2992 11.3306 14.2368 11.3758 14.172C11.4137 14.1175 11.4549 13.9953 11.4961 13.9527L11.5318 13.6704L11.5325 13.3829V13.0857V12.7983V12.5011V12.2137V11.9165V11.629V11.3319V11.0444V10.7472V10.4598V10.1626V9.87514V9.57798V9.29051V8.99336V8.70589V8.40873V8.12126L11.5399 7.87766C11.5147 7.84023 11.5153 7.75042 11.5018 7.69813C11.484 7.62948 11.4611 7.58783 11.4456 7.52496C11.3928 7.47383 11.3872 7.36703 11.1529 7.18355C11.1246 7.16138 11.1186 7.16387 11.1103 7.14192C10.9695 7.08818 10.9183 7.03392 10.7316 7.00724C10.5816 6.9858 10.4053 7.01293 10.2681 6.9898C10.2286 6.26337 10.3027 5.38838 10.2419 4.60677L10.2246 4.38947C10.1824 4.3274 10.169 4.14035 10.1493 4.05486C10.1231 3.94129 10.0903 3.84579 10.0641 3.7374C10.0413 3.68136 9.97964 3.53088 9.97746 3.46656C9.92835 3.42329 9.85695 3.22112 9.8234 3.15131C9.77541 3.05148 9.69697 2.94094 9.66145 2.84266C9.63213 2.82836 9.54382 2.6704 9.5136 2.62752C9.2718 2.28421 8.92561 1.89903 8.59839 1.64319L8.18005 1.32724L7.7184 1.07668C7.6865 1.0612 7.66887 1.05621 7.63804 1.04182C7.62307 1.03483 7.61051 1.02829 7.5986 1.02028C7.57863 1.00685 7.58416 1.01085 7.57095 0.996959C7.56293 0.996943 7.03465 0.823755 7.01953 0.813776L6.62323 0.718906C6.56958 0.726834 6.53355 0.717387 6.47897 0.706514C6.39689 0.69957 6.12083 0.688416 6.07261 0.660156L5.83378 0.66494L5.5467 0.673973C5.48503 0.676791 5.41242 0.690946 5.35999 0.676492Z" fill="#D1D1D1"></path>
						</svg>
					</button>
				</div>
				<div class="payment_info">
					<p>
						<span><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
								<g clip-path="url(#clip0_12488_3968)">
									<path d="M1.07264 4.8418C0.51785 4.8418 0.150391 5.20926 0.150391 5.76405V18.6755C0.150391 19.2303 0.51785 19.5978 1.07264 19.5978H2.91714C3.10087 18.0307 4.48424 16.7446 6.14501 16.7446C7.80578 16.7446 9.18915 18.0307 9.37288 19.5978H13.0619C13.6167 19.5978 13.9841 19.2303 13.9841 18.6755V5.76405C13.9841 5.20926 13.6167 4.8418 13.0619 4.8418H1.07264ZM10.1799 8.04085C10.3312 8.04085 10.4897 8.1057 10.5833 8.24259L11.1309 8.819C11.3147 9.00273 11.3219 9.34857 11.0445 9.62597L6.51968 14.1508C6.24228 14.4281 5.86762 14.4281 5.68389 14.1508L3.09006 11.5857C2.81267 11.3084 2.81267 10.9337 3.09006 10.75L3.66647 10.2024C3.94386 9.92498 4.2897 9.92498 4.47343 10.2024L6.14501 11.8451L9.74755 8.24259C9.88445 8.1057 10.0285 8.04085 10.1799 8.04085ZM15.8286 8.53079C15.2738 8.53079 14.9064 8.89825 14.9064 9.45304V18.6755C14.9064 19.1367 15.2738 19.5978 15.8286 19.5978C16.0124 18.0307 17.3957 16.7446 19.0565 16.7446C20.7173 16.7446 22.1006 17.937 22.2844 19.5978H23.2066C23.7614 19.5978 24.1289 19.2303 24.1289 18.6755V14.0643C24.1289 13.2357 23.3795 12.2198 23.3795 12.2198L21.3621 9.45304C20.901 8.89825 20.6236 8.53079 19.9788 8.53079H15.8286ZM17.6731 10.3753H19.8923C20.076 10.3753 20.267 10.5482 20.267 10.5482L22.1979 13.2285C22.3816 13.5059 22.5726 13.7941 22.5726 13.9778H17.6731V10.3753ZM6.14501 17.9262C4.97419 17.9262 4.01231 18.8881 4.01231 20.0589C4.01231 21.2297 4.97419 22.1916 6.14501 22.1916C7.31584 22.1916 8.27771 21.2297 8.27771 20.0589C8.27771 18.8881 7.31584 17.9262 6.14501 17.9262ZM19.0565 17.9262C17.8857 17.9262 16.9238 18.8881 16.9238 20.0589C16.9238 21.2297 17.8857 22.1916 19.0565 22.1916C20.2273 22.1916 21.1892 21.2297 21.1892 20.0589C21.1892 18.8881 20.2273 17.9262 19.0565 17.9262Z" fill="black"></path>
								</g>
								<defs>
									<clipPath id="clip0_12488_3968">
										<rect width="23.9785" height="23.9785" fill="white" transform="translate(0.150391 0.386719)"></rect>
									</clipPath>
								</defs>
							</svg></span>
						Free Shipping over <span class="money">$100</span>
					</p>
					<p>
						<span><svg xmlns="http://www.w3.org/2000/svg" width="33" height="24" viewBox="0 0 33 24" fill="none">
								<circle cx="14.9581" cy="10.0547" r="8.92383" fill="black"></circle>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M15.2458 5.65918C15.0918 5.65918 14.928 5.70111 14.8067 5.83074C14.6887 5.95686 14.6554 6.11918 14.6554 6.26377V6.64285C13.5504 6.90392 12.8002 7.76545 12.8002 8.82702C12.8002 9.45066 13.0583 9.9083 13.4313 10.2551C13.793 10.5915 14.2645 10.8253 14.6984 11.0228C14.7847 11.0621 14.8691 11.0998 14.9514 11.1365L14.9515 11.1366L14.9515 11.1366C15.2998 11.2921 15.608 11.4298 15.8507 11.5934C16.1415 11.7895 16.2698 11.9777 16.2698 12.2117C16.2698 12.4537 16.1682 12.6323 16.0063 12.7576C15.8377 12.888 15.5932 12.9666 15.3166 12.9666C14.6966 12.9666 14.2036 12.6675 13.9403 12.4701L13.9301 12.4624L13.9191 12.4557C13.8026 12.3839 13.6559 12.3227 13.4928 12.3375C13.3174 12.3535 13.1809 12.4514 13.0826 12.5825L13.0768 12.5902L12.9268 12.822C12.8289 12.937 12.7613 13.0852 12.7766 13.253C12.7926 13.4291 12.8943 13.5676 13.0213 13.664C13.3011 13.8873 13.857 14.26 14.6554 14.3957V14.7891C14.6554 14.9296 14.6942 15.0864 14.8203 15.2038C14.9428 15.3178 15.1012 15.3512 15.2458 15.3512H15.3308C15.4847 15.3512 15.6486 15.3093 15.7699 15.1796C15.8878 15.0535 15.9212 14.8912 15.9212 14.7466V14.3893C17.0966 14.1503 17.8189 13.2522 17.8189 12.1692C17.8189 11.5222 17.5649 11.0479 17.1905 10.6902C16.8274 10.343 16.3542 10.1087 15.9181 9.91563C15.8088 9.86722 15.7028 9.8217 15.6005 9.77782L15.6005 9.7778C15.2768 9.63884 14.9914 9.51634 14.762 9.37069C14.4691 9.18485 14.3493 9.01161 14.3493 8.7987C14.3493 8.44328 14.7017 8.04377 15.3449 8.04377C15.849 8.04377 16.2466 8.25372 16.4587 8.40342L16.4696 8.4111L16.4811 8.41772C16.6048 8.48839 16.7633 8.54843 16.9349 8.51723C17.1194 8.48368 17.2465 8.35933 17.3291 8.21489L17.4603 7.96698C17.5255 7.84563 17.5738 7.69694 17.5479 7.53776C17.5205 7.36899 17.4184 7.2406 17.2855 7.15153C17.0259 6.97402 16.5699 6.71063 15.9212 6.62023V6.22128C15.9212 6.08074 15.8824 5.92399 15.7562 5.80652C15.6338 5.69254 15.4754 5.65918 15.3308 5.65918H15.2458Z" fill="white"></path>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M28.391 9.56532C28.391 16.986 22.5221 22.9764 15.0872 22.9764L28.391 9.56532ZM15.0872 22.9764C7.65237 22.9764 1.61951 16.9435 1.61951 9.52284L15.0872 22.9764Z" fill="white"></path>
								<path d="M1.61951 9.52284C1.61951 16.9435 7.65237 22.9764 15.0872 22.9764C22.5221 22.9764 28.391 16.986 28.391 9.56532H31.359L25.7368 1.29492L20.1288 9.56532H24.4868" stroke="black" stroke-width="1.39435" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
						</span>
						Buy Now, Pay Later
					</p>
				</div>
			</div>

		</form>
	</div>
</section>


{% assign giftProduct = false %}
{% assign giftPriceLimit = 0 %}
{% assign giftQuantity = 0 %}
{% assign giftDiscount = 0 %}

{% if section.blocks.size > 0 %}
	{%- for block in section.blocks -%}
		{% if block.type == 'gift' %}
			{% if block.settings.disable == false %}
				{% assign giftProduct = block.settings.product %}
				{% assign giftPriceLimit = block.settings.price_limit %}
				{% assign giftQuantity = block.settings.quantity %}
				{% assign giftDiscount = block.settings.discount %}
			{% endif %}
		{% endif %}
	{% endfor %}
{% endif %}

{% render 'slidecart-insert', giftProduct: giftProduct, giftPriceLimit: giftPriceLimit, giftQuantity: giftQuantity, giftDiscount: giftDiscount %}

{% schema %}
	{
		"name": "t:sections.slidecart.name",
		"class": "section-slidecart",
		"settings": [
	
		],
		"blocks": [
			{
				"type": "gift",
				"name": "t:sections.slidecart.blocks.gift.name",
				"limit": 1,
				"settings": [
                    {
                        "type": "product",
                        "id": "product",
                        "label": "t:common.product.label"
                    },
					{
						"type": "text",
						"id": "price_limit",
						"label": "t:sections.slidecart.blocks.gift.settings.price_limit.label",
						"default": "200"
					},
					{
						"type": "text",
						"id": "quantity",
						"label": "t:sections.slidecart.blocks.gift.settings.quantity.label",
						"default": "1"
					},
					{
						"type": "text",
						"id": "discount",
						"label": "t:sections.slidecart.blocks.gift.settings.discount.label"
					},
					{
						"type": "checkbox",
						"id": "disable",
						"label": "t:sections.slidecart.blocks.gift.settings.disable.label",
						"default": false
					}
				]
			}
		]
	}
{% endschema %}