<div class="app_slider_bl section">
    <div class="container">
        <div class="section_header text-center mb-3">
            {% if section.settings.heading != blank %}
                <h2 class="title-lg paddingB">{{ section.settings.heading }}</h2> 
            {% endif %}

            {% if section.settings.text != blank %}
                {{ section.settings.text }}
            {% endif %}
        </div>
        {% if section.blocks.size > 0 %}
            <div class="app_slider_wrapper">
                <div class="swiper dot_pagination app_slider twa__swiper" id="twa__swiper-app_slider"
                    data-section-id="app_slider" data-autoplay="false" data-loop="false" data-centerslide="false"
                    data-mobile="1" data-tablet="2" data-desktop="2.3" data-spacing="100"
                    data-arrowleft="app_slider-swiper-prev" data-arrowright="app_slider-swiper-next">
                    <div class="swiper-wrapper">
                        {%- for block in section.blocks -%}
                            <div class="swiper-slide">
                                <div class="app_s_item">
                                    {% if block.settings.image != blank %}
                                        <div class="as_img order-2 order-md-1 order-2 order-md-1">
                                            <img src="{{ block.settings.image | img_url: '450x' }}" alt="" class="img-fluid">
                                        </div>
                                    {% endif %}

                                    {% if block.settings.heading != blank %}
                                        <div class="as_info order-1 order-md-2 order-1 order-md-2">
                                            <h3>{{ block.settings.heading }}</h3>
                                        </div>
                                    {% endif %}

                                    {% if block.settings.text != blank %}
                                        <div class="as_desc order-3 order-3">
                                            {{ block.settings.text }}
                                        </div>  
                                    {% endif %}
                                </div>
                            </div>
                        {%- endfor -%}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        {% endif %}
    </div>
</div>


{% schema %}
    {
        "name": "t:sections.slider.name",
        "class": "section-slider",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "t:common.heading.label"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text.label"
            }
        ],
        "blocks": [
            {
                "type": "object",
                "name": "t:common.object.label",
                "limit": 10,
                "settings": [
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "t:common.heading.label"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "t:common.text.label"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "t:common.image.label"
                    }
                ]
		    }
        ],
        "presets": [
			{
				"name": "t:sections.slider.name",
                "settings": {
                    "heading": "An app for out-of-this world skincare",
                    "text": "<p>Your skin’s unique. So your treatment should be. Step into the world of personalized skincare with the Qure Skincare App. It gives you full control of your clinical-grade LED light therapy treatments. No more visits to beauty clinics, no more waiting rooms at the dermatologist.<\/p>"
                },
                "blocks": [
                    {
                        "type": "object",
                        "settings": {
                            "heading": "Customize Treatments",
                            "text": "<p>Customize your LED light therapy treatments for a personalized program that’s unique to your skin’s profile. Tailor your treatments on 5 facial areas to treat your specific skin concerns, no one else's.<\/p>",
                            "image": "shopify:\/\/shop_images\/app_i_1.webp"
                        }
                    },
                    {
                        "type": "object",
                        "settings": {
                            "heading": "Plan and Schedule",
                            "text": "<p>Use the Qure calendar to schedule in your home at clinical treatments on your own time and get reminders straight to your phone. Scheduled treatments appear as a clock icon and completed treatment appear solid ticks.<\/p>",
                            "image": "shopify:\/\/shop_images\/app_i_2.webp"
                        }
                    },
                    {
                        "type": "object",
                        "settings": {
                            "heading": "Track Treatments",
                            "text": "<p>The Qure planner shows your treatment history and scheduled treatments in a monthly calendar. View your total summary of completed challenges, monthly and yearly treatments.<\/p>",
                            "image": "shopify:\/\/shop_images\/app_i_3.webp"
                        }
                    },
                    {
                        "type": "object",
                        "settings": {
                            "heading": "Stay on Track",
                            "text": "<p>Join a challenge and complete a full-anti-aging or anti-breakout treatment course for maxiumum results.<\/p>",
                            "image": "shopify:\/\/shop_images\/app_i_4.webp"
                        }
                    }
                ]
			}
        ]
    }
{% endschema %}