{% comment %} 
https://www.qureskincare.com/pages/microinfusion-safety-guide
{% endcomment %}

<section class="safety-banner">
  <picture>
    <source media="(min-width:1920px)" srcset="https://qureskincaredns.com/new/assets/mi-safety-banner-desk.webp" width="1903" height="727">
    <source media="(min-width:1600px)" srcset="https://qureskincaredns.com/new/assets/mi-safety-banner-desk.webp" width="1903" height="727">
    <source media="(min-width:1100px)" srcset="https://qureskincaredns.com/new/assets/mi-safety-banner-desk.webp" width="1903" height="727">
    <source media="(min-width:720px)" srcset="https://qureskincaredns.com/new/assets/mi-safety-banner-desk.webp" width="1903" height="727">
    <source media="(min-width:540px)" srcset="https://qureskincaredns.com/new/assets/mi-safety-banner-mob.webp" width="448" height="465">
    <img src="https://qureskincaredns.com/new/assets/mi-safety-banner-mob.webp" width="448" height="465" alt="" class="img-fluid bg_banner">
  </picture>

  <div class="safety-banner-cnt">
    <div class="container">
      <div class="row justify-content-center">
        <div class="offset-md-6 col-md-6 col-11 p-0">
          <div class="safety-banner-cont">
            <h1>Get started with your <br>Micro-Infusion Treatment</h1>
            <div class="new-class">
              <picture>
                <source media="(min-width:1920px)" srcset="https://qureskincaredns.com/new/assets/mi-safety_sm_desk.webp" width="1" height="1">
                <source media="(min-width:1600px)" srcset="https://qureskincaredns.com/new/assets/mi-safety_sm_desk.webp" width="1903" height="727">
                <source media="(min-width:1100px)" srcset="https://qureskincaredns.com/new/assets/mi-safety_sm_desk.webp" width="1903" height="727">
                <source media="(min-width:720px)" srcset="https://qureskincaredns.com/new/assets/mi-safety_sm_mob.webp" width="1" height="1">
                <source media="(min-width:540px)" srcset="https://qureskincaredns.com/new/assets/mi-safety_sm_mob.webp" width="1" height="1">
                <img src="https://qureskincaredns.com/new/assets/mi-safety_sm_mob.webp" width="15" height="16" alt="" class="img-fluid">
              </picture>
              <ul>
                <span>IMPORTANT NOTICE:</span>
                <li>Please read this guideline</li>
                <li>carefully before proceeding</li>
                <li>with microinfusion treatment.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Safety Banner -->


<!-- Tab View  -->
<section class="contents">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="contents-title">Contents</h2>
        <div class="contents-info">
          <div class="tab split-list">
            <li><span>01</span> <a href="#London" class="tablinks active" data-count="1"
                onclick="Safety(event, 'London')">Recommendations of use</a></li>
            <li><span>02</span> <a href="#Paris" class="tablinks" data-count="2"
                onclick="Safety(event, 'Paris')">Get To
                Know Your Micro-Infusion Device</a></li>
            <li><span>03</span> <a href="#Tokyo" class="tablinks" data-count="3"
                onclick="Safety(event, 'Tokyo')">Serum
                info &amp; full ingredients</a></li>
            <li><span>04</span> <a href="#Tokyo_4" class="tablinks" data-count="4"
                onclick="Safety(event, 'Tokyo_4')">Safety
                Guidelines</a></li>
            <li><span>05</span> <a href="#Tokyo_5" class="tablinks" data-count="5"
                onclick="Safety(event, 'Tokyo_5')">Pre
                Treatment</a></li>
            <li><span>06</span> <a href="#Tokyo_6" class="tablinks" data-count="6"
                onclick="Safety(event, 'Tokyo_6')">How To
                Micro-Infuse</a></li>
            <li><span>07</span> <a href="#Tokyo_7" class="tablinks" data-count="7"
                onclick="Safety(event, 'Tokyo_7')">Post
                Treatment Care</a></li>
            <li><span>08</span> <a href="#Tokyo_8" class="tablinks" data-count="8"
                onclick="Safety(event, 'Tokyo_8')">Post
                Treatment Precautions</a></li>
            <li class="d-none d-md-flex"><span>09</span> <a href="#Tokyo_9" class="tablinks" data-count="9"
                onclick="Safety(event, 'Tokyo_9')">How To
                Clean &amp; Storage</a></li>
            <li class="d-flex d-md-none"><span>09</span> <a href="#Tokyo_9" class="tablinks" data-count="9"
                onclick="Safety(event, 'Tokyo_9')">How To
                Clean &amp; Storage Your Micro-Infusion</a></li>
            <li><span>10</span> <a href="#Tokyo_10" class="tablinks" data-count="10"
                onclick="Safety(event, 'Tokyo_10')">FAQ’s</a></li>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="tabing-new">
  <div class="tab">
    <a href="#London" class="tablinks" onclick="Safety(event, 'London')">1</a>
    <a href="#Paris" class="tablinks" onclick="Safety(event, 'Paris')">2</a>
    <a href="#Tokyo" class="tablinks" onclick="Safety(event, 'Tokyo')">3</a>
    <a href="#Tokyo_4" class="tablinks" onclick="Safety(event, 'Tokyo_4')">4</a>
    <a href="#Tokyo_5" class="tablinks" onclick="Safety(event, 'Tokyo_5')">5</a>
    <a href="#Tokyo_6" class="tablinks" onclick="Safety(event, 'Tokyo_6')">6</a>
    <a href="#Tokyo_7" class="tablinks" onclick="Safety(event, 'Tokyo_7')">7</a>
    <a href="#Tokyo_8" class="tablinks" onclick="Safety(event, 'Tokyo_8')">8</a>
    <a href="#Tokyo_9" class="tablinks" onclick="Safety(event, 'Tokyo_9')">9</a>
    <a href="#Tokyo_10" class="tablinks" onclick="Safety(event, 'Tokyo_10')">10</a>
  </div>
  <div class="tab_slider">
    <div id="introduction" class="tabcontent" style="display:block;">
      <div class="tab_con">
        <div class="tab_section_header">
          <h2>Why You’ll love Qure’s Micro-Infusion</h2>
        </div>
        <div class="tab_1_content">
          <div class="icon_main">
            <div class="icon_bx">
              <img src="https://qureskincaredns.com/new/assets/mi_safety-cost.svg" alt="">
            </div>

            <div class="icons_text">
              <h4>Clinical Results, Minus The Clinical Costs</h4>
              <p>Save hundreds of dollars by doing this facial for yourself at home for a fraction of the cost of
                the usual price in clinics.
              </p>
            </div>
          </div>
          <div class="icon_main">
            <div class="icon_bx">
              <img src="https://qureskincaredns.com/new/assets/mi_safety-rapid-results.svg" alt="">
            </div>
            <div class="icons_text">
              <h4>Rapid and Visible Results</h4>
              <p>Whether you deal with rough skin texture or dull skin, you’ll see the difference with Qure’s
                Micro-Infusion treatment in the next day or two of glowy, fresher skin.
              </p>
            </div>
          </div>
          <div class="icon_main">
            <div class="icon_bx">
              <img src="https://qureskincaredns.com/new/assets/mi_safety-absorption.svg" alt="">
            </div>
            <div class="icons_text">
              <h4>Better Serum Absorption</h4>
              <p>Micro-channels infuse nourishing serums into the skin, allowing the skin to absorb the active
                ingredients more effectively.</p>
            </div>
          </div>
          <div class="icon_main">
            <div class="icon_bx">
              <img src="https://qureskincaredns.com/new/assets/mi_safety-quick.svg" alt="">
            </div>
            <div class="icons_text">
              <h4>Quick and Easy</h4>
              <p>This healthy skin booster facial is an easy addition to your facial routine. No minimal pain or
                side effects and only takes 5 minutes.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="London" class="tabcontent" style="display:block;">
      <div class="tab_con tab_con_1">
        <div class="num_box">
          <h6 class="num_tab">1</h6>
        </div>
        <div class="tab_section_header">
          <h2>Recommendations of use</h2>
        </div>
        <div class="guideline_content d-block">
          <div class="guideline_left w-100 pb-4">
            <p>This Instruction Manual gives information about the safe use of the Qure™ microneedling device. It is
              the responsibility of the user to carefully read all information presented in this manual and guide
              before starting to use the Qure™ Micro-Infusion system. It is always the responsibility of the user to
              adhere to the instructions in this manual.
            </p>
            <p>
              It is the responsibility of the user/purchaser to be aware of local laws and regional restrictions for
              microneedling. Read this user manual carefully and in full.</p>
            <p>Keep this Instruction for use so it’s always accessible.</p>
          </div>
          <div class="guideline_right w-100 ms-0">
            <p>
              <span class="para_heading">DISCLAIMER</span>Qure Skincare Pty Ltd or its representatives hold no
              responsibility for
              treatment outcomes as individual results may vary. Qure™ Micro-Infusion system is not designed to cure
              diseases, and is to be used as directed.
            </p>
          </div>
        </div>
        <p class="care_des">
          To ensure a safe and effective experience, please read and understand the following disclaimers before
          using the Qure™ Micro-Infusion system.
          <span id="dots"></span>
          <button onclick="myFunction()" id="myBtn">Read more</button>
        <div id="more">
          <p class="precautions_text pb-4"><span class="para_heading">PRECAUTIONS</span>Qure™ Micro-Infusion system
            is
            intended for personal
            use only and NOT
            intended
            to be used to deliver
            treatment to patients in a commercial setting. Keep out of reach of children; some small parts may
            pose a choking hazard. Discontinue use if any concerns arise and speak to your doctor. Only use and
            apply products after treatment that are not compromised or contaminated. Patch test is recommended
            before proceeding with the full treatment.</p>
          <div class="care_detail">
            <div class="care_content">
              <h6>MEDICAL PRECAUTIONS</h6>
              <p>If you are unsure if the Qure™ Micro-Infusion system device is suitable for you, please seek advice
                from your doctor or qualified medical practitioner.
              </p>
              <p>
                Take care when using the device if you have a history of post-inflammatory hyperpigmentation (PIH)
                (darkening of the skin). People with a history of PIH are more likely to pigment after
                microneedling.
              </p>
              <p>Before use, ensure your skin has been thoroughly cleaned and is free from products or contaminants.
              </p>
              <p>Do not add any products to the skin during or after the procedure other than those listed in this
                manual.</p>
              <p>Protect freshly treated skin areas against physical stress, contamination, UV radiation and
                sunlight.</p>
              <p>Do not use the Qure™ Micro-Infusion device on any skin area except the zones described in this
                manual.</p>
              <p>Do not perform more than two treatments per week.</p>
              <p>Ensure that the needle heads do NOT come into contact with contaminated or unclean objects such as
                clothing or worktop.</p>
              <p>Dispose of contaminated needle heads after use in household waste.</p>
              <p class="customer_support d-none d-md-block">Please contact our customer support if you have any
                questions or
                concerns.
                Thank you for choosing our product, and we hope it enhances your skincare routine.</p>
              <div class="d-none d-md-block">
                <h6 style="color:#c7e7dc;">CONTACT DETAILS</h6>
                <p class="customer_support">Qure Skincare Pty Ltd<br>
                  Sydney, NSW 2000<br>
                  Australia<br>
                  Phone: +1 240 702 2228<br>
                  Email: support@qureskincare.com<br>
                  Website: <a href="www.qureskincare.com"
                    style="text-decoration: underline;cursor: pointer;">www.qureskincare.com</a></p>
              </div>
            </div>
            <div class="care_content">
              <h6>WARNINGS: USE OF THE NEEDLE HEADS</h6>
              <p>The Qure™ Micro-Infusion device requires the use of needle heads, which under certain circumstances
                pose the risk of a sharps injury. Injuries from contaminated needles in needle heads may lead to the
                transmission of diseases.</p>
              <p>Take care when handling needle heads as there is a risk of a sharps injury. If all needles are NOT
                fully intact, the needle head is faulty and must be immediately replaced. Take care when handling
                faulty needle heads as there is a risk of a sharps injury.</p>
              <p>Qure™ Micro-Infusion device contains a safety protection feature built into the needle head to
                prevent the needle going any deeper than 0.5 mm.</p>
              <p>Do NOT attempt to reuse the needle head.</p>
              <p>The needle head may ONLY be attached and removed when the lid is ON. Failure to follow this
                precaution may lead to a sharps injury.</p>
              <p>Do NOT touch the needles and tip at any time. Contact with the needles may lead to a sharps injury
                or contamination.</p>
              <p>Use ONLY needle heads on the device that has been provided.</p>
              <p>ALWAYS dispose of a used or contaminated needle cartridge in household waste immediately after use.
              </p>
              <p class="customer_support d-block d-md-none">Please contact our customer support if you have any
                questions or
                concerns.
                Thank you for choosing our product, and we hope it enhances your skincare routine.</p>
              <div class="d-block d-md-none">
                <h6 style="color:#c7e7dc;">CONTACT DETAILS</h6>
                <p class="customer_support">Qure Skincare Pty Ltd<br>
                  Sydney, NSW 2000<br>
                  Australia<br>
                  Phone: +1 240 702 2228<br>
                  Email: support@qureskincare.com<br>
                  Website: <a href="www.qureskincare.com"
                    style="text-decoration: underline;cursor: pointer;">www.qureskincare.com</a></p>
              </div>
            </div>
          </div>
        </div>
        </p>
      </div>
    </div>
    <div id="Paris" class="tabcontent">
      <div class="tab_con tab_con_2">
        <div class="num_box">
          <h6 class="num_tab">2</h6>
        </div>
        <div class="tab_section_header">
          <h2>Get To Know Your Micro-Infusion Device</h2>
        </div>
        <div class="tab_step2">
          <div class="device-img">
            <img src="https://qureskincaredns.com/new/assets/mi_safety_device.png" class="dekstop-view">
            <img src="https://qureskincaredns.com/new/assets/mi_safety_mob.png" class="mobile-view">
            <ul>
              <li><b>0.5mm</b> needle length</li>
              <li><b>24K Gold</b> plated hypoallergenic microchannels</li>
              <li><b>20pcs</b> surgical grade stainless steel needles</li>
              <li><b>5mL</b> capacity</li>
            </ul>
          </div>
          <div class="device-content">
            <p>
              Qure’s Micro Infusion device allows you to “stamp” your skin with 24K gold needles that are thinner
              than human hair.
            </p>
            <p>
              <span class="d-none d-md-block">This delivers a powerful one-two-punch:</span>
              <span class="d-block d-md-none fw-bold">This delivers a powerful one-two-punch:</span>
              1. It “tricks” your skin into activating your body’s natural healing process.
            </p>
            <p>
              2. It creates invisible channels in the top layer of skin. Then infuses ingredients into your skin
              through to accelerate absorption and results.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="Tokyo" class="tabcontent">
      <div class="tab_con tab_con_3">
        <div class="num_box">
          <h6 class="num_tab">3</h6>
        </div>
        <h2>Serum info & full ingredients</h2>
        <div class="step_diffrent">
          <h4 class="pb-0"></h4>
          <div class="step-serum rejuve">
            <div class="unique_c_item">
              <img src="{{ 'mi_safety_reju.webp' | asset_url }}" alt="" class="img-fluid" style="max-width:86px">
              <div class="u_item_wrapper bg-yellow">
                <div class="u_item_header">
                  <h3>Rejuvenating Serum</h3>
                  <p>Epidermal growth factor <br>(E.G.F) serum • 4 ml / 0.14 fl. Oz </p>
                </div>
              </div>
              <div class="u_item_wrapper bg-yellow">
                <div class="u_ftr">
                  <div class="u_ftr_item">
                    <img src="{{ 'unique_bright_skin.svg' | asset_url }}" alt="">
                    <p>Brightens & evens <br>the look of skin tone</p>
                </div>
                <div class="u_ftr_item">
                    <img src="{{ 'unique_reduce_line.svg' | asset_url }}" alt="">
                    <p>Reduces appearance of fine lines and wrinkles</p>
                </div>
                <div class="u_ftr_item">
                    <img src="{{ 'unique_boosts_drop.svg' | asset_url }}" alt="">
                    <p>Helps boost<br> hydration</p>
                </div>
                </div>
              </div>
              <div class="accordion accordion-flush" id="accordionQuesExample">
                <div class="accordion-item u_item_question bg-yellow">
                  <h3 class="accordion-header u_item_expandable bg-yellow">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#u_item_question_1" aria-expanded="false" aria-controls="u_item_question_1">
                      <div class="containers">What can it do for your skin</div>
                    </button>
                  </h3>
                  <div id="u_item_question_1" class="accordion-collapse collapse"
                    data-bs-parent="#accordionQuesExample">
                    <div class="accordion-body">
                      <div class="containers">
                        <p>Reveals a <strong>smoother, brighter looking,</strong> and evenly
                          <strong>radiant complexion</strong> to generate a glow effect.
                          Stimulating properties to help combat the appearance of wrinkles and
                          help restore youthful skin.
                      </p>
                      <p><strong>Skin Concerns:</strong> Designed for skin with fine lines and
                          wrinkles, rough texture, dark spots, dryness.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item u_item_question bg-yellow">
                  <h3 class="accordion-header u_item_expandable bg-yellow">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#u_item_question_3" aria-expanded="false" aria-controls="u_item_question_3">
                      <div class="containers">All Ingredients</div>
                    </button>
                  </h3>
                  <div id="u_item_question_3" class="accordion-collapse collapse"
                    data-bs-parent="#accordionQuesExample">
                    <div class="accordion-body">
                      <div class="containers">
                        <p>Fragrance-free, Alcohol-free.</p>
                        <p><strong>Epidermal Growth Factor (EGF):</strong><br>Works at a
                            cellular level to repair and
                            rejuvenate skin. Reduces appearance of wrinkles, improves hydration,
                            and
                            prevents pigmentation.</p>
                        <p><strong>Other ingredients:</strong><br><strong>Niacinamide:</strong>
                            Derm-approved
                            superstar ingredient that
                            helps with most skin concerns from soothing to brightening and
                            clarifying, and reducing fine lines and wrinkles.</p>
                        <p><strong>Glycerin:</strong> Replenishes moisture skin loses into the
                            deeper layers of the
                            dermis and makes skin appear dewy.</p>
                        <p><strong>All ingredients:</strong><br>Rosa Damascena Flower Water,
                            Zemea Propanediol 1,3,
                            Vegetable Glycerin, Niacinamide, Panthenol, MacDermaTM TA
                            (Tranexamic
                            Acid), Chrysanthellum indicum extract, Tripeptide-1 /
                            Oligopeptide-1,
                            Evermild EHG (Ethylhexylglycerin), Allantoin, Xanthan Gum,
                            sh-Oligopeptide-1.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="step-serum hydra">
            <div class="unique_c_item">
              <img src="{{ 'mi_safety_hydra.webp' | asset_url }}" alt="" style="max-width: 86px;">
              <div class="u_item_wrapper bg-grey">
                <div class="u_item_header">
                  <h3>Hydra-Soothing Serum </h3>
                  <p>Beta Glucan <br>(β-G) serum • 4 ml / 0.14 fl. Oz </p>
                </div>
              </div>
              <div class="u_item_wrapper bg-grey">
                <div class="u_ftr">
                  <div class="u_ftr_item">
                    <img src="{{ 'unique_soothes.svg' | asset_url }}" alt="">
                    <p>Helps soothe the<br> look of redness</p>
                </div>
                <div class="u_ftr_item">
                    <img src="{{ 'unique_hydrates_drop.svg' | asset_url }}" alt="">
                    <p>Ultra-<br>hydrating</p>
                </div>
                <div class="u_ftr_item">
                    <img src="{{ 'unique_plump_fine.svg' | asset_url }}" alt="">
                    <p>Hydrates to reduce<br> the look of fine lines</p>
                </div>
                </div>
              </div>
              <div class="accordion accordion-flush" id="accordionQuesExample_2">
                <div class="accordion-item u_item_question bg-grey">
                  <h3 class="accordion-header u_item_expandable bg-grey">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#u_item_question_4" aria-expanded="false" aria-controls="u_item_question_4">
                      <div class="containers">What can it do for your skin</div>
                    </button>
                  </h3>
                  <div id="u_item_question_4" class="accordion-collapse collapse"
                    data-bs-parent="#accordionQuesExample_2">
                    <div class="accordion-body">
                      <div class="containers">
                        <p><strong>Ultra hydration.</strong> Hydrates to help plump skin,
                          reducing the look of fine lines, helps reduce the appearance of
                          redness, and supports the skin barrier for healthy, supple looking
                          skin.</p>
                      <p><strong>Skin Concerns:</strong> Designed for dull looking skin with
                          dehydration, dryness, redness, and fine lines.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item u_item_question bg-grey">
                  <h3 class="accordion-header u_item_expandable bg-grey">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#u_item_question_6" aria-expanded="false" aria-controls="u_item_question_6">
                      <div class="containers">All Ingredients</div>
                    </button>
                  </h3>
                  <div id="u_item_question_6" class="accordion-collapse collapse"
                    data-bs-parent="#accordionQuesExample_2">
                    <div class="accordion-body">
                      <div class="containers">
                        <p>Fragrance-free, Alcohol-free.</p>
                                            <p><strong>Beta Glucan:</strong> A tall glass of water for your skin.
                                                Boosts skin barrier,
                                                smooths skin, antioxidant.</p>
                                            <p><strong>Other ingredients:</strong><br><strong>Niacinamide:</strong>
                                                Derm-approved
                                                superstar ingredient that
                                                helps with most skin concerns from soothing to brightening and
                                                clarifying, and reducing fine lines and wrinkles.</p>
                                            <p><strong>Butylene Glycol:</strong> Expert-backed hydrator that
                                                improves penetration to
                                                help it perform more effectively.</p>
                                            <p><strong>Glycerin:</strong> Replenishes moisture skin loses into the
                                                deeper layers of the
                                                dermis and makes skin appear dewy.</p>
                                            <p><strong>All ingredients:</strong><br>Rosa Damascena Flower Water,
                                                Zemea Propanediol 1,3,
                                                Vegetable Glycerin, Panthenol, Niacinamide, Myrothmnus Flabellifolia
                                                leaf / stem extract Water / Butylene Glycol / 4’Hydroxyacetophenone,
                                                Oat
                                                Beta Glucan, Chrysanthellum indicum extract, Evermild EHG
                                                (Ethylhexylglycerin), Palmitoyl Tripeptide-1, Sodium Hyaluronate
                                                (VLMW),
                                                Allantoin.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="Tokyo_4" class="tabcontent">
      <div class="tab_con tab_con_4">
        <div class="num_box">
          <h6 class="num_tab">4</h6>
        </div>
        <h2>Safety Guidelines</h2>
        <div class="guideline_content align-items-center">
          <div class="guideline_left">
            <p>
              This treatment is not intended to diagnose, treat, cure, or prevent any disease. If you have any skin
              conditions, are pregnant or breastfeeding, please consult with your doctor prior to treatment.
            </p>
          </div>
          <div class="guideline_right">
            <p>
              <span>Warning:</span>If you have metal allergies or if you have any medical concern, please consult
              your
              medical professional before using this treatment device. Any harmful consequence resulting from misuse
              or
              application to other body areas, not following instruction or any other improper applications is
              neither
              the responsibility of Qure Skincare Pty Ltd. or its affiliates.
            </p>
          </div>
        </div>
        <div class="safety_wrapper guide_safty">
          <div class="safety_content do_safety">
            <div class="safety_tab">
              DO+ SAFETY GUIDELINES
            </div>
            <div class="safety_info">
              <div class="ss_list">
                <ul>
                  <li>Consult your dermatologist before use if you suffer from any skin condition.</li>
                  <li>Ensure your hands are clean before and during treatment; you may wear gloves if you feel safer
                    doing so.</li>
                  <li>Always perform a patch test on an area of your skin that isn't too exposed prior to treatment,
                    to have a
                    better understanding of how your skin will react and the downtime you should expect.</li>
                  <span class="moretext">
                    <li>Sanitize your hands and the device before use.</li>
                    <li>Wash your face with water if there's any bleeding.</li>
                    <li>Wear high protection sunscreen after treatment.</li>
                    <li>Always store the device in the supplied box for maximum hygiene and safety. </li>
                    <li>Always sterilize the device after treatment.</li>
                    <li>Open and use a new needle head cartridge for every treatment and attach it to your device.
                      Do
                      not touch the tip of the needles.</li>
                  </span>
                  <a class="read_button d-block d-md-none">Read More</a>
                </ul>
              </div>
            </div>
          </div>
          <div class="safety_content dont_safety">
            <div class="safety_tab">
              DONT+ SAFETY GUIDELINES
            </div>
            <div class="safety_info">
              <div class="ss_list incorrect">
                <ul>
                  <li>For safety and hygiene reasons, don’t reuse the needle head. The needle head can only be used
                    once and then disposed safely of after one usage.</li>
                  <li>Don’t use topical retinoids before treatment (at least for a day).</li>
                  <li>Don’t expose yourself to the sun for too long, especially three days before the treatment</li>
                  <li>If you have any active blemishes, you can get as close as possible, but avoid stamping
                    directly on any active breakouts on the skin.</li>
                  <span class="moretext">
                    <li>Don’t proceed with treatment if your skin is already irritated or inflamed.</li>
                    <li>Don’t use any serum to infuse with. Please keep in mind that not all serums are suitable for
                      micro-infusion. Some may cause irritation and should be avoided! We have developed our serum
                      ampoules specifically for Qure’s micro infusion treatment and have low risk of irritation and
                      with no fragrance.</li>
                    <li>Don’t go over one area of your face too many times</li>
                    <li>Don’t apply too much force or pressure.</li>
                    <li>Don’t use comedogenic serums or oils during or after treatment at home</li>
                    <li>Avoid use on raised scars such as keloids</li>
                    <li>Avoid using active skincare products until after day 3 of treatment.</li>
                    <li>Don’t expose the treated aea to the sun up to 72 hours after the treatment. </li>
                  </span>
                  <a class="read_button d-block d-md-none">Read More</a>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="micro_tips d-block d-lg-none">
          <span>Recommended Use:</span>
          <p>Recommended for use every 2 weeks and to be performed at night.
            <br>
            <br>
            Use one serum ampoule and new needle head per treatment.
          </p>
        </div>
      </div>
    </div>

    <div id="Tokyo_5" class="tabcontent">
      <div class="tab_con tab_con_5">
        <div class="num_box">
          <h6 class="num_tab">5</h6>
        </div>
        <h2>Pre Treatment</h2>
        <div class="pre_treat_icon">
          <div class="treat_icon_main">
            <div class="treat_icon_main_icon">
              <img src="https://qureskincaredns.com/new/assets/mi_safetytie_hair.svg">
            </div>
            <p>Tie hair back and keep it away from face. </p>
          </div>
          <div class="treat_icon_main">
            <div class="treat_icon_main_icon">
              <img src="https://qureskincaredns.com/new/assets/mi_safetylotion.svg">
            </div>
            <p>
              Cleanse skin twice to remove all traces of makeup and lotions. Any dirt, oil, or stray hairs that
              touch your face can increase the risk of irritation or infection.
            </p>
          </div>
          <div class="treat_icon_main">
            <div class="treat_icon_main_icon">
              <img src="https://qureskincaredns.com/new/assets/mi_safetyplus.svg">
            </div>
            <p>
              Prepare the treatment area, sterilise the surface you are using, and keep alcohol disinfectant close
              by. If you touch a serum bottle, brush, or anything other than your skin and the device during the
              treatment, you could be causing cross-contamination.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="Tokyo_6" class="tabcontent">
      <div class="tab_con tab_con_6">
        <div class="num_box">
          <h6 class="num_tab">6</h6>
        </div>
        <div class="tab_section_header">
          <h2 class="mb-1" style="margin-bottom:5px !important;">How To Micro-Infuse</h2>
          <h6>5 Minutes Total, Every 2-4 Weeks</h6>
        </div>
        <div class="micro_week">
          <div class="micro_left dekstop_view">
            <div class="micro_video">
              <div class="micro_vide_main">
                <div class="actVideo_block">
                  <div class="ctmVideo__block">
                    <div class="player">
                      <script src="https://fast.wistia.com/embed/medias/yy9nv8vwsn.jsonp" async></script>
                      <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
                      <div class="wistia_responsive_padding" style="padding:177.78% 0 0 0;position:relative;">
                        <div class="wistia_responsive_wrapper"
                          style="height:100%;left:0;position:absolute;top:0;width:100%;">
                          <div class="wistia_embed wistia_async_yy9nv8vwsn seo=false videoFoam=true"
                            style="height:100%;position:relative;width:100%">
                            <div class="wistia_swatch"
                              style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                              <img src="https://fast.wistia.com/embed/medias/yy9nv8vwsn/swatch"
                                style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt=""
                                aria-hidden="true" onload="this.parentNode.style.opacity=1;" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="micro_img">
              <img src="https://qureskincaredns.com/new/assets/Layer_x.png" alt="image">
              <p>Treatment Stamping Face Map Guide</p>
            </div>
            <div class="micro_tips">
              <span>tip:</span>
              <p>
                If you would like more collagen-building on a specific area such as a stubborn divot or acne scar,
                go
                over that area 2-3 times to target that concern. If you have any active blemishes, you can get as
                close
                as possible, but avoid stamping directly on any active breakouts on the skin.
              </p>
            </div>
          </div>
          <div class="micro_right mt-4 mt-md-0">
            <div class="right_slider">
              <div class="mobile_micro-slider swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="micro_step">
                      <div class="micro_step_title"><span>1</span>POURING THE SERUM INTO DEVICE</div>
                      <div class="mico_bullet">
                        <img src="https://qureskincaredns.com/new/assets/mi_safety_s1.webp">
                        <ul>
                          <li>Twist open the chamber of the device.</li>
                          <li>
                            Break the seal of the serum vial, remove rubber stopper and pour serum into the chamber
                            of the
                            device.
                          </li>
                          <li>Place the lid back on the device and twist to close tight.</li>
                          <li><span>Optional: </span>You can mix two serums and fill it until it’s half full.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="micro_step">
                      <div class="micro_step_title"><span>2</span>TURNING IT UPSIDE DOWN</div>
                      <div class="mico_bullet">
                        <img src="https://qureskincaredns.com/new/assets/mi_safety_s2.webp">
                        <ul>
                          <li>Leave the device upside down for 1-2 minutes.</li>
                          <li>During this time, wash your face and make sure your hands are clean.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="micro_step">
                      <div class="micro_step_title"><span>3</span>START MICRO-INFUSING </div>
                      <div class="mico_bullet">
                        <img src="https://qureskincaredns.com/new/assets/mi_safety_s3.webp">
                        <ul>
                          <li>
                            Once the serum has had enough time to make its way into the needles, you can take off
                            the lid and
                            start microinfusing!
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="micro_step">
                      <div class="micro_step_title"><span>4</span>STAMPING</div>
                      <div class="mico_bullet">
                        <img src="https://qureskincaredns.com/new/assets/mi_safety_s4.webp">
                        <ul>
                          <li>Start at the center of the face and work your way outward to cover the full face.</li>
                          <li>
                            Stamp with a 50% overlap. This means each time you stamp you overlap the previous stamp
                            halfway.
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="micro_step">
                      <div class="micro_step_title"><span>5</span>ADJUSTING THE ANGLE</div>
                      <div class="mico_bullet">
                        <img src="https://qureskincaredns.com/new/assets/mi_safety_s5.webp">
                        <ul>
                          <li>
                            Aim to have the serum always on the end where the needles are when stamping to ensure
                            you’re
                            infusing serum into skin whilst stamping.
                          </li>
                          <li>This might require you to slightly adjust the angle of your famping whilst stamping.
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="micro_step">
                      <div class="micro_step_title"><span>6</span>LEFTOVER SERUM</div>
                      <div class="mico_bullet">
                        <img src="https://qureskincaredns.com/new/assets/mi_safety_s6.webp">
                        <ul>
                          <li>Take all the leftover serum from the device and pat it onto your face and neck.</li>
                          <li>Leave the serum on overnight so your skin can drink up all those nourishing
                            ingredients.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="micro_step">
                      <div class="micro_step_title"><span>7</span>DISPOSAL</div>
                      <div class="mico_bullet">
                        <img src="https://qureskincaredns.com/new/assets/mi_safety_s7.webp">
                        <ul>
                          <li>
                            Once treatment is done, place lid back on the device and twist off the needle head to
                            safely
                            dispose.
                          </li>
                          <li>Open and use a new sterile needle head per treatment.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-pagination mt-3"></div>
              </div>
            </div>
          </div>
          <div class="micro_left mobile_view">
            <div class="micro_img">
              <img src="https://qureskincaredns.com/new/assets/Layer_x.png">
              <p>Treatment Stamping Face Map Guide</p>
            </div>
            <div class="micro_tips">
              <span>tip:</span>
              <p>
                If you would like more collagen-building on a specific area such as a stubborn divot or acne scar,
                go
                over that area 2-3 times to target that concern. If you have any active blemishes, you can get as
                close
                as possible, but avoid stamping directly on any active breakouts on the skin.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="Tokyo_7" class="tabcontent">
      <div class="tab_con tab_con_7">
        <div class="num_box">
          <h6 class="num_tab">7</h6>
        </div>
        <h2>Post Treatment Care</h2>
        <p class="care_des">
          After you’ve infused your skin with all that skin boosting serum, try to keep the skin clean for 24 hours
          and
          follow these post treatment guidelines:
        </p>
        <div class="care_detail">
          <div class="care_content color_green">
            <h6>CLEAN AND MOISTURIZE</h6>
            <p>The day after treatment, wash your face with a gentle cleanser and apply a nourishing moisturizer.
            </p>
            <h6>AVOID MAKEUP</h6>
            <p>
              Skip makeup for as long as you can, but at minimum, at least 24 hours. If applying makeup is
              unavoidable,
              try to use one specifically for post-treatments or for sensitive skin to avoid irritation.
            </p>
            <h6>AVOID ACIDS</h6>
            <p>
              Keep in mind, anything you put on your skin after using Qure Microinfusion will absorb more easily, so
              it’s important to keep the skin clean and use products that don’t have harsh ingredients (no acids!).
            </p>
            <h6>AVOID POOLS</h6>
            <p>Avoid swimming, saunas and steam rooms for at least 24 hours post-treatment.</p>
          </div>
          <div class="care_content color_green">
            <h6>REDUCE REDNESS</h6>
            <p>
              Users may experience minor redness and irritation after the procedure but should quickly subside. Skin
              may
              experience mild swelling, peeling or flaking. You can minimize these effects by keeping the skin
              moisturized, which will reduce shedding and alleviate tightness.
            </p>
            <h6>AVOID SWEAT</h6>
            <p>
              No exercising or strenuous activity for the first 24 hours post-treatment. Sweating and gym
              environments
              are harmful, rife with bacteria, and may cause adverse reactions.
            </p>
            <h6>DON’T TOUCH</h6>
            <p>Avoid touching your face, especially with dirty hands that haven’t been sanitized.</p>
            <h6>GET READY!</h6>
            <p>Be ready to see your results on day two or three. Better skin is waiting for you!</p>
          </div>
        </div>
      </div>
    </div>
    <div id="Tokyo_8" class="tabcontent">
      <div class="tab_con tab_con_8">
        <div class="num_box">
          <h6 class="num_tab">8</h6>
        </div>
        <h2>Post Treatment Precautions</h2>
        <p class="care_des">
          Please carefully follow the post treatment guidelines for the best results and to ensure that the full
          effects of Micro-Infusion are experienced.
        </p>
        <div class="care_detail">
          <div class="care_content">
            <h6>skip washing after the treatment</h6>
            <p>Avoid washing your face the day of treatment.</p>
            <h6>AVOID MAKEUP</h6>
            <p>
              Skip makeup for minimum 24 hours. If applying makeup is unavoidable, try to use one specifically for
              post-treatments or for sensitive skin to avoid irritation.
            </p>
            <h6>avoid sun exposure</h6>
            <p>Avoid direct sun exposure 24-48 hours after treatment.</p>
            <p>Apply a high protection sunscreen when going outdoors, and avoid prolonged sun exposure.</p>
            <p>Use good quality non-comedogenic sunscreen if going in the sun.</p>
          </div>
          <div class="care_content">
            <h6>skip skincare products</h6>
            <p>
              Avoid applying skincare products containing fragrances, active ingredients or acids such as Alpha
              Hydroxy
              Acids, Beta Hydroxy Acid, Retinol (Vitamin A), Vitamin C or anything perceived as ‘active’ skincare
              including scrubs or toners for at least 2-3 days post-treatment, as it may cause irritation.
            </p>
            <h6>Avoid exfoliation</h6>
            <p>
              Avoid exfoliating products for 2-3 days after treatment because they can be abrasive on skin when it
              is in
              that kind of condition.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="Tokyo_9" class="tabcontent">
      <div class="tab_con tab_con_9">
        <div class="num_box">
          <h6 class="num_tab">9</h6>
        </div>
        <h2>How To Clean & Storage </h2>
        <p>
          Once you’ve finished stamping your way to brighter and plumper skin, follow the below cleaning
          instructions:
        </p>
        <div class="clean_storage">
          <div class="clean_con clean_des">
            <p>cleanING:</p>
            <ul>
              <li>Twist off the needle head with the cap attached and safely dispose.</li>
              <li>Wash the chamber out with water and gentle cleanser.</li>
              <li>Let the device air dry completely, on a clean surface, before packing away.</li>
              <li>
                Open a brand new needle head packet and attach the needle head onto the device. Ensure hands are
                clean
                and don’t open the cap of the needle head.
              </li>
            </ul>
          </div>
          <div class="clean_con storage_des">
            <p>storage:</p>
            <ul>
              <li>Store the device in the box until your next use and between treatments.</li>
              <li>
                Keep device and needle heads in a safe, dry environment away from heat, humidity and bacteria.
                Bathroom
                storage is not recommended.
              </li>
              <li>Store away out of reach from children.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="Tokyo_10" class="tabcontent">
      <div class="tab_con tab_con_10">
        <div class="num_box">
          <h6 class="num_tab">10</h6>
        </div>
        <h2>Frequently Asked Questions</h2>
        <div class="accordion-main">
          <div class="set-innner" id="accordion-no-dek-1">
            <a href="javascript:;">
              When will I see results, and how long will results last?<i class="fa fa-plus"></i>
            </a>
            <div class="content">
              <p>
                Micro-infusion treatment is powerful, and you’ll likely notice the first results instantly, with a
                strong radiance boost, softer fine lines and overall a healthy, fresh complexion in the next day or
                two.
              </p>
              <p>
                The more treatments you perform, the more outstanding skin benefits you’ll receive. Depending on how
                many treatments you complete, the results should last three to four months. This fast and easy home
                facial is perfect for doing before a big event when you need to boost your skin’s complexion
                quickly.
              </p>
              <p>
                Don’t forget to keep up with your everyday skincare routine to boost the effectiveness of your
                micro-infusion results and keep your skin healthy, hydrated, and glowing longterm.
              </p>
            </div>
          </div>

          <div class="set-innner" id="accordion-no-dek-2">
            <a href="javascript:;"> How often can I do the treatment?<i class="fa fa-plus"></i> </a>
            <div class="content">
              <p>We recommend a microinfusion treatment every 2 weeks for the best results!</p>
            </div>
          </div>

          <div class="set-innner" id="accordion-no-dek-3">
            <a href="javascript:;"> When is the best time to do micro-infusion?<i class="fa fa-plus"></i> </a>
            <div class="content">
              <p>
                We recommend doing the treatment at night before bed. Avoid being in the sun and using makeup for 24
                hours after the treatment. For more information
              </p>
            </div>
          </div>

          <div class="set-innner" id="accordion-no-dek-4">
            <a href="javascript:;"> What are the benefits of micro-infusion?<i class="fa fa-plus"></i> </a>
            <div class="content">
              <p>
                The needles of the microinfusion device and the stamping action triggers the body’s natural healing
                process and in turn boosts the production of collage, making your skin look firmer and fine lines
                look
                softer.
              </p>
              <p>
                The serum booster that you choose to infuse during your microinfusion will determine the major
                benefits
                of your treatment. Very fine hollow needles infuse micro-droplets of concentrated serum at a
                specific
                depth into the dermis (top layer) of your skin precisely where they are needed to accelerate
                absorption
                of active ingredients that target specific skin concerns.
              </p>
              <p>You can switch up your treatments and even mix the two serums together!</p>
              <p>A few more benefits:</p>
              <ul>
                <li>More even skin tone and texture</li>
                <li>Glowing, fresh complexion</li>
                <li>Softer fine lines</li>
                <li>Firmer, rejuvenated skin</li>
              </ul>
            </div>
          </div>
          <div class="set-innner" id="accordion-no-dek-13">
            <a href="javascript:;"> How do I use/ perform the micro-infusion facial?<i class="fa fa-plus"></i> </a>
            <div class="content">
              <p>
                1. Twist open the chamber of the device and fill until it’s half full with one (1) ampule of serum
                and
                close it tight. Put back on the lid.<br>
                Option: You can mix two of the serums to treat multiple concerns!
              </p>
              <p>
                2. Leave it upside down for 1-2 minutes. During this time, you can wash your face and make sure your
                hands are nice and clean.
              </p>
              <p>
                3. Once the serum has had enough time to make its way into the needles, you can take off the lid and
                start stamping!
              </p>
              <p>
                Start at the center of the face and work your way outward to cover the full face. Stamp with a 50%
                overlap. This means each time you stamp you overlap the previous stamp halfway.
              </p>
              <p class="faq-img text-center">
                <img src="https://qureskincaredns.com/new/assets/Layer_x.png" alt="">
              </p>
              <p>4. Repeat 2-3 passes for better results.</p>
              <p>
                Leave the serum on overnight so your skin can drink up all that yummy serum. (Hack: take any
                leftover
                serum from the bottle and pat it onto your face and neck).
              </p>
            </div>
          </div>
          <div class="set-innner" id="accordion-no-dek-14">
            <a href="javascript:;"> There is a lot of serum left over, can I save it for another treatment?<i
                class="fa fa-plus"></i> </a>
            <div class="content">
              <p>
                One vial of serum is intended for one whole treatment. Stamp with a 50% overlap. This means each
                time you stamp you overlap the previous stamp halfway.
              </p>
              <p>
                Aim to have the serum always on the end where the needles are when stamping to ensure you’re
                infusing serum into skin whilst stamping. This might require you to slightly adjust the angle of
                your face whilst stamping.
              </p>
              <p>
                You may do 2-3 passes of your face, or any specific areas of concern (ie. fine lines around the
                mouth or crows feet) to get the best results.
              </p>
              <p>
                Once you’ve completed the treatment, take the leftover serum from the device and pat it onto your
                face and neck. Leave the serum on overnight so your skin can drink up all those nourishing
                ingredients!
              </p>
              <p>
                If you’re mixing Hydra-Soothing and Rejuvenating serum for your treatment, then dispense half of
                each vial into the device and place the rubber stoppers back onto the serum vial and use the
                remaining for your next treatment.
              </p>
            </div>
          </div>
          <div class="set-innner" id="accordion-no-dek-15">
            <a href="javascript:;"> How often do I need to perform a Micro-Infusion treatment?<i
                class="fa fa-plus"></i> </a>
            <div class="content">
              <p>
                We recommend a treatment every 2 weeks :)
              </p>
            </div>
          </div>
          <div class="set-innner" id="accordion-no-dek-16">
            <a href="javascript:;"> How do I open the serum vial?<i class="fa fa-plus"></i> </a>
            <div class="content">
              <div class="row">
                <div class="col-md-4">
                  <div class="faq-img h-100 pb-3">
                    <img src="https://qureskincaredns.com/new/assets/faq_serum.webp" alt="" class="img-fluid h-100">
                  </div>
                </div>
                <div class="col-md-8">
                  <p>Our serums come sealed with aluminum to ensure the serum stays sterile for treatment.</p>
                  <p>1. Firmly hold the body of the serum vial with one hand. Find the arrow on the cap lid and flip
                    to
                    open from the end where the arrow is located.</p>
                  <p>2. Once the seal has been broken, hold the cap and steadily bend the silver seal away from the
                    serum
                    vial until it almost snaps off.</p>
                  <p>3. Peel back the silver seal from around the top of the serum vial and dispose of it in the
                    bin.</p>
                  <p>4. Remove the rubber stopper and pour the serum into your Micro-Infusion device.</p>
                  <p>If you’re mixing both the Rejuvenating and Hyrda-Soothing Serum for your treatment then put
                    back
                    the rubber stopper on the vial to save the remaining serum for your next session!</p>
                </div>
              </div>
            </div>
          </div>
          <div class="set-innner" id="accordion-no-dek-17">
            <a href="javascript:;"> What does 50% overlay mean?<i class="fa fa-plus"></i></a>
            <div class="content">
              <p>
                50% overlay means each time you stamp, you overlap the previous stamp halfway. This should leave
                each area of the face stamped at least twice.
              </p>
            </div>
          </div>
          <div class="set-innner" id="accordion-no-dek-17">
            <a href="javascript:;"> Why isn’t the serum coming out of the device when I’m stamping?<i
                class="fa fa-plus"></i> </a>
            <div class="content">
              <p>
                When stamping it’s best to ensure the serum is at the end of the device where the needles are.
                Sometimes this requires you to slightly tilt your head back or device towards the ceiling to help
                the serum make its way through the needles.
              </p>
              <p>
                Another tip is to pop the lid back on the device and put it upside down again, firmly tap the end of
                the device a few times to help push the serum down the needles
              </p>
            </div>
          </div>
          <div class="set-innner" id="accordion-no-dek-17">
            <a href="javascript:;"> Can I micro-infuse around the eyes?<i class="fa fa-plus"></i> </a>
            <div class="content">
              <p>
                Yes you can! Just make sure to apply a very gentle pressure when stamping around the eye area and
                only do 1 pass. Monitor your skin accordingly as everyone’s skin is different.
              </p>
            </div>
          </div>
          <div class="set-innner" id="accordion-no-dek-17">
            <a href="javascript:;"> Can I treat my neck?<i class="fa fa-plus"></i> </a>
            <div class="content">
              <p>
                Yes! Performing Micro-Infusion on the neck can help improve the appearance of fine lines, and
                rejuvenate skin. It can target issues such as neck creases, horizontal lines, and age-related skin
                concerns to help enhance the overall texture, tone, and youthfulness of the skin.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab_button" page-count>
      <a class="preview-btn" rel="noindex nofollow">
        <img src="https://qureskincaredns.com/new/assets/arrow-prev.svg" alt="" class="pe-2">
        Previous
      </a>
      <a class="next-btn" rel="noindex nofollow">Next
        <img src="https://qureskincaredns.com/new/assets/arrow-next.png" class="ps-2">
      </a>
    </div>
  </div>
</div>
<!-- Tab View End -->